# Implementacja modelu uczenia maszynowego na potrzeby predykcji kursu indeksu WIG20

Ideą numer 1 jest próba wyłonienia najbardziej istotnych informacji, które zwiększają prawdopodobieństwo podjęcia właściwej decyzji inwestycyjnej.
Ideą numer 2 jest stworzenie modelu uczenia maszynowego, aby sprawdzić jego przydatność w tradingu. Używana do budowy modeli jest bibliteka scikit-learn.
Idea numer 3 to próba wyłonienia powiązań między wskaźnikami, które z wyprzedzeniem informują o zbliżających się sygnałach inwestycyjnych

### Instalacja niezbędnych bibliotek

Bazuję na danych historycznych pochodzących z serwisu: https://www.dukascopy.com/swiss/pl/marketwatch/historical/
Dukascopy daje możliwość pobierania danych za pomocą specjalnej biblioteki pythonowej, co jest bardzo wygodnym rozwiązaniem. Nazwa biblioteki: dukascopy-python

In [378]:
#pip install dukascopy-python

In [379]:
#pip install --upgrade dukascopy-python

Biblioteka dukascopy-python pobiera dane prosto do struktury danych Pandas DataFrame, więc trzeba zainstalować biblitekę Pandas

In [380]:
#pip install pandas

In [381]:
#pip install --upgrade pandas

Sprawdzenie możliwości biblioteki

Niezbędna będzie malipulacja datami: biblioteka datetime

In [382]:
#pip install datetime

In [383]:
#pip install --upgrade datetime

Skoro ML to biblioteka scikit-learn

In [384]:
#pip install scikit-learn

In [385]:
#pip intall --upgrade scikit-learn

Jakaś biblioteka do analizy technicznej

In [386]:
#pip install pandas-ta

In [387]:
#pip install --ipgrade pandas-ta

### Import bibliotek

In [388]:
from datetime import datetime
#
import dukascopy_python as dcp
#
import pandas as pd
#
import pandas_ta as ta

Wyświetlenie dokumentacji biblioteki dukascopy_python

In [389]:
help(dcp)

Help on package dukascopy_python:

NAME
    dukascopy_python

PACKAGE CONTENTS
    instruments

FUNCTIONS
    fetch(instrument: str, interval: str, offer_side: str, start: datetime.datetime, end: datetime.datetime, max_retries: int = 7, limit: int = 30000, debug=False)

    live_fetch(instrument: str, interval_value: int, time_unit: str, offer_side: str, start: datetime.datetime, end: datetime.datetime, max_retries: int = 7, limit: int = 30000, debug=False)

    sleep(...)
        sleep(seconds)

        Delay execution for a given number of seconds.  The argument may be
        a floating-point number for subsecond precision.

DATA
    INTERVAL_DAY_1 = '1DAY'
    INTERVAL_HOUR_1 = '1HOUR'
    INTERVAL_HOUR_4 = '4HOUR'
    INTERVAL_MIN_1 = '1MIN'
    INTERVAL_MIN_10 = '10MIN'
    INTERVAL_MIN_15 = '15MIN'
    INTERVAL_MIN_30 = '30MIN'
    INTERVAL_MIN_5 = '5MIN'
    INTERVAL_MONTH_1 = '1MONTH'
    INTERVAL_SEC_1 = '1SEC'
    INTERVAL_SEC_10 = '10SEC'
    INTERVAL_SEC_30 = '30SEC'
    INTERVAL_TICK = 'TICK'
    INTERVAL_WEEK_1 = '1WEEK'
    OFFER_SIDE_ASK = 'A'
    OFFER_SIDE_BID = 'B'
    TIME_UNIT_DAY = 'DAY'
    TIME_UNIT_HOUR = 'HOUR'
    TIME_UNIT_MIN = 'MIN'
    TIME_UNIT_MONTH = 'MONTH'
    TIME_UNIT_SEC = 'SEC'
    TIME_UNIT_TICK = 'TICK'
    TIME_UNIT_WEEK = 'WEEK'

FILE
    c:\users\mt242\anaconda3\lib\site-packages\dukascopy_python\__init__.py

Sprawdzenie listy dostępnych instrumentów

In [390]:
import dukascopy_python.instruments as dcpi

In [391]:
#help(dcpi)

Sprawdzenie możliwości biblioteki Pandas TA

In [392]:
#help(ta)

Sprawdzenie jakie wskaźniki i funkcje są dostępne w bibliotece Pandas-TA

In [393]:
df = pd.DataFrame()
lista_wskaźników = [metoda for metoda in dir(df.ta) if not metoda.startswith('_')]

print(f"Znaleziono {len(lista_wskaźników)} wskaźników i funkcji.")
print(lista_wskaźników)

Znaleziono 157 wskaźników i funkcji.
['aberration', 'above', 'above_value', 'accbands', 'ad', 'adjusted', 'adosc', 'adx', 'alma', 'amat', 'ao', 'aobv', 'apo', 'aroon', 'atr', 'bbands', 'below', 'below_value', 'bias', 'bop', 'brar', 'categories', 'cci', 'cdl_pattern', 'cdl_z', 'cfo', 'cg', 'chop', 'cksp', 'cmf', 'cmo', 'constants', 'coppock', 'cores', 'cross', 'cross_value', 'cti', 'datetime_ordered', 'decay', 'decreasing', 'dema', 'dm', 'donchian', 'dpo', 'ebsw', 'efi', 'ema', 'entropy', 'eom', 'er', 'eri', 'exchange', 'fisher', 'fwma', 'ha', 'hilo', 'hl2', 'hlc3', 'hma', 'hwc', 'hwma', 'ichimoku', 'increasing', 'indicators', 'inertia', 'jma', 'kama', 'kc', 'kdj', 'kst', 'kurtosis', 'kvo', 'last_run', 'linreg', 'log_return', 'long_run', 'macd', 'mad', 'massi', 'mcgd', 'median', 'mfi', 'midpoint', 'midprice', 'mom', 'natr', 'nvi', 'obv', 'ohlc4', 'pdist', 'percent_return', 'pgo', 'ppo', 'psar', 'psl', 'pvi', 'pvo', 'pvol', 'pvr', 'pvt', 'pwma', 'qqe', 'qstick', 'quantile', 'reverse', 'rma', 'roc', 'rsi', 'rsx', 'rvgi', 'rvi', 'short_run', 'sinwma', 'skew', 'slope', 'sma', 'smi', 'squeeze', 'squeeze_pro', 'ssf', 'stc', 'stdev', 'stoch', 'stochrsi', 'strategy', 'supertrend', 'swma', 't3', 'td_seq', 'tema', 'thermo', 'ticker', 'time_range', 'to_utc', 'tos_stdevall', 'trima', 'trix', 'true_range', 'tsi', 'tsignals', 'ttm_trend', 'ui', 'uo', 'variance', 'version', 'vhf', 'vidya', 'vortex', 'vp', 'vwap', 'vwma', 'wcp', 'willr', 'wma', 'xsignals', 'zlma', 'zscore']

### Definicja paramertów dla dla funkcji fetch() z biblioteki dukascopy_python

In [394]:
instrument = 'EUR/USD'
interval = '1DAY'
offer_side = 'B' 
start_date = datetime(2000, 1, 1)
end_date = datetime.today()

### Pobranie danych do Pandas DataFrame

In [395]:
df = dcp.fetch(instrument, interval, offer_side, start_date, end_date)

INFO:DUKASCRIPT:current timestamp :2025-08-01T02:00:00

In [396]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7152 entries, 2003-05-04 00:00:00+00:00 to 2025-08-01 00:00:00+00:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    7152 non-null   float64
 1   high    7152 non-null   float64
 2   low     7152 non-null   float64
 3   close   7152 non-null   float64
 4   volume  7152 non-null   float64
dtypes: float64(5)
memory usage: 335.2 KB

Zbiór jest kompletny, zgodnie z oczekiwaniami zawiera dane do dnia poprzedzającego dzień uruchomienia skryptu.
Pora zatem na rozbudowanie zbioru i policzenie interesujących nas statystyk, wskaźników i miar.

Wskaźniki trendu

1. adx (Average Directional Index)
2. amat (Archer Moving Average Trend)
3. aroon (Aroon Indicator)
4. cti (Correlation Trend Indicator)
5. dm (Directional Movement)
6. ebsw (Even Better Sine Wave)
7. er (Efficiency Ratio)
8. ichimoku (Ichimoku Kinko Hyo)
9. linreg (Linear Regression)
10. psar (Parabolic Stop and Reverse)
11. slope (Slope)
12. supertrend (Supertrend)
13. td_seq (TD Sequential)
14. ttm_trend (TTM Trend)
15. vhf (Vertical Horizontal Filter)
16. vortex (Vortex Indicator)

In [397]:
# 1. Average Directional Index, ustawienia standardowe
# Default Inputs: length=14, lensig=lenght, scalar=100, mamode='rma', drift=1, offset=0 <- parametry do modyfikacji
df.ta.adx(append=True)

                              ADX_14     DMP_14     DMN_14
timestamp
2003-05-04 00:00:00+00:00        NaN        NaN        NaN
2003-05-05 00:00:00+00:00        NaN        NaN        NaN
2003-05-06 00:00:00+00:00        NaN        NaN        NaN
2003-05-07 00:00:00+00:00        NaN        NaN        NaN
2003-05-08 00:00:00+00:00        NaN        NaN        NaN
...                              ...        ...        ...
2025-07-28 00:00:00+00:00  22.819567  20.076440  27.971068
2025-07-29 00:00:00+00:00  23.094972  18.568266  32.078387
2025-07-30 00:00:00+00:00  24.348391  15.824123  37.494199
2025-07-31 00:00:00+00:00  25.512280  15.059176  35.681707
2025-08-01 00:00:00+00:00  24.550656  23.434714  29.856006

[7152 rows x 3 columns]

In [398]:
# 2. Archer Moving Average Trend, ustawienia standardowe
# Default Inputs: fast=8, slow=21, lookback=2, mamode='ema', offset=0 <- parametry do modyfikacji
df.ta.amat(append=True)

                           AMATe_LR_8_21_2  AMATe_SR_8_21_2
timestamp
2003-05-04 00:00:00+00:00                0                0
2003-05-05 00:00:00+00:00                0                0
2003-05-06 00:00:00+00:00                0                0
2003-05-07 00:00:00+00:00                0                0
2003-05-08 00:00:00+00:00                0                0
...                                    ...              ...
2025-07-28 00:00:00+00:00                0                1
2025-07-29 00:00:00+00:00                0                1
2025-07-30 00:00:00+00:00                0                1
2025-07-31 00:00:00+00:00                0                1
2025-08-01 00:00:00+00:00                0                1

[7152 rows x 2 columns]

In [399]:
# 3. Aroon Indicator, ustawienia standardowe
# Default Inputs: length=14, scalar=100, talib=True, offset=0 <- parametry do modyfikacji
df.ta.aroon(append=True)

                            AROOND_14  AROONU_14  AROONOSC_14
timestamp
2003-05-04 00:00:00+00:00         NaN        NaN          NaN
2003-05-05 00:00:00+00:00         NaN        NaN          NaN
2003-05-06 00:00:00+00:00         NaN        NaN          NaN
2003-05-07 00:00:00+00:00         NaN        NaN          NaN
2003-05-08 00:00:00+00:00         NaN        NaN          NaN
...                               ...        ...          ...
2025-07-28 00:00:00+00:00   35.714286  78.571429    42.857143
2025-07-29 00:00:00+00:00  100.000000  71.428571   -28.571429
2025-07-30 00:00:00+00:00  100.000000  64.285714   -35.714286
2025-07-31 00:00:00+00:00   92.857143  57.142857   -35.714286
2025-08-01 00:00:00+00:00  100.000000  50.000000   -50.000000

[7152 rows x 3 columns]

In [400]:
# 4. Correlation Trend Indicator, ustawienia standardowe
# Default Inputs: length=12, offset=0 <- parametry do modyfikacji
df.ta.cti(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00    0.547996
2025-07-29 00:00:00+00:00    0.101664
2025-07-30 00:00:00+00:00   -0.319069
2025-07-31 00:00:00+00:00   -0.587382
2025-08-01 00:00:00+00:00   -0.675145
Name: CTI_12, Length: 7152, dtype: float64

In [401]:
# 5. Directional Movement, ustawienia standardowe
# Default Inputs: length=14, mamode='rma', talib=True, drift=1, offset=0 <- parametry do modyfikacji
df.ta.dm(append=True)

                             DMP_14    DMN_14
timestamp
2003-05-04 00:00:00+00:00       NaN       NaN
2003-05-05 00:00:00+00:00       NaN       NaN
2003-05-06 00:00:00+00:00       NaN       NaN
2003-05-07 00:00:00+00:00       NaN       NaN
2003-05-08 00:00:00+00:00       NaN       NaN
...                             ...       ...
2025-07-28 00:00:00+00:00  0.001523  0.002122
2025-07-29 00:00:00+00:00  0.001414  0.002443
2025-07-30 00:00:00+00:00  0.001313  0.003112
2025-07-31 00:00:00+00:00  0.001219  0.002889
2025-08-01 00:00:00+00:00  0.002106  0.002683

[7152 rows x 2 columns]

In [402]:
# 6. Even Better Sine Wave, ustawienia standardowe
# Default Inputs: length=40, bars=10, offset=0 <- parametry do modyfikacji
df.ta.ebsw(append=True)

C:\Users\mt242\AppData\Local\Temp\ipykernel_37700\2968336787.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.ta.ebsw(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00    0.156943
2025-07-29 00:00:00+00:00   -0.612977
2025-07-30 00:00:00+00:00   -0.918954
2025-07-31 00:00:00+00:00   -0.984813
2025-08-01 00:00:00+00:00   -0.939068
Name: EBSW_40_10, Length: 7152, dtype: float64

In [403]:
# 7. Efficiency Ratio, ustawienia standardowe
# Default Inputs: length=10, drift=1, offset=0 <- parametry do modyfikacji
df.ta.er(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00    0.100723
2025-07-29 00:00:00+00:00    0.156083
2025-07-30 00:00:00+00:00    0.364168
2025-07-31 00:00:00+00:00    0.394043
2025-08-01 00:00:00+00:00    0.178887
Name: ER_10, Length: 7152, dtype: float64

In [404]:
# 8. Ichimoku Kinko Hyo, ustawienia standardowe
# Default Inputs: tenkan=9, kijun=26, senkou=52, include_chikou=True, offset=0 <- parametry do modyfikacji
df.ta.ichimoku(append=True)

(                              ISA_9    ISB_26     ITS_9    IKS_26   ICS_26
 timestamp
 2003-05-04 00:00:00+00:00       NaN       NaN       NaN       NaN  1.17337
 2003-05-05 00:00:00+00:00       NaN       NaN       NaN       NaN  1.16444
 2003-05-06 00:00:00+00:00       NaN       NaN       NaN       NaN  1.18397
 2003-05-07 00:00:00+00:00       NaN       NaN       NaN       NaN  1.16973
 2003-05-08 00:00:00+00:00       NaN       NaN       NaN       NaN  1.16989
 ...                             ...       ...       ...       ...      ...
 2025-07-28 00:00:00+00:00  1.154422  1.140950  1.168685  1.169320      NaN
 2025-07-29 00:00:00+00:00  1.156655  1.140950  1.165375  1.167430      NaN
 2025-07-30 00:00:00+00:00  1.159455  1.142790  1.159475  1.161530      NaN
 2025-07-31 00:00:00+00:00  1.161633  1.144745  1.159475  1.160540      NaN
 2025-08-01 00:00:00+00:00  1.161742  1.144745  1.159010  1.160075      NaN

 [7152 rows x 5 columns],
                               ISA_9    ISB_26
 2025-08-04 00:00:00+00:00  1.164905  1.144745
 2025-08-05 00:00:00+00:00  1.165522  1.144745
 2025-08-06 00:00:00+00:00  1.167460  1.144745
 2025-08-07 00:00:00+00:00  1.167905  1.144745
 2025-08-08 00:00:00+00:00  1.167875  1.144745
 2025-08-11 00:00:00+00:00  1.167875  1.144745
 2025-08-12 00:00:00+00:00  1.168178  1.144745
 2025-08-13 00:00:00+00:00  1.168705  1.146230
 2025-08-14 00:00:00+00:00  1.168675  1.148030
 2025-08-15 00:00:00+00:00  1.168003  1.148030
 2025-08-18 00:00:00+00:00  1.166467  1.148030
 2025-08-19 00:00:00+00:00  1.165707  1.150045
 2025-08-20 00:00:00+00:00  1.164937  1.150095
 2025-08-21 00:00:00+00:00  1.164547  1.152005
 2025-08-22 00:00:00+00:00  1.164728  1.152005
 2025-08-25 00:00:00+00:00  1.164022  1.152005
 2025-08-26 00:00:00+00:00  1.165010  1.152005
 2025-08-27 00:00:00+00:00  1.168047  1.152005
 2025-08-28 00:00:00+00:00  1.168292  1.152005
 2025-08-29 00:00:00+00:00  1.168292  1.152005
 2025-09-01 00:00:00+00:00  1.168292  1.152005
 2025-09-02 00:00:00+00:00  1.169002  1.152640
 2025-09-03 00:00:00+00:00  1.166403  1.157105
 2025-09-04 00:00:00+00:00  1.160502  1.158665
 2025-09-05 00:00:00+00:00  1.160008  1.159110
 2025-09-08 00:00:00+00:00  1.159543  1.159330)

In [405]:
# 9. Linear Regression, ustawienia standardowe
# Default Inputs: length=10, offset=0 <- parametry do modyfikacji
df.ta.linreg(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00    1.171663
2025-07-29 00:00:00+00:00    1.168764
2025-07-30 00:00:00+00:00    1.163186
2025-07-31 00:00:00+00:00    1.157406
2025-08-01 00:00:00+00:00    1.156071
Name: LR_14, Length: 7152, dtype: float64

In [406]:
# 10. Parabolic Stop and Reverse, ustawienia standardowe
# Default Inputs: af0=0.02, af=0.02, max_af=0.2, offset=0 <- parametry do modyfikacji
df.ta.psar(append=True)

,PSARl_0.02_0.2,PSARs_0.02_0.2,PSARaf_0.02_0.2,PSARr_0.02_0.2
timestamp,,,,
2003-05-04 00:00:00+00:00,NaN,NaN,0.02,0
2003-05-05 00:00:00+00:00,NaN,1.130090,0.02,1
2003-05-06 00:00:00+00:00,1.120140,NaN,0.02,1
2003-05-07 00:00:00+00:00,1.120140,NaN,0.02,0
2003-05-08 00:00:00+00:00,1.120638,NaN,0.04,0
...,...,...,...,...
2025-07-28 00:00:00+00:00,NaN,1.178870,0.02,1
2025-07-29 00:00:00+00:00,NaN,1.178463,0.04,0
2025-07-30 00:00:00+00:00,NaN,1.177399,0.06,0
2025-07-31 00:00:00+00:00,NaN,1.175160,0.06,0
2025-08-01 00:00:00+00:00,NaN,1.173055,0.08,0

In [407]:
# 11. Slope, ustawienia standardowe
# Default Inputs: length=1, as_angle=False, to_degrees=False, vertical=None, offset=0 <- parametry do modyfikacji
df.ta.slope(append=True)

timestamp
2003-05-04 00:00:00+00:00        NaN
2003-05-05 00:00:00+00:00    0.00755
2003-05-06 00:00:00+00:00    0.01310
2003-05-07 00:00:00+00:00   -0.00740
2003-05-08 00:00:00+00:00    0.01326
                              ...
2025-07-28 00:00:00+00:00   -0.01591
2025-07-29 00:00:00+00:00   -0.00457
2025-07-30 00:00:00+00:00   -0.01228
2025-07-31 00:00:00+00:00   -0.00061
2025-08-01 00:00:00+00:00    0.01613
Name: SLOPE_1, Length: 7152, dtype: float64

In [408]:
# 12. Supertrend, ustawienia standardowe
# Default Inputs: length=7, multiplier=3.0, offset=0 <- parametry do modyfikacji
df.ta.supertrend(append=True)

,SUPERT_7_3.0,SUPERTd_7_3.0,SUPERTl_7_3.0,SUPERTs_7_3.0
timestamp,,,,
2003-05-04 00:00:00+00:00,0.000000,1,NaN,NaN
2003-05-05 00:00:00+00:00,NaN,1,NaN,NaN
2003-05-06 00:00:00+00:00,NaN,1,NaN,NaN
2003-05-07 00:00:00+00:00,NaN,1,NaN,NaN
2003-05-08 00:00:00+00:00,NaN,1,NaN,NaN
...,...,...,...,...
2025-07-28 00:00:00+00:00,1.159619,1,1.159619,NaN
2025-07-29 00:00:00+00:00,1.179974,-1,NaN,1.179974
2025-07-30 00:00:00+00:00,1.176671,-1,NaN,1.176671
2025-07-31 00:00:00+00:00,1.169674,-1,NaN,1.169674
2025-08-01 00:00:00+00:00,1.169674,-1,NaN,1.169674

In [409]:
# 13. TD Sequential, ustawienia standardowe
# Default Inputs: asint=False, offset=0 <- parametry do modyfikacji
df.ta.td_seq(append=True)

      TD_SEQ_UP  TD_SEQ_DN
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
7147        NaN        NaN
7148        NaN        NaN
7149        NaN        NaN
7150        NaN        NaN
7151        NaN        NaN

[7152 rows x 2 columns]

In [410]:
# 14. TTM Trend, ustawienia standardowe
# Default Inputs: length=6, offset=0 <- parametry do modyfikacji
df.ta.ttm_trend(append=True)

                           TTM_TRND_6
timestamp
2003-05-04 00:00:00+00:00          -1
2003-05-05 00:00:00+00:00          -1
2003-05-06 00:00:00+00:00          -1
2003-05-07 00:00:00+00:00          -1
2003-05-08 00:00:00+00:00          -1
...                               ...
2025-07-28 00:00:00+00:00          -1
2025-07-29 00:00:00+00:00          -1
2025-07-30 00:00:00+00:00          -1
2025-07-31 00:00:00+00:00          -1
2025-08-01 00:00:00+00:00           1

[7152 rows x 1 columns]

In [411]:
# 15. Vertical Horizontal Filter, ustawienia standardowe
# Default Inputs: length=28, drift=1, offset=0 <- parametry do modyfikacji
df.ta.vhf(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00    0.265252
2025-07-29 00:00:00+00:00    0.309263
2025-07-30 00:00:00+00:00    0.409022
2025-07-31 00:00:00+00:00    0.417447
2025-08-01 00:00:00+00:00    0.375969
Name: VHF_28, Length: 7152, dtype: float64

In [412]:
# 16. Vortex Indicator, ustawienia standardowe
# Default Inputs: length=14, drift=1, offset=0 <- parametry do modyfikacji
df.ta.vortex(append=True)

                            VTXP_14   VTXM_14
timestamp
2003-05-04 00:00:00+00:00       NaN       NaN
2003-05-05 00:00:00+00:00       NaN       NaN
2003-05-06 00:00:00+00:00       NaN       NaN
2003-05-07 00:00:00+00:00       NaN       NaN
2003-05-08 00:00:00+00:00       NaN       NaN
...                             ...       ...
2025-07-28 00:00:00+00:00  0.912482  0.934432
2025-07-29 00:00:00+00:00  0.861477  1.065235
2025-07-30 00:00:00+00:00  0.786592  1.090566
2025-07-31 00:00:00+00:00  0.833903  1.182757
2025-08-01 00:00:00+00:00  0.853007  1.089655

[7152 rows x 2 columns]

In [413]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7152 entries, 2003-05-04 00:00:00+00:00 to 2025-08-01 00:00:00+00:00
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   open             7152 non-null   float64
 1   high             7152 non-null   float64
 2   low              7152 non-null   float64
 3   close            7152 non-null   float64
 4   volume           7152 non-null   float64
 5   ADX_14           7125 non-null   float64
 6   DMP_14           7138 non-null   float64
 7   DMN_14           7138 non-null   float64
 8   AMATe_LR_8_21_2  7152 non-null   int32
 9   AMATe_SR_8_21_2  7152 non-null   int32
 10  AROOND_14        7138 non-null   float64
 11  AROONU_14        7138 non-null   float64
 12  AROONOSC_14      7138 non-null   float64
 13  CTI_12           7141 non-null   float64
 14  EBSW_40_10       7113 non-null   float64
 15  ER_10            7142 non-null   float64
 16  ISA_9            7101 non-null   float64
 17  ISB_26           7075 non-null   float64
 18  ITS_9            7144 non-null   float64
 19  IKS_26           7127 non-null   float64
 20  ICS_26           7126 non-null   float64
 21  LR_14            7139 non-null   float64
 22  PSARl_0.02_0.2   3652 non-null   float64
 23  PSARs_0.02_0.2   3499 non-null   float64
 24  PSARaf_0.02_0.2  7152 non-null   float64
 25  PSARr_0.02_0.2   7152 non-null   int64
 26  SLOPE_1          7151 non-null   float64
 27  SUPERT_7_3.0     7146 non-null   float64
 28  SUPERTd_7_3.0    7152 non-null   int64
 29  SUPERTl_7_3.0    3463 non-null   float64
 30  SUPERTs_7_3.0    3682 non-null   float64
 31  TD_SEQ_UP        0 non-null      float64
 32  TD_SEQ_DN        0 non-null      float64
 33  TTM_TRND_6       7152 non-null   int32
 34  VHF_28           7124 non-null   float64
 35  VTXP_14          7138 non-null   float64
 36  VTXM_14          7138 non-null   float64
dtypes: float64(32), int32(3), int64(2)
memory usage: 2.0 MB

Oscylatory i wskaźniki pędu (momentum)

1. ao (Awesome Oscillator)
2. apo (Absolute Price Oscillator)
3. bias (Bias)
4. bop (Balance of Power)
5. brar (AR/BR Ratio)
6. cci (Commodity Channel Index)
7. cfo (Chande Forecast Oscillator)
8. cg (Center of Gravity)
9. cmo (Chande Momentum Oscillator)
10. coppock (Coppock Curve) <- oscylator miesięczny, trzeba dostosować parametry: 14 -> 14*21=294, 11 -> 11*21=231, 10 -> 10*21=210, 
Default Inputs: length=10, fast=11, slow=14
11. dpo (Detrended Price Oscillator)
12. eri (Elder Ray Index)
13. fisher (Fisher Transform)
14. inertia (Inertia)
15. kdj (KDJ Indicator)
16. kst (KST Oscillator)
17. macd (Moving Average Convergence Divergence)
18. mom (Momentum)
19. pgo (Pretty Good Oscillator)
20. ppo (Percentage Price Oscillator)
21. psl (Psychological Line)
22. qqe (Quantitative Qualitative Estimation)
23. qstick (QStick)
24. roc (Rate of Change)
25. rsi (Relative Strength Index)
26. rsx (Relative Strength Xtra)
27. rvgi (Relative Vigor Index)
28. smi (Stochastic Momentum Index)
29. stc (Schaff Trend Cycle)
30. stoch (Stochastic Oscillator)
31. stochrsi (Stochastic RSI)
32. thermo (Thermometer)
33. trix (Trix)
34. tsi (True Strength Index)
35. uo (Ultimate Oscillator)
36. willr (Williams' %R)

In [414]:
# 1. Awesome Oscillator, ustawienia standardowe
# Default Inputs: fast=5, slow=34, offset=0 <- parametry do modyfikacji
df.ta.ao(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00    0.005296
2025-07-29 00:00:00+00:00    0.001341
2025-07-30 00:00:00+00:00   -0.004020
2025-07-31 00:00:00+00:00   -0.009853
2025-08-01 00:00:00+00:00   -0.015054
Name: AO_5_34, Length: 7152, dtype: float64

In [415]:
#2. Absolute Price Oscillator, ustawienia standardowe
# Default Inputs: fast=12, slow=26, mamode='sma', talib=True, offset=0 <- parametry do modyfikacji
df.ta.apo(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00   -0.003268
2025-07-29 00:00:00+00:00   -0.003063
2025-07-30 00:00:00+00:00   -0.003413
2025-07-31 00:00:00+00:00   -0.003550
2025-08-01 00:00:00+00:00   -0.003035
Name: APO_12_26, Length: 7152, dtype: float64

In [416]:
# 3. Bias, ustawienia standardowe
# Default Inputs: length=26, mamode='sma', drift=1, offset=0 <- parametry do modyfikacji
df.ta.bias(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00   -0.009928
2025-07-29 00:00:00+00:00   -0.013261
2025-07-30 00:00:00+00:00   -0.022600
2025-07-31 00:00:00+00:00   -0.021888
2025-08-01 00:00:00+00:00   -0.007371
Name: BIAS_SMA_26, Length: 7152, dtype: float64

In [417]:
# 4. Balance of Power, ustawienia standardowe
# Default Inputs: scalar=1, talib=True, offset=0 <- parametry do modyfikacji
df.ta.bop(append=True)

timestamp
2003-05-04 00:00:00+00:00   -0.584270
2003-05-05 00:00:00+00:00    0.766834
2003-05-06 00:00:00+00:00    0.736399
2003-05-07 00:00:00+00:00   -0.684310
2003-05-08 00:00:00+00:00    0.633993
                               ...
2025-07-28 00:00:00+00:00   -0.860000
2025-07-29 00:00:00+00:00   -0.566792
2025-07-30 00:00:00+00:00   -0.715201
2025-07-31 00:00:00+00:00   -0.111314
2025-08-01 00:00:00+00:00    0.785297
Name: BOP, Length: 7152, dtype: float64

In [418]:
# 5. AR/BR Ratio, ustawienia standardowe
# Default Inputs: length=26, scalar=100, drift=1, offset=0 <- parametry do modyfikacji
df.ta.brar(append=True)

                               AR_26      BR_26
timestamp
2003-05-04 00:00:00+00:00        NaN        NaN
2003-05-05 00:00:00+00:00        NaN        NaN
2003-05-06 00:00:00+00:00        NaN        NaN
2003-05-07 00:00:00+00:00        NaN        NaN
2003-05-08 00:00:00+00:00        NaN        NaN
...                              ...        ...
2025-07-28 00:00:00+00:00  67.683786  69.768754
2025-07-29 00:00:00+00:00  62.901947  63.305003
2025-07-30 00:00:00+00:00  53.048973  53.446514
2025-07-31 00:00:00+00:00  52.324016  52.738161
2025-08-01 00:00:00+00:00  67.287449  67.663175

[7152 rows x 2 columns]

In [419]:
# 6. Commodity Channel Index, ustawienia standardowe
# Default Inputs: length=14, c=0.015, talib=True, offset=0 <- parametry do modyfikacji
df.ta.cci(append=True)

timestamp
2003-05-04 00:00:00+00:00           NaN
2003-05-05 00:00:00+00:00           NaN
2003-05-06 00:00:00+00:00           NaN
2003-05-07 00:00:00+00:00           NaN
2003-05-08 00:00:00+00:00           NaN
                                ...
2025-07-28 00:00:00+00:00    -44.800082
2025-07-29 00:00:00+00:00   -147.994260
2025-07-30 00:00:00+00:00   -195.555185
2025-07-31 00:00:00+00:00   -182.272667
2025-08-01 00:00:00+00:00    -85.939144
Name: CCI_14_0.015, Length: 7152, dtype: float64

In [420]:
# 7. Chande Forecast Oscillator, ustawienia standardowe
# Default Inputs: length=9, scalar=100, drift=1, offset=0 <- parametry do modyfikacji
df.ta.cfo(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00   -1.118345
2025-07-29 00:00:00+00:00   -0.876357
2025-07-30 00:00:00+00:00   -0.963246
2025-07-31 00:00:00+00:00   -0.243688
2025-08-01 00:00:00+00:00    1.148810
Name: CFO_9, Length: 7152, dtype: float64

In [421]:
# 8. Center of Gravity, ustawienia standardowe
# Default Inputs: length=10, offset=0 <- parametry do modyfikacji
df.ta.cg(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00   -5.493409
2025-07-29 00:00:00+00:00   -5.502445
2025-07-30 00:00:00+00:00   -5.515420
2025-07-31 00:00:00+00:00   -5.526610
2025-08-01 00:00:00+00:00   -5.526706
Name: CG_10, Length: 7152, dtype: float64

In [422]:
# 9. Chande Momentum Oscillator, ustawienia standardowe
# Default Inputs: length=14, scalar=100, talib=True, drift=1, offset=0 <- parametry do modyfikacji
df.ta.cmo(append=True)

timestamp
2003-05-04 00:00:00+00:00          NaN
2003-05-05 00:00:00+00:00          NaN
2003-05-06 00:00:00+00:00          NaN
2003-05-07 00:00:00+00:00          NaN
2003-05-08 00:00:00+00:00          NaN
                               ...
2025-07-28 00:00:00+00:00   -16.135899
2025-07-29 00:00:00+00:00   -23.509399
2025-07-30 00:00:00+00:00   -39.023509
2025-07-31 00:00:00+00:00   -39.678010
2025-08-01 00:00:00+00:00    -6.978924
Name: CMO_14, Length: 7152, dtype: float64

In [423]:
# 10. Coppock Curve, ustawienia niestandardowe
# Default Inputs: length=10, fast=11, slow=14 <- oscylator miesięczy
# Dostosowanie oscylatora do interwały dziennego: 
# length=10 -> 10*21=210, fast=11 -> 11*21=231, slow=14 -> 14*21=294
# Standardowe parametry: offset=0
df.ta.coppock(length=210, fast=231, slow=294, append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00    6.522328
2025-07-29 00:00:00+00:00    6.603898
2025-07-30 00:00:00+00:00    6.657408
2025-07-31 00:00:00+00:00    6.712087
2025-08-01 00:00:00+00:00    6.782220
Name: COPC_231_294_210, Length: 7152, dtype: float64

In [424]:
# 11. Detrended Price Oscillator, ustawienia standardowe
# Default Inputs: length=1, centered=True, offset=0 <- parametry do modyfikacji
df.ta.dpo(append=True)

timestamp
2003-05-04 00:00:00+00:00   NaN
2003-05-05 00:00:00+00:00   NaN
2003-05-06 00:00:00+00:00   NaN
2003-05-07 00:00:00+00:00   NaN
2003-05-08 00:00:00+00:00   NaN
                             ..
2025-07-28 00:00:00+00:00   NaN
2025-07-29 00:00:00+00:00   NaN
2025-07-30 00:00:00+00:00   NaN
2025-07-31 00:00:00+00:00   NaN
2025-08-01 00:00:00+00:00   NaN
Name: DPO_20, Length: 7152, dtype: float64

In [425]:
# 12. Elder Ray Index, ustawienia standardowe
# Default Inputs: length=14, offset=0 <- parametry do modyfikacji
df.ta.eri(append=True)

                           BULLP_13  BEARP_13
timestamp
2003-05-04 00:00:00+00:00       NaN       NaN
2003-05-05 00:00:00+00:00       NaN       NaN
2003-05-06 00:00:00+00:00       NaN       NaN
2003-05-07 00:00:00+00:00       NaN       NaN
2003-05-08 00:00:00+00:00       NaN       NaN
...                             ...       ...
2025-07-28 00:00:00+00:00  0.007494 -0.011006
2025-07-29 00:00:00+00:00 -0.007552 -0.015562
2025-07-30 00:00:00+00:00 -0.006669 -0.023839
2025-07-31 00:00:00+00:00 -0.014752 -0.020232
2025-08-01 00:00:00+00:00 -0.000763 -0.021303

[7152 rows x 2 columns]

In [426]:
# 13. Fisher Transform, ustawienia standardowe
# Default Inputs: length=9, signal=1, offset=0 <- parametry do modyfikacji
df.ta.fisher(append=True)

                           FISHERT_9_1  FISHERTs_9_1
timestamp
2003-05-04 00:00:00+00:00          NaN           NaN
2003-05-05 00:00:00+00:00          NaN           NaN
2003-05-06 00:00:00+00:00          NaN           NaN
2003-05-07 00:00:00+00:00          NaN           NaN
2003-05-08 00:00:00+00:00          NaN           NaN
...                                ...           ...
2025-07-28 00:00:00+00:00     1.239643      1.573155
2025-07-29 00:00:00+00:00     0.574148      1.239643
2025-07-30 00:00:00+00:00    -0.090478      0.574148
2025-07-31 00:00:00+00:00    -0.695118     -0.090478
2025-08-01 00:00:00+00:00    -1.024670     -0.695118

[7152 rows x 2 columns]

In [427]:
# 14. Inertia, ustawienia standardowe
# Default Inputs: length=20, rvi_length=14, scalar=100, refined=False, thirds=False, mamode='ema, drift=1, offset=0 <- parametry do modyfikacji
df.ta.inertia(append=True)

timestamp
2003-05-04 00:00:00+00:00          NaN
2003-05-05 00:00:00+00:00          NaN
2003-05-06 00:00:00+00:00          NaN
2003-05-07 00:00:00+00:00          NaN
2003-05-08 00:00:00+00:00          NaN
                               ...
2025-07-28 00:00:00+00:00    53.314259
2025-07-29 00:00:00+00:00    52.676196
2025-07-30 00:00:00+00:00    50.228606
2025-07-31 00:00:00+00:00    46.410710
2025-08-01 00:00:00+00:00    45.766247
Name: INERTIA_20_14, Length: 7152, dtype: float64

In [428]:
# 15. KDJ Indicator, ustawienia standardowe
# Default Inputs: length=9, signal=3, offset=0 <- parametry do modyfikacji
df.ta.kdj(append=True)

                               K_9_3      D_9_3      J_9_3
timestamp
2003-05-04 00:00:00+00:00        NaN        NaN        NaN
2003-05-05 00:00:00+00:00        NaN        NaN        NaN
2003-05-06 00:00:00+00:00        NaN        NaN        NaN
2003-05-07 00:00:00+00:00        NaN        NaN        NaN
2003-05-08 00:00:00+00:00        NaN        NaN        NaN
...                              ...        ...        ...
2025-07-28 00:00:00+00:00  55.529884  66.152728  34.284198
2025-07-29 00:00:00+00:00  40.947303  57.750920   7.340071
2025-07-30 00:00:00+00:00  29.618388  48.373409  -7.891654
2025-07-31 00:00:00+00:00  21.541587  39.429468 -14.234175
2025-08-01 00:00:00+00:00  30.431887  36.430275  18.435113

[7152 rows x 3 columns]

In [429]:
# 16. KST Oscillator, ustawienia standardowe
# Default Inputs: roc1=10, roc2=15, roc3=20, roc4=30, sma1=10, sma2=10, sma3=10, sma4=15, signal=9, drift=1, offset=0 <- parametry do modyfikacji
df.ta.kst(append=True)

                           KST_10_15_20_30_10_10_10_15      KSTs_9
timestamp
2003-05-04 00:00:00+00:00                          NaN         NaN
2003-05-05 00:00:00+00:00                          NaN         NaN
2003-05-06 00:00:00+00:00                          NaN         NaN
2003-05-07 00:00:00+00:00                          NaN         NaN
2003-05-08 00:00:00+00:00                          NaN         NaN
...                                                ...         ...
2025-07-28 00:00:00+00:00                   390.809066  690.970738
2025-07-29 00:00:00+00:00                   263.734945  584.107089
2025-07-30 00:00:00+00:00                    58.998438  482.632269
2025-07-31 00:00:00+00:00                  -142.390993  377.939830
2025-08-01 00:00:00+00:00                  -243.660464  274.651323

[7152 rows x 2 columns]

In [430]:
# 17. Moving Average Convergence Divergence, ustawienia standardowe
# Default Inputs: fast=12, slow=26, signal=9, talib=True, offset=0 <- parametry do modyfikacji
df.ta.macd(append=True)

                           MACD_12_26_9  MACDh_12_26_9  MACDs_12_26_9
timestamp
2003-05-04 00:00:00+00:00           NaN            NaN            NaN
2003-05-05 00:00:00+00:00           NaN            NaN            NaN
2003-05-06 00:00:00+00:00           NaN            NaN            NaN
2003-05-07 00:00:00+00:00           NaN            NaN            NaN
2003-05-08 00:00:00+00:00           NaN            NaN            NaN
...                                 ...            ...            ...
2025-07-28 00:00:00+00:00      0.002037      -0.000784       0.002821
2025-07-29 00:00:00+00:00      0.000729      -0.001673       0.002403
2025-07-30 00:00:00+00:00     -0.001283      -0.002948       0.001666
2025-07-31 00:00:00+00:00     -0.002893      -0.003647       0.000754
2025-08-01 00:00:00+00:00     -0.002836      -0.002872       0.000036

[7152 rows x 3 columns]

In [431]:
# 18. Momentum, ustawienia standardowe
# Default Inputs: length=1, talib=True, offset=0 <- parametry do modyfikacji
df.ta.mom(append=True)

timestamp
2003-05-04 00:00:00+00:00        NaN
2003-05-05 00:00:00+00:00        NaN
2003-05-06 00:00:00+00:00        NaN
2003-05-07 00:00:00+00:00        NaN
2003-05-08 00:00:00+00:00        NaN
                              ...
2025-07-28 00:00:00+00:00   -0.00390
2025-07-29 00:00:00+00:00   -0.00644
2025-07-30 00:00:00+00:00   -0.01929
2025-07-31 00:00:00+00:00   -0.02077
2025-08-01 00:00:00+00:00   -0.01115
Name: MOM_10, Length: 7152, dtype: float64

In [432]:
# 19. Pretty Good Oscillator, ustawienia standardowe
# Default Inputs: length=14, offset=0 <- parametry do modyfikacji
df.ta.pgo(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00   -1.146790
2025-07-29 00:00:00+00:00   -1.637899
2025-07-30 00:00:00+00:00   -3.037309
2025-07-31 00:00:00+00:00   -2.904610
2025-08-01 00:00:00+00:00   -0.684725
Name: PGO_14, Length: 7152, dtype: float64

In [433]:
# 20. Percentage Price Oscillator, ustawienia standardowe
# Default Inputs: fast=12, slow=26, signal=9, scalar=100, mamode='sma', talib=True, offset=0 <- parametry do modyfikacji
df.ta.ppo(append=True)

                           PPO_12_26_9  PPOh_12_26_9  PPOs_12_26_9
timestamp
2003-05-04 00:00:00+00:00          NaN           NaN           NaN
2003-05-05 00:00:00+00:00          NaN           NaN           NaN
2003-05-06 00:00:00+00:00          NaN           NaN           NaN
2003-05-07 00:00:00+00:00          NaN           NaN           NaN
2003-05-08 00:00:00+00:00          NaN           NaN           NaN
...                                ...           ...           ...
2025-07-28 00:00:00+00:00    -0.279056     -0.126631     -0.152424
2025-07-29 00:00:00+00:00    -0.261638     -0.087371     -0.174267
2025-07-30 00:00:00+00:00    -0.291909     -0.094114     -0.197796
2025-07-31 00:00:00+00:00    -0.303976     -0.084944     -0.219032
2025-08-01 00:00:00+00:00    -0.260085     -0.032843     -0.227242

[7152 rows x 3 columns]

In [434]:
# 21. Psychological Line, ustawienia standardowe
# Default Inputs: length=12, scalar=100, drift=1, offset=0 <- parametry do modyfikacji
df.ta.psl(append=True)

timestamp
2003-05-04 00:00:00+00:00          NaN
2003-05-05 00:00:00+00:00          NaN
2003-05-06 00:00:00+00:00          NaN
2003-05-07 00:00:00+00:00          NaN
2003-05-08 00:00:00+00:00          NaN
                               ...
2025-07-28 00:00:00+00:00    58.333333
2025-07-29 00:00:00+00:00    58.333333
2025-07-30 00:00:00+00:00    50.000000
2025-07-31 00:00:00+00:00    50.000000
2025-08-01 00:00:00+00:00    50.000000
Name: PSL_12, Length: 7152, dtype: float64

In [435]:
# 22. Quantitative Qualitative Estimation, ustawienia standardowe
# Default Inputs: length=14, smooth=5, factor=4.236, mamode='sma', drift=1, offset=0 <- parametry do modyfikacji
df.ta.qqe(append=True)

,QQE_14_5_4.236,QQE_14_5_4.236_RSIMA,QQEl_14_5_4.236,QQEs_14_5_4.236
timestamp,,,,
2003-05-04 00:00:00+00:00,NaN,NaN,NaN,NaN
2003-05-05 00:00:00+00:00,NaN,NaN,NaN,NaN
2003-05-06 00:00:00+00:00,NaN,NaN,NaN,NaN
2003-05-07 00:00:00+00:00,NaN,NaN,NaN,NaN
2003-05-08 00:00:00+00:00,NaN,NaN,NaN,NaN
...,...,...,...,...
2025-07-28 00:00:00+00:00,53.464015,53.792500,53.464015,NaN
2025-07-29 00:00:00+00:00,55.179182,48.610100,NaN,55.179182
2025-07-30 00:00:00+00:00,49.396291,42.569482,NaN,49.396291
2025-07-31 00:00:00+00:00,45.536914,38.433319,NaN,45.536914
2025-08-01 00:00:00+00:00,45.536914,41.125726,NaN,45.536914

In [436]:
# 23. QStick, ustawienia standardowe
# Default Inputs: length=10, offset=0 <- parametry do modyfikacji
df.ta.qstick(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00   -0.000584
2025-07-29 00:00:00+00:00   -0.000835
2025-07-30 00:00:00+00:00   -0.002119
2025-07-31 00:00:00+00:00   -0.002238
2025-08-01 00:00:00+00:00   -0.001274
Name: QS_10, Length: 7152, dtype: float64

In [437]:
# 24. Rate of Change, ustawienia standardowe
# Default Inputs: length=1, scalar=100, talib=True, offset=0 <- parametry do modyfikacji
df.ta.roc(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00   -0.335187
2025-07-29 00:00:00+00:00   -0.554455
2025-07-30 00:00:00+00:00   -1.659969
2025-07-31 00:00:00+00:00   -1.785991
2025-08-01 00:00:00+00:00   -0.953440
Name: ROC_10, Length: 7152, dtype: float64

In [438]:
# 25. Relative Strength Index, ustawienia standardowe
# Default Inputs: length=14, scalar=100, talib=True, drift=1, offset=0 <- parametry do modyfikacji
df.ta.rsi(append=True)

timestamp
2003-05-04 00:00:00+00:00          NaN
2003-05-05 00:00:00+00:00          NaN
2003-05-06 00:00:00+00:00          NaN
2003-05-07 00:00:00+00:00          NaN
2003-05-08 00:00:00+00:00          NaN
                               ...
2025-07-28 00:00:00+00:00    41.932051
2025-07-29 00:00:00+00:00    38.245301
2025-07-30 00:00:00+00:00    30.488246
2025-07-31 00:00:00+00:00    30.160995
2025-08-01 00:00:00+00:00    46.510538
Name: RSI_14, Length: 7152, dtype: float64

In [439]:
# 26. Relative Strength Xtra, ustawienia standardowe
# Default Inputs: length=14, drift=1, offset=0 <- parametry do modyfikacji
df.ta.rsx(append=True)

timestamp
2003-05-04 00:00:00+00:00          NaN
2003-05-05 00:00:00+00:00          NaN
2003-05-06 00:00:00+00:00          NaN
2003-05-07 00:00:00+00:00          NaN
2003-05-08 00:00:00+00:00          NaN
                               ...
2025-07-28 00:00:00+00:00    56.084785
2025-07-29 00:00:00+00:00    49.533834
2025-07-30 00:00:00+00:00    40.887112
2025-07-31 00:00:00+00:00    33.789413
2025-08-01 00:00:00+00:00    32.979340
Name: RSX_14, Length: 7152, dtype: float64

In [440]:
# 27. Relative Vigor Index, ustawienia standardowe
# Default Inputs: length=14, swma_length=4, offset=0 <- parametry do modyfikacji
df.ta.rvgi(append=True)

                           RVGI_14_4  RVGIs_14_4
timestamp
2003-05-04 00:00:00+00:00        NaN         NaN
2003-05-05 00:00:00+00:00        NaN         NaN
2003-05-06 00:00:00+00:00        NaN         NaN
2003-05-07 00:00:00+00:00        NaN         NaN
2003-05-08 00:00:00+00:00        NaN         NaN
...                              ...         ...
2025-07-28 00:00:00+00:00   0.017264    0.027903
2025-07-29 00:00:00+00:00  -0.034090    0.018932
2025-07-30 00:00:00+00:00  -0.105943   -0.016505
2025-07-31 00:00:00+00:00  -0.160458   -0.070543
2025-08-01 00:00:00+00:00  -0.159437   -0.121055

[7152 rows x 2 columns]

In [441]:
# 28. Stochastic Momentum Index, ustawienia standardowe
# Default Inputs: fast=5, slow=20, signal=5, scalar=1, offset=0 <- parametry do modyfikacji
df.ta.smi(append=True)

                           SMI_5_20_5  SMIs_5_20_5  SMIo_5_20_5
timestamp
2003-05-04 00:00:00+00:00         NaN          NaN          NaN
2003-05-05 00:00:00+00:00         NaN          NaN          NaN
2003-05-06 00:00:00+00:00         NaN          NaN          NaN
2003-05-07 00:00:00+00:00         NaN          NaN          NaN
2003-05-08 00:00:00+00:00         NaN          NaN          NaN
...                               ...          ...          ...
2025-07-28 00:00:00+00:00    0.017446     0.107658    -0.090212
2025-07-29 00:00:00+00:00   -0.118530     0.032262    -0.150792
2025-07-30 00:00:00+00:00   -0.274861    -0.070112    -0.204748
2025-07-31 00:00:00+00:00   -0.357900    -0.166042    -0.191858
2025-08-01 00:00:00+00:00   -0.245173    -0.192419    -0.052754

[7152 rows x 3 columns]

In [442]:
# 29. Schaff Trend Cycle, ustawienia standardowe
# Default Inputs: tclength=10, fast=12, slow=26, factor=0.5, offset=0 <- parametry do modyfikacji
df.ta.stc(append=True)

C:\Users\mt242\AppData\Local\Temp\ipykernel_37700\4005191877.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.ta.stc(append=True)

,STC_10_12_26_0.5,STCmacd_10_12_26_0.5,STCstoch_10_12_26_0.5
timestamp,,,
2003-05-04 00:00:00+00:00,0.000000,NaN,0.000000
2003-05-05 00:00:00+00:00,0.000000,NaN,0.000000
2003-05-06 00:00:00+00:00,0.000000,NaN,0.000000
2003-05-07 00:00:00+00:00,0.000000,NaN,0.000000
2003-05-08 00:00:00+00:00,0.000000,NaN,0.000000
...,...,...,...
2025-07-28 00:00:00+00:00,86.117904,0.002037,57.211242
2025-07-29 00:00:00+00:00,61.830227,0.000729,28.605621
2025-07-30 00:00:00+00:00,40.285313,-0.001283,14.302810
2025-07-31 00:00:00+00:00,23.814919,-0.002893,7.151405
2025-08-01 00:00:00+00:00,11.907459,-0.002836,3.575703

In [443]:
# 30. Stochastic Oscillator, ustawienia standardowe
# Default Inputs: k=14, d=3, smooth_k=3, mamode='sma', offset=0 <- parametry do modyfikacji
df.ta.stoch(append=True)

                           STOCHk_14_3_3  STOCHd_14_3_3
timestamp
2003-05-19 00:00:00+00:00            NaN            NaN
2003-05-20 00:00:00+00:00            NaN            NaN
2003-05-21 00:00:00+00:00      86.540110            NaN
2003-05-22 00:00:00+00:00      88.448066            NaN
2003-05-23 00:00:00+00:00      88.512464      87.833546
...                                  ...            ...
2025-07-28 00:00:00+00:00      60.534252      76.995219
2025-07-29 00:00:00+00:00      38.179858      60.656152
2025-07-30 00:00:00+00:00      11.949132      36.887747
2025-07-31 00:00:00+00:00       8.043562      19.390850
2025-08-01 00:00:00+00:00      20.187010      13.393234

[7139 rows x 2 columns]

In [444]:
# 31. Stochastic RSI, ustawienia standardowe
# Default Inputs: length=14, rsi_length=14, k=3, d=3, mamode='sma', offset=0 <- parametry do modyfikacji
df.ta.stochrsi(append=True)

                           STOCHRSIk_14_14_3_3  STOCHRSId_14_14_3_3
timestamp
2003-05-04 00:00:00+00:00                  NaN                  NaN
2003-05-05 00:00:00+00:00                  NaN                  NaN
2003-05-06 00:00:00+00:00                  NaN                  NaN
2003-05-07 00:00:00+00:00                  NaN                  NaN
2003-05-08 00:00:00+00:00                  NaN                  NaN
...                                        ...                  ...
2025-07-28 00:00:00+00:00            51.684064            72.599009
2025-07-29 00:00:00+00:00            27.260249            52.988084
2025-07-30 00:00:00+00:00             0.000000            26.314771
2025-07-31 00:00:00+00:00             0.000000             9.086750
2025-08-01 00:00:00+00:00            15.842843             5.280948

[7152 rows x 2 columns]

In [445]:
# 32. Thermometer, ustawienia standardowe
# Default Inputs: length=20, long=2, short=0.5, mamode='ema', drift=1, offset=0 <- parametry do modyfikacji
df.ta.thermo(append=True)

,THERMO_20_2_0.5,THERMOma_20_2_0.5,THERMOl_20_2_0.5,THERMOs_20_2_0.5
timestamp,,,,
2003-05-04 00:00:00+00:00,NaN,NaN,0,0
2003-05-05 00:00:00+00:00,0.00671,NaN,0,0
2003-05-06 00:00:00+00:00,0.01497,NaN,0,0
2003-05-07 00:00:00+00:00,0.00542,NaN,0,0
2003-05-08 00:00:00+00:00,0.00754,NaN,0,0
...,...,...,...,...
2025-07-28 00:00:00+00:00,0.01657,0.005556,0,1
2025-07-29 00:00:00+00:00,0.01711,0.006656,0,1
2025-07-30 00:00:00+00:00,0.01180,0.007146,1,1
2025-07-31 00:00:00+00:00,0.01119,0.007531,1,1
2025-08-01 00:00:00+00:00,0.01363,0.008112,1,1

In [446]:
# 33. Trix, ustawienia standardowe
# Default Inputs: length=18, signal=9, scalar=100, drift=1, offset=0 <- parametry do modyfikacji
df.ta.trix(append=True)

                           TRIX_30_9  TRIXs_30_9
timestamp
2003-05-04 00:00:00+00:00        NaN         NaN
2003-05-05 00:00:00+00:00        NaN         NaN
2003-05-06 00:00:00+00:00        NaN         NaN
2003-05-07 00:00:00+00:00        NaN         NaN
2003-05-08 00:00:00+00:00        NaN         NaN
...                              ...         ...
2025-07-28 00:00:00+00:00   0.066583    0.071504
2025-07-29 00:00:00+00:00   0.064837    0.070160
2025-07-30 00:00:00+00:00   0.062499    0.068726
2025-07-31 00:00:00+00:00   0.059676    0.067149
2025-08-01 00:00:00+00:00   0.056850    0.065414

[7152 rows x 2 columns]

In [447]:
# 34. True Strength Index, ustawienia standardowe
# Default Inputs: fast=13, slow=25, signal=13, scalar=100, mamode='ema', drift=1, offset=0 <- parametry do modyfikacji
df.ta.tsi(append=True)

                           TSI_13_25_13  TSIs_13_25_13
timestamp
2003-05-04 00:00:00+00:00           NaN            NaN
2003-05-05 00:00:00+00:00           NaN            NaN
2003-05-06 00:00:00+00:00           NaN            NaN
2003-05-07 00:00:00+00:00           NaN            NaN
2003-05-08 00:00:00+00:00           NaN            NaN
...                                 ...            ...
2025-07-28 00:00:00+00:00      9.883594      14.950402
2025-07-29 00:00:00+00:00      3.614293      13.330958
2025-07-30 00:00:00+00:00     -5.168391      10.688194
2025-07-31 00:00:00+00:00    -11.661071       7.495442
2025-08-01 00:00:00+00:00    -10.822467       4.878598

[7152 rows x 2 columns]

In [448]:
# 35. Ultimate Oscillator, ustawienia standardowe
# Default Inputs: fast=7, medium=14, slow=28, fast_w=4.0, medium_w=2.0, slow_w=1.0, talib=True, drift=1, offset=0 <- parametry do modyfikacji
df.ta.uo(append=True)

timestamp
2003-05-04 00:00:00+00:00          NaN
2003-05-05 00:00:00+00:00          NaN
2003-05-06 00:00:00+00:00          NaN
2003-05-07 00:00:00+00:00          NaN
2003-05-08 00:00:00+00:00          NaN
                               ...
2025-07-28 00:00:00+00:00    48.773097
2025-07-29 00:00:00+00:00    44.628806
2025-07-30 00:00:00+00:00    37.086152
2025-07-31 00:00:00+00:00    33.705838
2025-08-01 00:00:00+00:00    45.767387
Name: UO_7_14_28, Length: 7152, dtype: float64

In [449]:
# 36. Williams' %R, ustawienia standardowe
# Default Inputs: length=14, talib=True, offset=0 <- parametry do modyfikacji
df.ta.willr(append=True)

timestamp
2003-05-04 00:00:00+00:00          NaN
2003-05-05 00:00:00+00:00          NaN
2003-05-06 00:00:00+00:00          NaN
2003-05-07 00:00:00+00:00          NaN
2003-05-08 00:00:00+00:00          NaN
                               ...
2025-07-28 00:00:00+00:00   -82.895304
2025-07-29 00:00:00+00:00   -88.217858
2025-07-30 00:00:00+00:00   -93.039443
2025-07-31 00:00:00+00:00   -94.612013
2025-08-01 00:00:00+00:00   -51.787513
Name: WILLR_14, Length: 7152, dtype: float64

In [450]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7152 entries, 2003-05-04 00:00:00+00:00 to 2025-08-01 00:00:00+00:00
Data columns (total 98 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   open                         7152 non-null   float64
 1   high                         7152 non-null   float64
 2   low                          7152 non-null   float64
 3   close                        7152 non-null   float64
 4   volume                       7152 non-null   float64
 5   ADX_14                       7125 non-null   float64
 6   DMP_14                       7138 non-null   float64
 7   DMN_14                       7138 non-null   float64
 8   AMATe_LR_8_21_2              7152 non-null   int32
 9   AMATe_SR_8_21_2              7152 non-null   int32
 10  AROOND_14                    7138 non-null   float64
 11  AROONU_14                    7138 non-null   float64
 12  AROONOSC_14                  7138 non-null   float64
 13  CTI_12                       7141 non-null   float64
 14  EBSW_40_10                   7113 non-null   float64
 15  ER_10                        7142 non-null   float64
 16  ISA_9                        7101 non-null   float64
 17  ISB_26                       7075 non-null   float64
 18  ITS_9                        7144 non-null   float64
 19  IKS_26                       7127 non-null   float64
 20  ICS_26                       7126 non-null   float64
 21  LR_14                        7139 non-null   float64
 22  PSARl_0.02_0.2               3652 non-null   float64
 23  PSARs_0.02_0.2               3499 non-null   float64
 24  PSARaf_0.02_0.2              7152 non-null   float64
 25  PSARr_0.02_0.2               7152 non-null   int64
 26  SLOPE_1                      7151 non-null   float64
 27  SUPERT_7_3.0                 7146 non-null   float64
 28  SUPERTd_7_3.0                7152 non-null   int64
 29  SUPERTl_7_3.0                3463 non-null   float64
 30  SUPERTs_7_3.0                3682 non-null   float64
 31  TD_SEQ_UP                    0 non-null      float64
 32  TD_SEQ_DN                    0 non-null      float64
 33  TTM_TRND_6                   7152 non-null   int32
 34  VHF_28                       7124 non-null   float64
 35  VTXP_14                      7138 non-null   float64
 36  VTXM_14                      7138 non-null   float64
 37  AO_5_34                      7119 non-null   float64
 38  APO_12_26                    7127 non-null   float64
 39  BIAS_SMA_26                  7127 non-null   float64
 40  BOP                          7152 non-null   float64
 41  AR_26                        7127 non-null   float64
 42  BR_26                        7126 non-null   float64
 43  CCI_14_0.015                 7139 non-null   float64
 44  CFO_9                        7144 non-null   float64
 45  CG_10                        7143 non-null   float64
 46  CMO_14                       7138 non-null   float64
 47  COPC_231_294_210             6649 non-null   float64
 48  DPO_20                       7133 non-null   float64
 49  BULLP_13                     7140 non-null   float64
 50  BEARP_13                     7140 non-null   float64
 51  FISHERT_9_1                  7144 non-null   float64
 52  FISHERTs_9_1                 7143 non-null   float64
 53  INERTIA_20_14                7120 non-null   float64
 54  K_9_3                        7142 non-null   float64
 55  D_9_3                        7140 non-null   float64
 56  J_9_3                        7140 non-null   float64
 57  KST_10_15_20_30_10_10_10_15  7108 non-null   float64
 58  KSTs_9                       7100 non-null   float64
 59  MACD_12_26_9                 7127 non-null   float64
 60  MACDh_12_26_9                7119 non-null   float64
 61  MACDs_12_26_9                7119 non-null   float64
 62  MOM_10                       7142 non-null   float64
 63  PGO_14                       7138 non-null   float64
 64  PPO_12_26_9                  7127 non-null   float64
 65  PPOh_12_26_9                 7127 non-null   float64
 66  PPOs_12_26_9                 7127 non-null   float64
 67  PSL_12                       7141 non-null   float64
 68  QQE_14_5_4.236               7126 non-null   float64
 69  QQE_14_5_4.236_RSIMA         7138 non-null   float64
 70  QQEl_14_5_4.236              3727 non-null   float64
 71  QQEs_14_5_4.236              3399 non-null   float64
 72  QS_10                        7143 non-null   float64
 73  ROC_10                       7142 non-null   float64
 74  RSI_14                       7138 non-null   float64
 75  RSX_14                       7139 non-null   float64
 76  RVGI_14_4                    7136 non-null   float64
 77  RVGIs_14_4                   7133 non-null   float64
 78  SMI_5_20_5                   7133 non-null   float64
 79  SMIs_5_20_5                  7133 non-null   float64
 80  SMIo_5_20_5                  7133 non-null   float64
 81  STC_10_12_26_0.5             7152 non-null   float64
 82  STCmacd_10_12_26_0.5         7127 non-null   float64
 83  STCstoch_10_12_26_0.5        7152 non-null   float64
 84  STOCHk_14_3_3                7137 non-null   float64
 85  STOCHd_14_3_3                7135 non-null   float64
 86  STOCHRSIk_14_14_3_3          7123 non-null   float64
 87  STOCHRSId_14_14_3_3          7121 non-null   float64
 88  THERMO_20_2_0.5              7151 non-null   float64
 89  THERMOma_20_2_0.5            7133 non-null   float64
 90  THERMOl_20_2_0.5             7152 non-null   int32
 91  THERMOs_20_2_0.5             7152 non-null   int32
 92  TRIX_30_9                    7122 non-null   float64
 93  TRIXs_30_9                   7114 non-null   float64
 94  TSI_13_25_13                 7128 non-null   float64
 95  TSIs_13_25_13                7128 non-null   float64
 96  UO_7_14_28                   7125 non-null   float64
 97  WILLR_14                     7139 non-null   float64
dtypes: float64(91), int32(5), int64(2)
memory usage: 5.5 MB

Wskaźniki zmienności i kanały

1. aberration (Aberration)
2. accbands (Acceleration Bands)
3. atr (Average True Range)
4. bbands (Bollinger Bands)
5. chop (Choppiness Index)
6. cksp (Chande Kroll Stop)
7. donchian (Donchian Channels)
8. entropy (Information Entropy)
9. hilo (High-Low Channels)
10. kc (Keltner Channels)
11. massi (Mass Index)
12. natr (Normalized Average True Range)
13. rvi (Relative Volatility Index)
14. squeeze (TTM Squeeze)
15. squeeze_pro (TTM Squeeze Pro)
16. tos_stdevall (thinkorswim Standard Deviation All)
17. true_range (True Range)
18. ui (Ulcer Index)

In [451]:
# 1. Aberration, ustawienia standardowe
# Default Inputs: length=5, atr_length=15, offset=0 <- parametry do modyfikacji
df.ta.aberration(append=True)

,ABER_ZG_5_15,ABER_SG_5_15,ABER_XG_5_15,ABER_ATR_5_15
timestamp,,,,
2003-05-04 00:00:00+00:00,NaN,NaN,NaN,NaN
2003-05-05 00:00:00+00:00,NaN,NaN,NaN,NaN
2003-05-06 00:00:00+00:00,NaN,NaN,NaN,NaN
2003-05-07 00:00:00+00:00,NaN,NaN,NaN,NaN
2003-05-08 00:00:00+00:00,1.133375,NaN,NaN,NaN
...,...,...,...,...
2025-07-28 00:00:00+00:00,1.173106,1.180681,1.165531,0.007575
2025-07-29 00:00:00+00:00,1.169141,1.176745,1.161537,0.007604
2025-07-30 00:00:00+00:00,1.163325,1.171566,1.155083,0.008242
2025-07-31 00:00:00+00:00,1.157223,1.165281,1.149166,0.008058
2025-08-01 00:00:00+00:00,1.152535,1.161424,1.143645,0.008890

In [452]:
# 2. Acceleration Bands, ustawienia standardowe
# Default Inputs: length=10, c=4, mamode='sma', drift=1, offset=0 <- parametry do modyfikacji
df.ta.accbands(append=True)

                           ACCBL_20  ACCBM_20  ACCBU_20
timestamp
2003-05-04 00:00:00+00:00       NaN       NaN       NaN
2003-05-05 00:00:00+00:00       NaN       NaN       NaN
2003-05-06 00:00:00+00:00       NaN       NaN       NaN
2003-05-07 00:00:00+00:00       NaN       NaN       NaN
2003-05-08 00:00:00+00:00       NaN       NaN       NaN
...                             ...       ...       ...
2025-07-28 00:00:00+00:00  1.151726  1.169352  1.187469
2025-07-29 00:00:00+00:00  1.149749  1.168205  1.187262
2025-07-30 00:00:00+00:00  1.147643  1.166663  1.186866
2025-07-31 00:00:00+00:00  1.146535  1.165154  1.185065
2025-08-01 00:00:00+00:00  1.143510  1.164380  1.185922

[7152 rows x 3 columns]

In [453]:
# 3. Average True Range, ustawienia standardowe
# Default Inputs: length=14, mamode='rma', talib=True, drift=1, offset=0 <- parametry do modyfikacji
df.ta.atr(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00    0.007586
2025-07-29 00:00:00+00:00    0.007616
2025-07-30 00:00:00+00:00    0.008299
2025-07-31 00:00:00+00:00    0.008097
2025-08-01 00:00:00+00:00    0.008986
Name: ATRr_14, Length: 7152, dtype: float64

In [454]:
# 4. Bollinger Bands, ustawienia standardowe
# Default Inputs: length=5, std=2, ddof=0, mamode='sma', talib=True, offset=0 <- parametry do modyfikacji
df.ta.bbands(append=True)

,BBL_5_2.0,BBM_5_2.0,BBU_5_2.0,BBB_5_2.0,BBP_5_2.0
timestamp,,,,,
2003-05-04 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2003-05-05 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2003-05-06 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2003-05-07 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2003-05-08 00:00:00+00:00,1.116562,1.135282,1.154002,3.297886,0.845029
...,...,...,...,...,...
2025-07-28 00:00:00+00:00,1.159452,1.172382,1.185312,2.205717,0.006872
2025-07-29 00:00:00+00:00,1.150370,1.167928,1.185486,3.006677,0.133555
2025-07-30 00:00:00+00:00,1.136936,1.161394,1.185852,4.211789,0.119466
2025-07-31 00:00:00+00:00,1.130423,1.155036,1.179649,4.261896,0.238636
2025-08-01 00:00:00+00:00,1.136408,1.151588,1.166768,2.636445,0.721073

In [455]:
# 5. Choppiness Index, ustawienia standardowe
# Default Inputs: length=14, atr_length=1, ln=False, scalar=100, drift=1, offset=0 <- parametry do modyfikacji
df.ta.chop(append=True)

timestamp
2003-05-04 00:00:00+00:00          NaN
2003-05-05 00:00:00+00:00          NaN
2003-05-06 00:00:00+00:00          NaN
2003-05-07 00:00:00+00:00          NaN
2003-05-08 00:00:00+00:00          NaN
                               ...
2025-07-28 00:00:00+00:00    57.606553
2025-07-29 00:00:00+00:00    53.837323
2025-07-30 00:00:00+00:00    44.203085
2025-07-31 00:00:00+00:00    42.808689
2025-08-01 00:00:00+00:00    43.350934
Name: CHOP_14_1_100, Length: 7152, dtype: float64

In [456]:
# 6. Chande Kroll Stop, ustawienia standardowe
# Default Inputs: p=10, x=1, q=9, tvmode=True, offset=0 <- parametry do modyfikacji
df.ta.cksp(append=True)

                           CKSPl_10_3_20  CKSPs_10_3_20
timestamp
2003-05-04 00:00:00+00:00            NaN            NaN
2003-05-05 00:00:00+00:00            NaN            NaN
2003-05-06 00:00:00+00:00            NaN            NaN
2003-05-07 00:00:00+00:00            NaN            NaN
2003-05-08 00:00:00+00:00            NaN            NaN
...                                  ...            ...
2025-07-28 00:00:00+00:00       1.163253       1.175247
2025-07-29 00:00:00+00:00       1.162446       1.175143
2025-07-30 00:00:00+00:00       1.162446       1.166168
2025-07-31 00:00:00+00:00       1.162446       1.165203
2025-08-01 00:00:00+00:00       1.162446       1.165203

[7152 rows x 2 columns]

In [457]:
# 7. Donchian Channels, ustawienia standardowe
# Default Inputs: lower_length=20, upper_length=20, offset=0 <- parametry do modyfikacji
df.ta.donchian(append=True)

                           DCL_20_20  DCM_20_20  DCU_20_20
timestamp
2003-05-04 00:00:00+00:00        NaN        NaN        NaN
2003-05-05 00:00:00+00:00        NaN        NaN        NaN
2003-05-06 00:00:00+00:00        NaN        NaN        NaN
2003-05-07 00:00:00+00:00        NaN        NaN        NaN
2003-05-08 00:00:00+00:00        NaN        NaN        NaN
...                              ...        ...        ...
2025-07-28 00:00:00+00:00    1.15566   1.167335    1.17901
2025-07-29 00:00:00+00:00    1.15188   1.165445    1.17901
2025-07-30 00:00:00+00:00    1.14008   1.159475    1.17887
2025-07-31 00:00:00+00:00    1.14008   1.159475    1.17887
2025-08-01 00:00:00+00:00    1.13915   1.159010    1.17887

[7152 rows x 3 columns]

In [458]:
# 8. Information Entropy, ustawienia standardowe
# Default Inputs: length=10, base=2, offset=0 <- parametry do modyfikacji
df.ta.entropy(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00    3.325034
2025-07-29 00:00:00+00:00    3.323890
2025-07-30 00:00:00+00:00    3.320776
2025-07-31 00:00:00+00:00    3.317604
2025-08-01 00:00:00+00:00    3.316120
Name: ENTP_10, Length: 7152, dtype: float64

In [459]:
# 9. High-Low Channels, ustawienia standardowe
# Default Inputs: high_length=13, low_length=21, mamode='sma', offset=0 <- parametry do modyfikacji
df.ta.hilo(append=True)

                           HILO_13_21  HILOl_13_21  HILOs_13_21
timestamp
2003-05-04 00:00:00+00:00         NaN          NaN          NaN
2003-05-05 00:00:00+00:00         NaN          NaN          NaN
2003-05-06 00:00:00+00:00         NaN          NaN          NaN
2003-05-07 00:00:00+00:00         NaN          NaN          NaN
2003-05-08 00:00:00+00:00         NaN          NaN          NaN
...                               ...          ...          ...
2025-07-28 00:00:00+00:00    1.172289          NaN     1.172289
2025-07-29 00:00:00+00:00    1.171528          NaN     1.171528
2025-07-30 00:00:00+00:00    1.170605          NaN     1.170605
2025-07-31 00:00:00+00:00    1.168601          NaN     1.168601
2025-08-01 00:00:00+00:00    1.168299          NaN     1.168299

[7152 rows x 3 columns]

In [460]:
# 10. Keltner Channels, ustawienia standardowe
# Default Inputs: length=20, scalar=2, mamode='ema', offset=0 <- parametry do modyfikacji
df.ta.kc(append=True)

                           KCLe_20_2  KCBe_20_2  KCUe_20_2
timestamp
2003-05-04 00:00:00+00:00        NaN        NaN        NaN
2003-05-05 00:00:00+00:00        NaN        NaN        NaN
2003-05-06 00:00:00+00:00        NaN        NaN        NaN
2003-05-07 00:00:00+00:00        NaN        NaN        NaN
2003-05-08 00:00:00+00:00        NaN        NaN        NaN
...                              ...        ...        ...
2025-07-28 00:00:00+00:00   1.153341   1.168734   1.184128
2025-07-29 00:00:00+00:00   1.151979   1.167432   1.182885
2025-07-30 00:00:00+00:00   1.147832   1.165084   1.182336
2025-07-31 00:00:00+00:00   1.146249   1.162902   1.179555
2025-08-01 00:00:00+00:00   1.143484   1.162464   1.181443

[7152 rows x 3 columns]

In [461]:
# 11. Mass Index, ustawienia standardowe
# Default Inputs: fast=9, slow=25, offset=0 <- parametry do modyfikacji
df.ta.massi(append=True)

timestamp
2003-05-04 00:00:00+00:00          NaN
2003-05-05 00:00:00+00:00          NaN
2003-05-06 00:00:00+00:00          NaN
2003-05-07 00:00:00+00:00          NaN
2003-05-08 00:00:00+00:00          NaN
                               ...
2025-07-28 00:00:00+00:00    24.544247
2025-07-29 00:00:00+00:00    24.753080
2025-07-30 00:00:00+00:00    25.100503
2025-07-31 00:00:00+00:00    25.298507
2025-08-01 00:00:00+00:00    25.605867
Name: MASSI_9_25, Length: 7152, dtype: float64

In [462]:
# 12. Normalized Average True Range, ustawienia standardowe
# Default Inputs: length=20, scalar=100, mamode='ema', talib=True, drift=1, offset=0 <- parametry do modyfikacji
df.ta.natr(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00    0.686464
2025-07-29 00:00:00+00:00    0.689752
2025-07-30 00:00:00+00:00    0.804539
2025-07-31 00:00:00+00:00    0.761611
2025-08-01 00:00:00+00:00    0.887310
Name: NATR_14, Length: 7152, dtype: float64

In [463]:
# 13. Relative Volatility Index, ustawienia standardowe
# Default Inputs: length=14, scalar=100, refined=False, thirds=False, mamode='ema', drift=1, offset=0 <- parametry do modyfikacji
df.ta.rvi(append=True)

timestamp
2003-05-04 00:00:00+00:00          NaN
2003-05-05 00:00:00+00:00          NaN
2003-05-06 00:00:00+00:00          NaN
2003-05-07 00:00:00+00:00          NaN
2003-05-08 00:00:00+00:00          NaN
                               ...
2025-07-28 00:00:00+00:00    49.893494
2025-07-29 00:00:00+00:00    41.993566
2025-07-30 00:00:00+00:00    33.707001
2025-07-31 00:00:00+00:00    26.550435
2025-08-01 00:00:00+00:00    41.104084
Name: RVI_14, Length: 7152, dtype: float64

In [464]:
# 14. TTM Squeeze, ustawienia standardowe
# Default Inputs: bb_length=20, bb_std=2, kc_length=20, kc_scalar=1.5, mom_length=12, mom_smooth=6, use_tr=True, mamode='sma', offset=0 <- parametry do modyfikacji
df.ta.squeeze(append=True)

                           SQZ_20_2.0_20_1.5  SQZ_ON  SQZ_OFF  SQZ_NO
timestamp
2003-05-04 00:00:00+00:00                NaN       0        0       1
2003-05-05 00:00:00+00:00                NaN       0        0       1
2003-05-06 00:00:00+00:00                NaN       0        0       1
2003-05-07 00:00:00+00:00                NaN       0        0       1
2003-05-08 00:00:00+00:00                NaN       0        0       1
...                                      ...     ...      ...     ...
2025-07-28 00:00:00+00:00           0.002693       0        1       0
2025-07-29 00:00:00+00:00           0.001512       0        1       0
2025-07-30 00:00:00+00:00          -0.002538       0        1       0
2025-07-31 00:00:00+00:00          -0.006638       0        1       0
2025-08-01 00:00:00+00:00          -0.008173       0        1       0

[7152 rows x 4 columns]

In [465]:
# 15. TTM Squeeze Pro, ustawienia standardowe
# Default Inputs: bb_length=20, bb_std=2, kc_length=20, kc_scalar_wide=2, kc_scalar_normal=1.5, kc_scalar_narrow=1, mom_length=12, mom_smooth=6, use_tr=True, mamode='sma', offset=0 <- parametry do modyfikacji
df.ta.squeeze_pro(append=True)

,SQZPRO_20_2.0_20_2_1.5_1,SQZPRO_ON_WIDE,SQZPRO_ON_NORMAL,SQZPRO_ON_NARROW,SQZPRO_OFF,SQZPRO_NO
timestamp,,,,,,
2003-05-04 00:00:00+00:00,NaN,0,0,0,0,1
2003-05-05 00:00:00+00:00,NaN,0,0,0,0,1
2003-05-06 00:00:00+00:00,NaN,0,0,0,0,1
2003-05-07 00:00:00+00:00,NaN,0,0,0,0,1
2003-05-08 00:00:00+00:00,NaN,0,0,0,0,1
...,...,...,...,...,...,...
2025-07-28 00:00:00+00:00,0.002693,1,0,0,0,0
2025-07-29 00:00:00+00:00,0.001512,1,0,0,0,0
2025-07-30 00:00:00+00:00,-0.002538,0,0,0,1,0
2025-07-31 00:00:00+00:00,-0.006638,0,0,0,1,0
2025-08-01 00:00:00+00:00,-0.008173,0,0,0,1,0

In [466]:
# 16. Think or Swim Standard Deviation All, ustawienia standardowe
# Default Inputs: length=None (means All), stds=[1,2,3], ddof=1, offset=0 <- parametry do modyfikacji
df.ta.tos_stdevall(append=True)

,TOS_STDEVALL_LR,TOS_STDEVALL_L_1,TOS_STDEVALL_U_1,TOS_STDEVALL_L_2,TOS_STDEVALL_U_2,TOS_STDEVALL_L_3,TOS_STDEVALL_U_3
timestamp,,,,,,,
2003-05-04 00:00:00+00:00,1.369040,1.241146,1.496935,1.113252,1.624829,0.985357,1.752723
2003-05-05 00:00:00+00:00,1.369001,1.241106,1.496895,1.113212,1.624789,0.985318,1.752684
2003-05-06 00:00:00+00:00,1.368961,1.241067,1.496856,1.113173,1.624750,0.985278,1.752644
2003-05-07 00:00:00+00:00,1.368922,1.241027,1.496816,1.113133,1.624710,0.985239,1.752605
2003-05-08 00:00:00+00:00,1.368882,1.240988,1.496777,1.113094,1.624671,0.985199,1.752565
...,...,...,...,...,...,...,...
2025-07-28 00:00:00+00:00,1.086748,0.958854,1.214642,0.830959,1.342537,0.703065,1.470431
2025-07-29 00:00:00+00:00,1.086708,0.958814,1.214603,0.830920,1.342497,0.703026,1.470391
2025-07-30 00:00:00+00:00,1.086669,0.958775,1.214563,0.830880,1.342458,0.702986,1.470352
2025-07-31 00:00:00+00:00,1.086629,0.958735,1.214524,0.830841,1.342418,0.702947,1.470312
2025-08-01 00:00:00+00:00,1.086590,0.958696,1.214484,0.830801,1.342379,0.702907,1.470273

In [467]:
# 17. True Range, ustawienia standardowe
# Default Inputs: talib=True, drift=1, offset=0 <- parametry do modyfikacji
df.ta.true_range(append=True)

timestamp
2003-05-04 00:00:00+00:00        NaN
2003-05-05 00:00:00+00:00    0.00995
2003-05-06 00:00:00+00:00    0.01783
2003-05-07 00:00:00+00:00    0.01058
2003-05-08 00:00:00+00:00    0.02071
                              ...
2025-07-28 00:00:00+00:00    0.01850
2025-07-29 00:00:00+00:00    0.00801
2025-07-30 00:00:00+00:00    0.01717
2025-07-31 00:00:00+00:00    0.00548
2025-08-01 00:00:00+00:00    0.02054
Name: TRUERANGE_1, Length: 7152, dtype: float64

In [468]:
# 18. Ulcer Index, ustawienia standardowe
# Default Inputs: length=14, scalar=100, offset=0 <- parametry do modyfikacji
df.ta.ui(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00    1.074635
2025-07-29 00:00:00+00:00    1.154609
2025-07-30 00:00:00+00:00    1.359337
2025-07-31 00:00:00+00:00    1.511260
2025-08-01 00:00:00+00:00    1.524112
Name: UI_14, Length: 7152, dtype: float64

In [469]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7152 entries, 2003-05-04 00:00:00+00:00 to 2025-08-01 00:00:00+00:00
Columns: 146 entries, open to UI_14
dtypes: float64(131), int32(13), int64(2)
memory usage: 7.9 MB

Wskaźniki wolumenu

1. ad (Accumulation/Distribution Line)
2. adosc (Chaikin Oscillator)
3. aobv (Adaptive On-Balance Volume)
4. cmf (Chaikin Money Flow)
5. efi (Elder's Force Index)
6. eom (Ease of Movement)
7. kvo (Klinger Volume Oscillator)
8. mfi (Money Flow Index)
9. nvi (Negative Volume Index)
10. obv (On-Balance Volume)
11. pvi (Positive Volume Index)
12. pvo (Percentage Volume Oscillator)
13. pvol (Price-Volume)
14. pvr (Price-Volume Rank)
15. pvt (Price and Volume Trend)
16. vp (Volume Profile)
17. vwap (Volume-Weighted Average Price)
18. vwma (Volume-Weighted Moving Average)

In [470]:
# 1. Accumulation/Distribution Line, ustawienia standardowe
# Default Inputs: talib=True, offset=0 <- parametry do modyfikacji
df.ta.ad(append=True)

timestamp
2003-05-04 00:00:00+00:00   -2.310476e+05
2003-05-05 00:00:00+00:00    8.269470e+05
2003-05-06 00:00:00+00:00    1.717434e+06
2003-05-07 00:00:00+00:00    9.957342e+05
2003-05-08 00:00:00+00:00    1.947964e+06
                                 ...
2025-07-28 00:00:00+00:00    3.325066e+07
2025-07-29 00:00:00+00:00    3.322874e+07
2025-07-30 00:00:00+00:00    3.312310e+07
2025-07-31 00:00:00+00:00    3.308263e+07
2025-08-01 00:00:00+00:00    3.321027e+07
Name: AD, Length: 7152, dtype: float64

In [471]:
# 2. Chaikin Oscillator, ustawienia standardowe
# Default Inputs: fast=12, slow=26, talib=True, offset=0 <- parametry do modyfikacji
df.ta.adosc(append=True)

timestamp
2003-05-04 00:00:00+00:00             NaN
2003-05-05 00:00:00+00:00             NaN
2003-05-06 00:00:00+00:00             NaN
2003-05-07 00:00:00+00:00             NaN
2003-05-08 00:00:00+00:00             NaN
                                 ...
2025-07-28 00:00:00+00:00    14491.387784
2025-07-29 00:00:00+00:00    -6816.075019
2025-07-30 00:00:00+00:00   -48526.485354
2025-07-31 00:00:00+00:00   -74056.823320
2025-08-01 00:00:00+00:00   -37156.094359
Name: ADOSC_3_10, Length: 7152, dtype: float64

In [472]:
# 3. Adaptive On-Balance Volume, ustawienia standardowe
# Default Inputs: fast=4, slow=12, max_lookback=2, min_lookback=2, mamode='ema', offset=0 <- parametry do modyfikacji
df.ta.aobv(append=True)

,OBV,OBV_min_2,OBV_max_2,OBVe_4,OBVe_12,AOBV_LR_2,AOBV_SR_2
timestamp,,,,,,,
2003-05-04 00:00:00+00:00,2.570405e+05,NaN,NaN,NaN,NaN,0,0
2003-05-05 00:00:00+00:00,1.533046e+06,2.570405e+05,1.533046e+06,NaN,NaN,0,0
2003-05-06 00:00:00+00:00,2.814513e+06,1.533046e+06,2.814513e+06,NaN,NaN,0,0
2003-05-07 00:00:00+00:00,1.541916e+06,1.541916e+06,2.814513e+06,1.536629e+06,NaN,0,0
2003-05-08 00:00:00+00:00,2.808498e+06,1.541916e+06,2.808498e+06,2.045377e+06,NaN,0,0
...,...,...,...,...,...,...,...
2025-07-28 00:00:00+00:00,1.523257e+07,1.523257e+07,1.532699e+07,1.530377e+07,1.532749e+07,0,1
2025-07-29 00:00:00+00:00,1.512620e+07,1.512620e+07,1.523257e+07,1.523274e+07,1.529652e+07,0,1
2025-07-30 00:00:00+00:00,1.497209e+07,1.497209e+07,1.512620e+07,1.512848e+07,1.524661e+07,0,1
2025-07-31 00:00:00+00:00,1.487565e+07,1.487565e+07,1.497209e+07,1.502735e+07,1.518954e+07,0,1
2025-08-01 00:00:00+00:00,1.502327e+07,1.487565e+07,1.502327e+07,1.502572e+07,1.516396e+07,0,1

In [473]:
# 4. Chaikin Money Flow, ustawienia standardowe
# Default Inputs: length=20, offset=0 <- parametry do modyfikacji
df.ta.cmf(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00    0.000582
2025-07-29 00:00:00+00:00   -0.013231
2025-07-30 00:00:00+00:00   -0.071482
2025-07-31 00:00:00+00:00   -0.094926
2025-08-01 00:00:00+00:00   -0.065246
Name: CMF_20, Length: 7152, dtype: float64

In [474]:
# 5. Elder's Force Index, ustawienia standardowe
# Default Inputs: length=13, mamode='ema', drift=1, offset=0 <- parametry do modyfikacji
df.ta.efi(append=True)

timestamp
2003-05-04 00:00:00+00:00           NaN
2003-05-05 00:00:00+00:00           NaN
2003-05-06 00:00:00+00:00           NaN
2003-05-07 00:00:00+00:00           NaN
2003-05-08 00:00:00+00:00           NaN
                                ...
2025-07-28 00:00:00+00:00   -182.627651
2025-07-29 00:00:00+00:00   -225.985769
2025-07-30 00:00:00+00:00   -464.054832
2025-07-31 00:00:00+00:00   -406.165051
2025-08-01 00:00:00+00:00     -7.985281
Name: EFI_13, Length: 7152, dtype: float64

In [475]:
# 6. Ease of Movement, ustawienia standardowe
# Default Inputs: length=14, divisor=100000000, drift=1, offset=0 <- parametry do modyfikacji
df.ta.eom(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00   -0.004229
2025-07-29 00:00:00+00:00   -0.006074
2025-07-30 00:00:00+00:00   -0.011941
2025-07-31 00:00:00+00:00   -0.012115
2025-08-01 00:00:00+00:00   -0.005987
Name: EOM_14_100000000, Length: 7152, dtype: float64

In [476]:
# 7. Klinger Volume Oscillator, ustawienia standardowe
# Default Inputs: fast=34, slow=55, signal=13, mamode='ema', drift=1, offset=0 <- parametry do modyfikacji
df.ta.kvo(append=True)

                           KVO_34_55_13  KVOs_34_55_13
timestamp
2003-05-04 00:00:00+00:00           NaN            NaN
2003-05-05 00:00:00+00:00           NaN            NaN
2003-05-06 00:00:00+00:00           NaN            NaN
2003-05-07 00:00:00+00:00           NaN            NaN
2003-05-08 00:00:00+00:00           NaN            NaN
...                                 ...            ...
2025-07-28 00:00:00+00:00  -5479.696151   -5288.600521
2025-07-29 00:00:00+00:00  -7643.614642   -5625.031110
2025-07-30 00:00:00+00:00 -10618.301433   -6338.355442
2025-07-31 00:00:00+00:00 -12065.313809   -7156.492351
2025-08-01 00:00:00+00:00  -8126.527890   -7295.068857

[7152 rows x 2 columns]

In [477]:
# 8. Money Flow Index, ustawienia standardowe
# Default Inputs: length=14, talib=True, drift=1, offset=0 <- parametry do modyfikacji
df.ta.mfi(append=True)

C:\Users\mt242\AppData\Local\Temp\ipykernel_37700\4245470861.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1437407.548344   1458578.55407    1447715.091713   ...  105518.68817617
    5173.85783133  170113.1025534 ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.ta.mfi(append=True)
C:\Users\mt242\AppData\Local\Temp\ipykernel_37700\4245470861.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1446865.978404   1460606.71938133 1468507.91346433 ...  122928.1986476
  176718.30162857  110221.00615423]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.ta.mfi(append=True)

timestamp
2003-05-04 00:00:00+00:00          NaN
2003-05-05 00:00:00+00:00          NaN
2003-05-06 00:00:00+00:00          NaN
2003-05-07 00:00:00+00:00          NaN
2003-05-08 00:00:00+00:00          NaN
                               ...
2025-07-28 00:00:00+00:00    53.668224
2025-07-29 00:00:00+00:00    49.137331
2025-07-30 00:00:00+00:00    46.466086
2025-07-31 00:00:00+00:00    47.391417
2025-08-01 00:00:00+00:00    47.259806
Name: MFI_14, Length: 7152, dtype: float64

In [478]:
# 9. Negative Volume Index, ustawienia standardowe
# Default Inputs: length=13, initial=1000, offset=0 <- parametry do modyfikacji
df.ta.nvi(append=True)

timestamp
2003-05-04 00:00:00+00:00    1000.000000
2003-05-05 00:00:00+00:00    1000.000000
2003-05-06 00:00:00+00:00    1000.000000
2003-05-07 00:00:00+00:00     999.352207
2003-05-08 00:00:00+00:00    1000.520551
                                ...
2025-07-28 00:00:00+00:00     990.743448
2025-07-29 00:00:00+00:00     990.743448
2025-07-30 00:00:00+00:00     990.743448
2025-07-31 00:00:00+00:00     990.690069
2025-08-01 00:00:00+00:00     990.690069
Name: NVI_1, Length: 7152, dtype: float64

In [479]:
# 10. On-Balance Volume, ustawienia standardowe
# Default Inputs: talib=True, offset=0 <- parametry do modyfikacji
df.ta.obv(append=True)

timestamp
2003-05-04 00:00:00+00:00    2.570405e+05
2003-05-05 00:00:00+00:00    1.533046e+06
2003-05-06 00:00:00+00:00    2.814513e+06
2003-05-07 00:00:00+00:00    1.541916e+06
2003-05-08 00:00:00+00:00    2.808498e+06
                                 ...
2025-07-28 00:00:00+00:00    1.523257e+07
2025-07-29 00:00:00+00:00    1.512620e+07
2025-07-30 00:00:00+00:00    1.497209e+07
2025-07-31 00:00:00+00:00    1.487565e+07
2025-08-01 00:00:00+00:00    1.502327e+07
Name: OBV, Length: 7152, dtype: float64

In [480]:
# 11. Positive Volume Index, ustawienia standardowe
# Default Inputs: length=13, initial=1000, offset=0 <- parametry do modyfikacji
df.ta.pvi(append=True)

timestamp
2003-05-04 00:00:00+00:00    1000.000000
2003-05-05 00:00:00+00:00    1000.673091
2003-05-06 00:00:00+00:00    1001.833164
2003-05-07 00:00:00+00:00    1001.833164
2003-05-08 00:00:00+00:00    1001.833164
                                ...
2025-07-28 00:00:00+00:00    1021.688896
2025-07-29 00:00:00+00:00    1021.294805
2025-07-30 00:00:00+00:00    1020.231657
2025-07-31 00:00:00+00:00    1020.231657
2025-08-01 00:00:00+00:00    1021.643881
Name: PVI_1, Length: 7152, dtype: float64

In [481]:
# 12. Percentage Volume Oscillator, ustawienia standardowe
# Default Inputs: fast=12, slow=26, signal=9, scalar=100, offset=0s <- parametry do modyfikacji
df.ta.pvo(append=True)

                           PVO_12_26_9  PVOh_12_26_9  PVOs_12_26_9
timestamp
2003-05-04 00:00:00+00:00          NaN           NaN           NaN
2003-05-05 00:00:00+00:00          NaN           NaN           NaN
2003-05-06 00:00:00+00:00          NaN           NaN           NaN
2003-05-07 00:00:00+00:00          NaN           NaN           NaN
2003-05-08 00:00:00+00:00          NaN           NaN           NaN
...                                ...           ...           ...
2025-07-28 00:00:00+00:00    -9.696630     -1.345642     -8.350988
2025-07-29 00:00:00+00:00    -5.864172      1.989453     -7.853624
2025-07-30 00:00:00+00:00     1.447892      7.441213     -5.993321
2025-07-31 00:00:00+00:00     1.780832      6.219323     -4.438490
2025-08-01 00:00:00+00:00     6.245571      8.547249     -2.301678

[7152 rows x 3 columns]

In [482]:
# 13. Price-Volume, ustawienia standardowe
# Default Inputs: offset=0 <- parametry do modyfikacji
df.ta.pvol(append=True)

timestamp
2003-05-04 00:00:00+00:00    2.883198e+05
2003-05-05 00:00:00+00:00    1.440917e+06
2003-05-06 00:00:00+00:00    1.463871e+06
2003-05-07 00:00:00+00:00    1.444321e+06
2003-05-08 00:00:00+00:00    1.454289e+06
                                 ...
2025-07-28 00:00:00+00:00    1.094825e+05
2025-07-29 00:00:00+00:00    1.228697e+05
2025-07-30 00:00:00+00:00    1.761137e+05
2025-07-31 00:00:00+00:00    1.101471e+05
2025-08-01 00:00:00+00:00    1.709870e+05
Name: PVOL, Length: 7152, dtype: float64

In [483]:
# 14. Price-Volume Rank, ustawienia standardowe
# Default Inputs: None
df.ta.pvr(append=True)

timestamp
2003-05-04 00:00:00+00:00    1.0
2003-05-05 00:00:00+00:00    1.0
2003-05-06 00:00:00+00:00    1.0
2003-05-07 00:00:00+00:00    4.0
2003-05-08 00:00:00+00:00    2.0
                            ...
2025-07-28 00:00:00+00:00    3.0
2025-07-29 00:00:00+00:00    3.0
2025-07-30 00:00:00+00:00    3.0
2025-07-31 00:00:00+00:00    4.0
2025-08-01 00:00:00+00:00    1.0
Name: PVR, Length: 7152, dtype: float64

In [484]:
# 15. Price and Volume Trend, ustawienia standardowe
# Default Inputs: drift=1, offset=0 <- parametry do modyfikacji
df.ta.pvt(append=True)

timestamp
2003-05-04 00:00:00+00:00             NaN
2003-05-05 00:00:00+00:00    8.588685e+05
2003-05-06 00:00:00+00:00    2.345463e+06
2003-05-07 00:00:00+00:00    1.521084e+06
2003-05-08 00:00:00+00:00    3.000886e+06
                                 ...
2025-07-28 00:00:00+00:00    3.179175e+07
2025-07-29 00:00:00+00:00    3.174983e+07
2025-07-30 00:00:00+00:00    3.158598e+07
2025-07-31 00:00:00+00:00    3.158084e+07
2025-08-01 00:00:00+00:00    3.178931e+07
Name: PVT, Length: 7152, dtype: float64

In [485]:
# 16. Volume Profile, ustawienia standardowe
# Default Inputs: width=10 <- parametry do modyfikacji
df.ta.vp(append=True)

C:\Users\mt242\anaconda3\Lib\site-packages\numpy\core\fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

   low_close  mean_close  high_close    pos_volume    neg_volume  total_volume
0    1.08022    1.226915     1.36212  4.040275e+08  3.943613e+08  7.983887e+08
1    1.16703    1.289190     1.48710  3.786116e+08  3.599534e+08  7.385650e+08
2    1.24380    1.430251     1.59721  1.576543e+08  1.784314e+08  3.360858e+08
3    1.19208    1.353451     1.48402  5.269862e+07  4.717448e+07  9.987310e+07
4    1.20612    1.312209     1.38753  5.010852e+07  4.805219e+07  9.816070e+07
5    1.04837    1.189681     1.39292  5.516170e+07  6.039439e+07  1.155561e+08
6    1.03906    1.143264     1.25105  9.412569e+07  9.346215e+07  1.875878e+08
7    1.06544    1.132563     1.22984  9.907894e+07  9.720916e+07  1.962881e+08
8    0.95953    1.112159     1.23382  7.715656e+07  6.891373e+07  1.460703e+08
9    1.02400    1.088385     1.18050  6.786824e+07  7.351627e+07  1.413845e+08

In [486]:
# 17. Volume-Weighted Average Price, ustawienia standardowe
# Default Inputs: anchor="D", offset=0 <- parametry do modyfikacji
df.ta.vwap(append=True)

C:\Users\mt242\AppData\Local\Temp\ipykernel_37700\3518576301.py:3: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df.ta.vwap(append=True)

timestamp
2003-05-04 00:00:00+00:00    1.122223
2003-05-05 00:00:00+00:00    1.126490
2003-05-06 00:00:00+00:00    1.138210
2003-05-07 00:00:00+00:00    1.136940
2003-05-08 00:00:00+00:00    1.143010
                               ...
2025-07-28 00:00:00+00:00    1.165043
2025-07-29 00:00:00+00:00    1.155610
2025-07-30 00:00:00+00:00    1.146703
2025-07-31 00:00:00+00:00    1.142937
2025-08-01 00:00:00+00:00    1.152380
Name: VWAP_D, Length: 7152, dtype: float64

In [487]:
# 18. Volume-Weighted Moving Average, ustawienia standardowe
# Default Inputs: length=10, offset=0 <- parametry do modyfikacji
df.ta.vwma(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00    1.168989
2025-07-29 00:00:00+00:00    1.168043
2025-07-30 00:00:00+00:00    1.163721
2025-07-31 00:00:00+00:00    1.161384
2025-08-01 00:00:00+00:00    1.160188
Name: VWMA_10, Length: 7152, dtype: float64

In [488]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7152 entries, 2003-05-04 00:00:00+00:00 to 2025-08-01 00:00:00+00:00
Columns: 177 entries, open to VWMA_10
dtypes: float64(160), int32(15), int64(2)
memory usage: 9.6 MB

Funkcje rozpoznające formacje świecowe

1. cdl_pattern (Candlestick Pattern)
2. cdl_z (Candlestick Z-Score)

In [ ]:
help(ta.cdl_pattern)

In [ ]:
# 1. Candlestick Pattern, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.cdl_pattern(append=True)

In [ ]:
help(ta.cdl_z)

In [ ]:
# 2. Candlestick Z-Score, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.cdl_z(append=True)

Średnie Kroczące, filtry i funkcje wygładzające średnie

1. alma (Arnaud Legoux Moving Average)
2. dema (Double Exponential Moving Average)
3. ema (Exponential Moving Average)
4. fwma (Fibonacci's Weighted Moving Average)
5. hma (Hull Moving Average)
6. hwma (Holt-Winters Moving Average)
7. jma (Jurik Moving Average)
8. kama (Kaufman's Adaptive Moving Average)
9. mcgd (McGinley Dynamic)
10. pwma (Pascal's Weighted Moving Average)
11. rma (Running Moving Average)
12. sinwma (Sine Weighted Moving Average)
13. sma (Simple Moving Average)
14. ssf (Ehlers Super Smoother Filter)
15. swma (Symmetric Weighted Moving Average)
16. t3 (T3 Moving Average)
17. tema (Triple Exponential Moving Average)
18. trima (Triangular Moving Average)
19. vidya (Variable Index Dynamic Average)
20. wma (Weighted Moving Average)
21. zlma (Zero Lag Moving Average)

In [ ]:
help(ta.alma)

In [ ]:
# 1. Arnaud Legoux Moving Average, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.alma(append=True)

In [ ]:
help(ta.dema)

In [ ]:
# 2. Double Exponential Moving Average, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.dema(append=True)

In [ ]:
help(ta.ema)

In [ ]:
# 3. Exponential Moving Average, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.ema(append=True)

In [ ]:
help(ta.fwma)

In [ ]:
# 4. Fibonacci's Weighted Moving Average, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.fwma(append=True)

In [ ]:
help(ta.hma)

In [ ]:
# 5. Hull Moving Average, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.hma(append=True)

In [ ]:
help(ta.hwma)

In [ ]:
# 6. Holt-Winters Moving Average, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.hwma(append=True)

In [ ]:
help(ta.jma)

In [ ]:
# 7. Jurik Moving Average, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.jma(append=True)

In [ ]:
help(ta.kama)

In [ ]:
# 8. Kaufman's Adaptive Moving Average, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.kama(append=True)

In [ ]:
help(ta.mcgd)

In [ ]:
# 9. McGinley Dynamic, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.mcgd(append=True)

In [ ]:
help(ta.pwma)

In [ ]:
# 10. Pascal's Weighted Moving Average, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.pwma(append=True)

In [ ]:
help(ta.rma)

In [ ]:
# 11. Running Moving Average, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.rma(append=True)

In [ ]:
help(ta.sinwma)

In [ ]:
# 12. Sine Weighted Moving Average, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.sinwma(append=True)

In [ ]:
help(ta.sma)

In [ ]:
# 13. Simple Moving Average, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.sma(append=True)

In [ ]:
help(ta.ssf)

In [ ]:
# 14. Ehlers Super Smoother Filter, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.ssf(append=True)

In [ ]:
help(ta.swma)

In [ ]:
# 15. Symmetric Weighted Moving Average, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.swma(append=True)

In [ ]:
help(ta.t3)

In [ ]:
# 16. T3 Moving Average, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.t3(append=True)

In [ ]:
help(ta.tema)

In [ ]:
# 17. Triple Exponential Moving Average, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.tema(append=True)

In [ ]:
help(ta.trima)

In [ ]:
# 18. Triangular Moving Average, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.trima(append=True)

In [ ]:
help(ta.vidya)

In [ ]:
# 19. Variable Index Dynamic Average, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.vidya(append=True)

In [ ]:
help(ta.wma)

In [ ]:
# 20. Weighted Moving Average, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.wma(append=True)

In [ ]:
help(ta.zlma)

In [ ]:
# 21. Zero Lag Moving Average, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.zlma(append=True)

In [ ]:
df.info()

Miary statystyczne i pomocnicze

1. decay (Decay)
2. hwc / wcp (Heavily Weighted Close / Weighted Close Price)
3. hl2 (High-Low 2)
4. hlc3 (High-Low-Close 3)
5. kurtosis (Kurtoza)
6. log_return (Logarithmic Return)
7. mad (Mean Absolute Deviation)
8. median (Mediana)
9. midpoint (Midpoint)
10. midprice (Midprice)
11. ohlc4 (Open-High-Low-Close 4)
12. pdist (Price Distance)
13. percent_return (Percent Return)
14. quantile (Kwantyl)
15. skew (Skośność)
16. stdev (Standard Deviation)
17. variance (Wariancja)
18. zscore (Z-Score)

In [ ]:
help(ta.decay)

In [ ]:
# 1. Decay, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.decay(append=True)

In [ ]:
help(ta.hwp)

In [ ]:
# 2. Heavily Weighted Close, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.hwc(append=True)

In [ ]:
help(ta.hl2)

In [ ]:
# 3. High-Low 2, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.hl2(append=True)

In [ ]:
help(ta.hlc3)

In [ ]:
# 4. High-Low-Close 3, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.hlc3(append=True)

In [ ]:
help(ta.kurtosis)

In [ ]:
# 5. Kurtoza, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.kurtosis(append=True)

In [ ]:
help(ta.log_return)

In [ ]:
# 6. Logarithmic Return, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.log_return(append=True)

In [ ]:
help(ta.mad)

In [ ]:
# 7. Mean Absolute Deviation, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.mad(append=True)

In [ ]:
help(ta.median)

In [ ]:
# 8. Mediana, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.median(append=True)

In [ ]:
help(ta.midpoint)

In [ ]:
# 9. Midpoint, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.midpoint(append=True)

In [ ]:
help(ta.midprice)

In [ ]:
# 10. Midprice, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.midprice(append=True)

In [ ]:
help(ta.ohlc4)

In [ ]:
# 11. Open-High-Low-Close 4, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.ohlc4(append=True)

In [ ]:
help(ta.pdist)

In [ ]:
# 12. Price Distance, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.pdist(append=True)

In [ ]:
help(ta.percent_return)

In [ ]:
# 13. Percent Return, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.percent_return(append=True)

In [ ]:
help(ta.quantile)

In [ ]:
# 14. Kwantyl, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.quantile(append=True)

In [ ]:
help(ta.skew)

In [ ]:
# 15. Skewness, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.skew(append=True)

In [ ]:
help(ta.stdev)

In [ ]:
# 16. Standard Deviation, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.stdev(append=True)

In [ ]:
help(ta.variance)

In [ ]:
# 17. Variance, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.variance(append=True)

In [ ]:
help(ta.zscore)

In [ ]:
# 18. Z-Score, ustawienia standardowe
# Default Inputs:  <- parametry do modyfikacji
df.ta.zscore(append=True)

In [ ]:
df.info()