# Implementacja modelu uczenia maszynowego na potrzeby predykcji kursu indeksu WIG20

Ideą numer 1 jest próba wyłonienia najbardziej istotnych informacji, które zwiększają prawdopodobieństwo podjęcia właściwej decyzji inwestycyjnej.
Ideą numer 2 jest stworzenie modelu uczenia maszynowego, aby sprawdzić jego przydatność w tradingu. Używana do budowy modeli jest bibliteka scikit-learn.
Idea numer 3 to próba wyłonienia powiązań między wskaźnikami, które z wyprzedzeniem informują o zbliżających się sygnałach inwestycyjnych

### Instalacja niezbędnych bibliotek

Bazuję na danych historycznych pochodzących z serwisu: https://www.dukascopy.com/swiss/pl/marketwatch/historical/
Dukascopy daje możliwość pobierania danych za pomocą specjalnej biblioteki pythonowej, co jest bardzo wygodnym rozwiązaniem. Nazwa biblioteki: dukascopy-python

In [114]:
#pip install dukascopy-python

In [115]:
#pip install --upgrade dukascopy-python

Biblioteka dukascopy-python pobiera dane prosto do struktury danych Pandas DataFrame, więc trzeba zainstalować biblitekę Pandas

In [116]:
#pip install pandas

In [117]:
#pip install --upgrade pandas

Sprawdzenie możliwości biblioteki

Niezbędna będzie malipulacja datami: biblioteka datetime

In [118]:
#pip install datetime

In [119]:
#pip install --upgrade datetime

Skoro ML to biblioteka scikit-learn

In [120]:
#pip install scikit-learn

In [121]:
#pip intall --upgrade scikit-learn

Jakaś biblioteka do analizy technicznej

In [122]:
#pip install pandas-ta

In [123]:
#pip install --ipgrade pandas-ta

### Import bibliotek

In [124]:
from datetime import datetime
#
import dukascopy_python as dcp
#
import pandas as pd
#
import pandas_ta as ta

Wyświetlenie dokumentacji biblioteki dukascopy_python

In [125]:
help(dcp)

Help on package dukascopy_python:

NAME
    dukascopy_python

PACKAGE CONTENTS
    instruments

FUNCTIONS
    fetch(instrument: str, interval: str, offer_side: str, start: datetime.datetime, end: datetime.datetime, max_retries: int = 7, limit: int = 30000, debug=False)

    live_fetch(instrument: str, interval_value: int, time_unit: str, offer_side: str, start: datetime.datetime, end: datetime.datetime, max_retries: int = 7, limit: int = 30000, debug=False)

    sleep(...)
        sleep(seconds)

        Delay execution for a given number of seconds.  The argument may be
        a floating-point number for subsecond precision.

DATA
    INTERVAL_DAY_1 = '1DAY'
    INTERVAL_HOUR_1 = '1HOUR'
    INTERVAL_HOUR_4 = '4HOUR'
    INTERVAL_MIN_1 = '1MIN'
    INTERVAL_MIN_10 = '10MIN'
    INTERVAL_MIN_15 = '15MIN'
    INTERVAL_MIN_30 = '30MIN'
    INTERVAL_MIN_5 = '5MIN'
    INTERVAL_MONTH_1 = '1MONTH'
    INTERVAL_SEC_1 = '1SEC'
    INTERVAL_SEC_10 = '10SEC'
    INTERVAL_SEC_30 = '30SEC'
    INTERVAL_TICK = 'TICK'
    INTERVAL_WEEK_1 = '1WEEK'
    OFFER_SIDE_ASK = 'A'
    OFFER_SIDE_BID = 'B'
    TIME_UNIT_DAY = 'DAY'
    TIME_UNIT_HOUR = 'HOUR'
    TIME_UNIT_MIN = 'MIN'
    TIME_UNIT_MONTH = 'MONTH'
    TIME_UNIT_SEC = 'SEC'
    TIME_UNIT_TICK = 'TICK'
    TIME_UNIT_WEEK = 'WEEK'

FILE
    c:\users\mt242\anaconda3\lib\site-packages\dukascopy_python\__init__.py

Sprawdzenie listy dostępnych instrumentów

In [126]:
import dukascopy_python.instruments as dcpi

In [127]:
help(dcpi)

Help on module dukascopy_python.instruments in dukascopy_python:

NAME
    dukascopy_python.instruments

DATA
    INSTRUMENT_AUSTRIA_ANDR_AT_EUR = 'ANDR.AT/EUR'
    INSTRUMENT_AUSTRIA_EBS_AT_EUR = 'EBS.AT/EUR'
    INSTRUMENT_AUSTRIA_POST_AT_EUR = 'POST.AT/EUR'
    INSTRUMENT_AUSTRIA_RBI_AT_EUR = 'RBI.AT/EUR'
    INSTRUMENT_AUSTRIA_TKA_AT_EUR = 'TKA.AT/EUR'
    INSTRUMENT_AUSTRIA_VER_AT_EUR = 'VER.AT/EUR'
    INSTRUMENT_AUSTRIA_VIG_AT_EUR = 'VIG.AT/EUR'
    INSTRUMENT_AUSTRIA_VOE_AT_EUR = 'VOE.AT/EUR'
    INSTRUMENT_AUSTRIA_WIE_AT_EUR = 'WIE.AT/EUR'
    INSTRUMENT_BELGIUM_ABI_BE_EUR = 'ABI.BE/EUR'
    INSTRUMENT_BELGIUM_AGS_BE_EUR = 'AGS.BE/EUR'
    INSTRUMENT_BELGIUM_BELG_BE_EUR = 'BELG.BE/EUR'
    INSTRUMENT_BELGIUM_KBC_BE_EUR = 'KBC.BE/EUR'
    INSTRUMENT_BELGIUM_SOLB_BE_EUR = 'SOLB.BE/EUR'
    INSTRUMENT_BELGIUM_UCB_BE_EUR = 'UCB.BE/EUR'
    INSTRUMENT_BELGIUM_UMI_BE_EUR = 'UMI.BE/EUR'
    INSTRUMENT_BND_CFD_BUND_TR_EUR = 'BUND.TR/EUR'
    INSTRUMENT_BND_CFD_UKGILT_TR_GBP = 'UKGILT.TR/GBP'
    INSTRUMENT_BND_CFD_USTBOND_TR_USD = 'USTBOND.TR/USD'
    INSTRUMENT_CMD_AGRICULTURAL_COCOA_CMD_USD = 'COCOA.CMD/USD'
    INSTRUMENT_CMD_AGRICULTURAL_COFFEE_CMD_USX = 'COFFEE.CMD/USX'
    INSTRUMENT_CMD_AGRICULTURAL_COTTON_CMD_USX = 'COTTON.CMD/USX'
    INSTRUMENT_CMD_AGRICULTURAL_OJUICE_CMD_USX = 'OJUICE.CMD/USX'
    INSTRUMENT_CMD_AGRICULTURAL_SOYBEAN_CMD_USX = 'SOYBEAN.CMD/USX'
    INSTRUMENT_CMD_AGRICULTURAL_SUGAR_CMD_USD = 'SUGAR.CMD/USD'
    INSTRUMENT_CMD_ENERGY_DIESEL_CMD_USD = 'DIESEL.CMD/USD'
    INSTRUMENT_CMD_ENERGY_E_BRENT = 'E_Brent'
    INSTRUMENT_CMD_ENERGY_E_LIGHT = 'E_Light'
    INSTRUMENT_CMD_ENERGY_GAS_CMD_USD = 'GAS.CMD/USD'
    INSTRUMENT_CMD_METALS_COPPER_CMD_USD = 'COPPER.CMD/USD'
    INSTRUMENT_CMD_METALS_XPD_CMD_USD = 'XPD.CMD/USD'
    INSTRUMENT_CMD_METALS_XPT_CMD_USD = 'XPT.CMD/USD'
    INSTRUMENT_DENMARK_CARLB_DK_DKK = 'CARLB.DK/DKK'
    INSTRUMENT_DENMARK_COLOB_DK_DKK = 'COLOB.DK/DKK'
    INSTRUMENT_DENMARK_DANSKE_DK_DKK = 'DANSKE.DK/DKK'
    INSTRUMENT_DENMARK_MAERSKB_DK_DKK = 'MAERSKB.DK/DKK'
    INSTRUMENT_DENMARK_NOVOB_DK_DKK = 'NOVOB.DK/DKK'
    INSTRUMENT_DENMARK_NZYMB_DK_DKK = 'NZYMB.DK/DKK'
    INSTRUMENT_DENMARK_PNDORA_DK_DKK = 'PNDORA.DK/DKK'
    INSTRUMENT_DENMARK_VWS_DK_DKK = 'VWS.DK/DKK'
    INSTRUMENT_ETF_CFD_ARKI_US_USD = 'ARKI.US/USD'
    INSTRUMENT_ETF_CFD_BUGG_GB_GBP = 'BUGG.GB/GBP'
    INSTRUMENT_ETF_CFD_CSH2_FR_EUR = 'CSH2.FR/EUR'
    INSTRUMENT_ETF_CFD_CSH2_GB_GBX = 'CSH2.GB/GBX'
    INSTRUMENT_ETF_CFD_CYSE_GB_GBX = 'CYSE.GB/GBX'
    INSTRUMENT_ETF_CFD_DE_TECDAXE_DE_EUR = 'TECDAXE.DE/EUR'
    INSTRUMENT_ETF_CFD_ESIH_GB_GBP = 'ESIH.GB/GBP'
    INSTRUMENT_ETF_CFD_FR_DSB_FR_EUR = 'DSB.FR/EUR'
    INSTRUMENT_ETF_CFD_FR_LVC_FR_EUR = 'LVC.FR/EUR'
    INSTRUMENT_ETF_CFD_FR_LYXBNK_FR_EUR = 'LYXBNK.FR/EUR'
    INSTRUMENT_ETF_CFD_HK_2822_HK_HKD = '2822.HK/HKD'
    INSTRUMENT_ETF_CFD_HK_2828_HK_HKD = '2828.HK/HKD'
    INSTRUMENT_ETF_CFD_HK_2833_HK_HKD = '2833.HK/HKD'
    INSTRUMENT_ETF_CFD_HK_2836_HK_HKD = '2836.HK/HKD'
    INSTRUMENT_ETF_CFD_HK_3188_HK_HKD = '3188.HK/HKD'
    INSTRUMENT_ETF_CFD_IGLN_US_USD = 'IGLN.US/USD'
    INSTRUMENT_ETF_CFD_IUFS_US_USD = 'IUFS.US/USD'
    INSTRUMENT_ETF_CFD_SEMI_GB_GBP = 'SEMI.GB/GBP'
    INSTRUMENT_ETF_CFD_SGLD_US_USD = 'SGLD.US/USD'
    INSTRUMENT_ETF_CFD_SMH_US_USD = 'SMH.US/USD'
    INSTRUMENT_ETF_CFD_SMTC_US_USD = 'SMTC.US/USD'
    INSTRUMENT_ETF_CFD_US_ARKQ_US_USD = 'ARKQ.US/USD'
    INSTRUMENT_ETF_CFD_US_ARKX_US_USD = 'ARKX.US/USD'
    INSTRUMENT_ETF_CFD_US_AWAY_US_USD = 'AWAY.US/USD'
    INSTRUMENT_ETF_CFD_US_BITO_US_USD = 'BITO.US/USD'
    INSTRUMENT_ETF_CFD_US_BTF_US_USD = 'BTF.US/USD'
    INSTRUMENT_ETF_CFD_US_DIA_US_USD = 'DIA.US/USD'
    INSTRUMENT_ETF_CFD_US_DVY_US_USD = 'DVY.US/USD'
    INSTRUMENT_ETF_CFD_US_EEM_US_USD = 'EEM.US/USD'
    INSTRUMENT_ETF_CFD_US_EFA_US_USD = 'EFA.US/USD'
    INSTRUMENT_ETF_CFD_US_EMB_US_USD = 'EMB.US/USD'
    INSTRUMENT_ETF_CFD_US_ESPO_US_USD = 'ESPO.US/USD'
    INSTRUMENT_ETF_CFD_US_EWH_US_USD = 'EWH.US/USD'
    INSTRUMENT_ETF_CFD_US_EWJ_US_USD = 'EWJ.US/USD'
    INSTRUMENT_ETF_CFD_US_EWW_US_USD = 'EWW.US/USD'
    INSTRUMENT_ETF_CFD_US_EWZ_US_USD = 'EWZ.US/USD'
    INSTRUMENT_ETF_CFD_US_EZU_US_USD = 'EZU.US/USD'
    INSTRUMENT_ETF_CFD_US_FINX_US_USD = 'FINX.US/USD'
    INSTRUMENT_ETF_CFD_US_FTXG_US_USD = 'FTXG.US/USD'
    INSTRUMENT_ETF_CFD_US_FXI_US_USD = 'FXI.US/USD'
    INSTRUMENT_ETF_CFD_US_GDXJ_US_USD = 'GDXJ.US/USD'
    INSTRUMENT_ETF_CFD_US_GDX_US_USD = 'GDX.US/USD'
    INSTRUMENT_ETF_CFD_US_GLD_US_USD = 'GLD.US/USD'
    INSTRUMENT_ETF_CFD_US_IAK_US_USD = 'IAK.US/USD'
    INSTRUMENT_ETF_CFD_US_IBB_US_USD = 'IBB.US/USD'
    INSTRUMENT_ETF_CFD_US_IEF_US_USD = 'IEF.US/USD'
    INSTRUMENT_ETF_CFD_US_IJH_US_USD = 'IJH.US/USD'
    INSTRUMENT_ETF_CFD_US_IJR_US_USD = 'IJR.US/USD'
    INSTRUMENT_ETF_CFD_US_ITA_US_USD = 'ITA.US/USD'
    INSTRUMENT_ETF_CFD_US_IVE_US_USD = 'IVE.US/USD'
    INSTRUMENT_ETF_CFD_US_IVW_US_USD = 'IVW.US/USD'
    INSTRUMENT_ETF_CFD_US_IWD_US_USD = 'IWD.US/USD'
    INSTRUMENT_ETF_CFD_US_IWF_US_USD = 'IWF.US/USD'
    INSTRUMENT_ETF_CFD_US_IWM_US_USD = 'IWM.US/USD'
    INSTRUMENT_ETF_CFD_US_IYR_US_USD = 'IYR.US/USD'
    INSTRUMENT_ETF_CFD_US_JETS_US_USD = 'JETS.US/USD'
    INSTRUMENT_ETF_CFD_US_JNK_US_USD = 'JNK.US/USD'
    INSTRUMENT_ETF_CFD_US_KIE_US_USD = 'KIE.US/USD'
    INSTRUMENT_ETF_CFD_US_KRE_US_USD = 'KRE.US/USD'
    INSTRUMENT_ETF_CFD_US_PBJ_US_USD = 'PBJ.US/USD'
    INSTRUMENT_ETF_CFD_US_PEJ_US_USD = 'PEJ.US/USD'
    INSTRUMENT_ETF_CFD_US_PPA_US_USD = 'PPA.US/USD'
    INSTRUMENT_ETF_CFD_US_QQQ_US_USD = 'QQQ.US/USD'
    INSTRUMENT_ETF_CFD_US_ROBO_US_USD = 'ROBO.US/USD'
    INSTRUMENT_ETF_CFD_US_SLV_US_USD = 'SLV.US/USD'
    INSTRUMENT_ETF_CFD_US_SPY_US_USD = 'SPY.US/USD'
    INSTRUMENT_ETF_CFD_US_TLT_US_USD = 'TLT.US/USD'
    INSTRUMENT_ETF_CFD_US_USO_US_USD = 'USO.US/USD'
    INSTRUMENT_ETF_CFD_US_VDE_US_USD = 'VDE.US/USD'
    INSTRUMENT_ETF_CFD_US_VEA_US_USD = 'VEA.US/USD'
    INSTRUMENT_ETF_CFD_US_VGK_US_USD = 'VGK.US/USD'
    INSTRUMENT_ETF_CFD_US_VNQ_US_USD = 'VNQ.US/USD'
    INSTRUMENT_ETF_CFD_US_VXX_US_USD = 'VXX.US/USD'
    INSTRUMENT_ETF_CFD_US_XLE_US_USD = 'XLE.US/USD'
    INSTRUMENT_ETF_CFD_US_XLF_US_USD = 'XLF.US/USD'
    INSTRUMENT_ETF_CFD_US_XLI_US_USD = 'XLI.US/USD'
    INSTRUMENT_ETF_CFD_US_XLK_US_USD = 'XLK.US/USD'
    INSTRUMENT_ETF_CFD_US_XLP_US_USD = 'XLP.US/USD'
    INSTRUMENT_ETF_CFD_US_XLU_US_USD = 'XLU.US/USD'
    INSTRUMENT_ETF_CFD_US_XLV_US_USD = 'XLV.US/USD'
    INSTRUMENT_ETF_CFD_US_XLY_US_USD = 'XLY.US/USD'
    INSTRUMENT_ETF_CFD_US_XOP_US_USD = 'XOP.US/USD'
    INSTRUMENT_ETF_CFD_US_XRES_US_USD = 'XRES.US/USD'
    INSTRUMENT_ETF_CFD_WTAI_US_USD = 'WTAI.US/USD'
    INSTRUMENT_ETF_CFD_XDER_GB_GBX = 'XDER.GB/GBX'
    INSTRUMENT_ETF_CFD_XDWH_US_USD = 'XDWH.US/USD'
    INSTRUMENT_ETF_CFD_XDWT_US_USD = 'XDWT.US/USD'
    INSTRUMENT_FINLAND_CGCBV_FI_EUR = 'CGCBV.FI/EUR'
    INSTRUMENT_FINLAND_ELI1V_FI_EUR = 'ELI1V.FI/EUR'
    INSTRUMENT_FINLAND_NES1V_FI_EUR = 'NES1V.FI/EUR'
    INSTRUMENT_FINLAND_NRE1V_FI_EUR = 'NRE1V.FI/EUR'
    INSTRUMENT_FINLAND_OTE1V_FI_EUR = 'OTE1V.FI/EUR'
    INSTRUMENT_FINLAND_OUT1V_FI_EUR = 'OUT1V.FI/EUR'
    INSTRUMENT_FINLAND_STERV_FI_EUR = 'STERV.FI/EUR'
    INSTRUMENT_FINLAND_TLS1V_FI_EUR = 'TLS1V.FI/EUR'
    INSTRUMENT_FRANCE_ACA_FR_EUR = 'ACA.FR/EUR'
    INSTRUMENT_FRANCE_AC_FR_EUR = 'AC.FR/EUR'
    INSTRUMENT_FRANCE_AF_FR_EUR = 'AF.FR/EUR'
    INSTRUMENT_FRANCE_AIR_FR_EUR = 'AIR.FR/EUR'
    INSTRUMENT_FRANCE_AI_FR_EUR = 'AI.FR/EUR'
    INSTRUMENT_FRANCE_ALO_FR_EUR = 'ALO.FR/EUR'
    INSTRUMENT_FRANCE_ATO_FR_EUR = 'ATO.FR/EUR'
    INSTRUMENT_FRANCE_BNP_FR_EUR = 'BNP.FR/EUR'
    INSTRUMENT_FRANCE_BN_FR_EUR = 'BN.FR/EUR'
    INSTRUMENT_FRANCE_CAP_FR_EUR = 'CAP.FR/EUR'
    INSTRUMENT_FRANCE_CA_FR_EUR = 'CA.FR/EUR'
    INSTRUMENT_FRANCE_CS_FR_EUR = 'CS.FR/EUR'
    INSTRUMENT_FRANCE_DG_FR_EUR = 'DG.FR/EUR'
    INSTRUMENT_FRANCE_DSY_FR_EUR = 'DSY.FR/EUR'
    INSTRUMENT_FRANCE_EDF_FR_EUR = 'EDF.FR/EUR'
    INSTRUMENT_FRANCE_EI_FR_EUR = 'EI.FR/EUR'
    INSTRUMENT_FRANCE_ENGI_FR_EUR = 'ENGI.FR/EUR'
    INSTRUMENT_FRANCE_EN_FR_EUR = 'EN.FR/EUR'
    INSTRUMENT_FRANCE_FP_FR_EUR = 'FP.FR/EUR'
    INSTRUMENT_FRANCE_FR_FR_EUR = 'FR.FR/EUR'
    INSTRUMENT_FRANCE_GLE_FR_EUR = 'GLE.FR/EUR'
    INSTRUMENT_FRANCE_HO_FR_EUR = 'HO.FR/EUR'
    INSTRUMENT_FRANCE_KER_FR_EUR = 'KER.FR/EUR'
    INSTRUMENT_FRANCE_LI_FR_EUR = 'LI.FR/EUR'
    INSTRUMENT_FRANCE_LR_FR_EUR = 'LR.FR/EUR'
    INSTRUMENT_FRANCE_MC_FR_EUR = 'MC.FR/EUR'
    INSTRUMENT_FRANCE_ML_FR_EUR = 'ML.FR/EUR'
    INSTRUMENT_FRANCE_ORA_FR_EUR = 'ORA.FR/EUR'
    INSTRUMENT_FRANCE_OR_FR_EUR = 'OR.FR/EUR'
    INSTRUMENT_FRANCE_PUB_FR_EUR = 'PUB.FR/EUR'
    INSTRUMENT_FRANCE_RI_FR_EUR = 'RI.FR/EUR'
    INSTRUMENT_FRANCE_RMS_FR_EUR = 'RMS.FR/EUR'
    INSTRUMENT_FRANCE_RNO_FR_EUR = 'RNO.FR/EUR'
    INSTRUMENT_FRANCE_SAF_FR_EUR = 'SAF.FR/EUR'
    INSTRUMENT_FRANCE_SAN_FR_EUR = 'SAN.FR/EUR'
    INSTRUMENT_FRANCE_SGO_FR_EUR = 'SGO.FR/EUR'
    INSTRUMENT_FRANCE_SU_FR_EUR = 'SU.FR/EUR'
    INSTRUMENT_FRANCE_SW_FR_EUR = 'SW.FR/EUR'
    INSTRUMENT_FRANCE_TEC_FR_EUR = 'TEC.FR/EUR'
    INSTRUMENT_FRANCE_UG_FR_EUR = 'UG.FR/EUR'
    INSTRUMENT_FRANCE_VIE_FR_EUR = 'VIE.FR/EUR'
    INSTRUMENT_FRANCE_VIV_FR_EUR = 'VIV.FR/EUR'
    INSTRUMENT_FRANCE_VK_FR_EUR = 'VK.FR/EUR'
    INSTRUMENT_FX_CROSSES_AUD_CAD = 'AUD/CAD'
    INSTRUMENT_FX_CROSSES_AUD_CHF = 'AUD/CHF'
    INSTRUMENT_FX_CROSSES_AUD_JPY = 'AUD/JPY'
    INSTRUMENT_FX_CROSSES_AUD_NZD = 'AUD/NZD'
    INSTRUMENT_FX_CROSSES_AUD_SGD = 'AUD/SGD'
    INSTRUMENT_FX_CROSSES_CAD_CHF = 'CAD/CHF'
    INSTRUMENT_FX_CROSSES_CAD_HKD = 'CAD/HKD'
    INSTRUMENT_FX_CROSSES_CAD_JPY = 'CAD/JPY'
    INSTRUMENT_FX_CROSSES_CHF_JPY = 'CHF/JPY'
    INSTRUMENT_FX_CROSSES_CHF_PLN = 'CHF/PLN'
    INSTRUMENT_FX_CROSSES_CHF_SGD = 'CHF/SGD'
    INSTRUMENT_FX_CROSSES_EUR_AUD = 'EUR/AUD'
    INSTRUMENT_FX_CROSSES_EUR_CAD = 'EUR/CAD'
    INSTRUMENT_FX_CROSSES_EUR_CHF = 'EUR/CHF'
    INSTRUMENT_FX_CROSSES_EUR_CZK = 'EUR/CZK'
    INSTRUMENT_FX_CROSSES_EUR_DKK = 'EUR/DKK'
    INSTRUMENT_FX_CROSSES_EUR_GBP = 'EUR/GBP'
    INSTRUMENT_FX_CROSSES_EUR_HKD = 'EUR/HKD'
    INSTRUMENT_FX_CROSSES_EUR_HUF = 'EUR/HUF'
    INSTRUMENT_FX_CROSSES_EUR_JPY = 'EUR/JPY'
    INSTRUMENT_FX_CROSSES_EUR_MXN = 'EUR/MXN'
    INSTRUMENT_FX_CROSSES_EUR_NOK = 'EUR/NOK'
    INSTRUMENT_FX_CROSSES_EUR_NZD = 'EUR/NZD'
    INSTRUMENT_FX_CROSSES_EUR_PLN = 'EUR/PLN'
    INSTRUMENT_FX_CROSSES_EUR_RUB = 'EUR/RUB'
    INSTRUMENT_FX_CROSSES_EUR_SEK = 'EUR/SEK'
    INSTRUMENT_FX_CROSSES_EUR_SGD = 'EUR/SGD'
    INSTRUMENT_FX_CROSSES_EUR_TRY = 'EUR/TRY'
    INSTRUMENT_FX_CROSSES_EUR_ZAR = 'EUR/ZAR'
    INSTRUMENT_FX_CROSSES_GBP_AUD = 'GBP/AUD'
    INSTRUMENT_FX_CROSSES_GBP_CAD = 'GBP/CAD'
    INSTRUMENT_FX_CROSSES_GBP_CHF = 'GBP/CHF'
    INSTRUMENT_FX_CROSSES_GBP_JPY = 'GBP/JPY'
    INSTRUMENT_FX_CROSSES_GBP_NZD = 'GBP/NZD'
    INSTRUMENT_FX_CROSSES_HKD_JPY = 'HKD/JPY'
    INSTRUMENT_FX_CROSSES_MXN_JPY = 'MXN/JPY'
    INSTRUMENT_FX_CROSSES_NZD_CAD = 'NZD/CAD'
    INSTRUMENT_FX_CROSSES_NZD_CHF = 'NZD/CHF'
    INSTRUMENT_FX_CROSSES_NZD_JPY = 'NZD/JPY'
    INSTRUMENT_FX_CROSSES_NZD_SGD = 'NZD/SGD'
    INSTRUMENT_FX_CROSSES_SGD_JPY = 'SGD/JPY'
    INSTRUMENT_FX_CROSSES_TRY_JPY = 'TRY/JPY'
    INSTRUMENT_FX_CROSSES_USD_BRL = 'USD/BRL'
    INSTRUMENT_FX_CROSSES_USD_CNH = 'USD/CNH'
    INSTRUMENT_FX_CROSSES_USD_CZK = 'USD/CZK'
    INSTRUMENT_FX_CROSSES_USD_DKK = 'USD/DKK'
    INSTRUMENT_FX_CROSSES_USD_HKD = 'USD/HKD'
    INSTRUMENT_FX_CROSSES_USD_HUF = 'USD/HUF'
    INSTRUMENT_FX_CROSSES_USD_ILS = 'USD/ILS'
    INSTRUMENT_FX_CROSSES_USD_MXN = 'USD/MXN'
    INSTRUMENT_FX_CROSSES_USD_NOK = 'USD/NOK'
    INSTRUMENT_FX_CROSSES_USD_NZD = 'USD/NZD'
    INSTRUMENT_FX_CROSSES_USD_PLN = 'USD/PLN'
    INSTRUMENT_FX_CROSSES_USD_RON = 'USD/RON'
    INSTRUMENT_FX_CROSSES_USD_RUB = 'USD/RUB'
    INSTRUMENT_FX_CROSSES_USD_SEK = 'USD/SEK'
    INSTRUMENT_FX_CROSSES_USD_SGD = 'USD/SGD'
    INSTRUMENT_FX_CROSSES_USD_THB = 'USD/THB'
    INSTRUMENT_FX_CROSSES_USD_TRY = 'USD/TRY'
    INSTRUMENT_FX_CROSSES_USD_ZAR = 'USD/ZAR'
    INSTRUMENT_FX_CROSSES_ZAR_JPY = 'ZAR/JPY'
    INSTRUMENT_FX_MAJORS_AUD_USD = 'AUD/USD'
    INSTRUMENT_FX_MAJORS_EUR_USD = 'EUR/USD'
    INSTRUMENT_FX_MAJORS_GBP_USD = 'GBP/USD'
    INSTRUMENT_FX_MAJORS_NZD_USD = 'NZD/USD'
    INSTRUMENT_FX_MAJORS_USD_CAD = 'USD/CAD'
    INSTRUMENT_FX_MAJORS_USD_CHF = 'USD/CHF'
    INSTRUMENT_FX_MAJORS_USD_JPY = 'USD/JPY'
    INSTRUMENT_FX_METALS_XAG_USD = 'XAG/USD'
    INSTRUMENT_FX_METALS_XAU_USD = 'XAU/USD'
    INSTRUMENT_GERMANY_ADS_DE_EUR = 'ADS.DE/EUR'
    INSTRUMENT_GERMANY_ALV_DE_EUR = 'ALV.DE/EUR'
    INSTRUMENT_GERMANY_BAS_DE_EUR = 'BAS.DE/EUR'
    INSTRUMENT_GERMANY_BAYN_DE_EUR = 'BAYN.DE/EUR'
    INSTRUMENT_GERMANY_BEI_DE_EUR = 'BEI.DE/EUR'
    INSTRUMENT_GERMANY_BMW_DE_EUR = 'BMW.DE/EUR'
    INSTRUMENT_GERMANY_BNR_DE_EUR = 'BNR.DE/EUR'
    INSTRUMENT_GERMANY_BOSS_DE_EUR = 'BOSS.DE/EUR'
    INSTRUMENT_GERMANY_CBK_DE_EUR = 'CBK.DE/EUR'
    INSTRUMENT_GERMANY_CON_DE_EUR = 'CON.DE/EUR'
    INSTRUMENT_GERMANY_COV_DE_EUR = 'COV.DE/EUR'
    INSTRUMENT_GERMANY_DAI_DE_EUR = 'DAI.DE/EUR'
    INSTRUMENT_GERMANY_DB1_DE_EUR = 'DB1.DE/EUR'
    INSTRUMENT_GERMANY_DBK_DE_EUR = 'DBK.DE/EUR'
    INSTRUMENT_GERMANY_DHR_DE_EUR = 'DHR.DE/EUR'
    INSTRUMENT_GERMANY_DPW_DE_EUR = 'DPW.DE/EUR'
    INSTRUMENT_GERMANY_DTE_DE_EUR = 'DTE.DE/EUR'
    INSTRUMENT_GERMANY_EOAN_DE_EUR = 'EOAN.DE/EUR'
    INSTRUMENT_GERMANY_FME_DE_EUR = 'FME.DE/EUR'
    INSTRUMENT_GERMANY_FRE_DE_EUR = 'FRE.DE/EUR'
    INSTRUMENT_GERMANY_HEI_DE_EUR = 'HEI.DE/EUR'
    INSTRUMENT_GERMANY_HEN3_DE_EUR = 'HEN3.DE/EUR'
    INSTRUMENT_GERMANY_HFG_DE_EUR = 'HFG.DE/EUR'
    INSTRUMENT_GERMANY_HNR_DE_EUR = 'HNR.DE/EUR'
    INSTRUMENT_GERMANY_IFX_DE_EUR = 'IFX.DE/EUR'
    INSTRUMENT_GERMANY_LHA_DE_EUR = 'LHA.DE/EUR'
    INSTRUMENT_GERMANY_LIN_DE_EUR = 'LIN.DE/EUR'
    INSTRUMENT_GERMANY_LXS_DE_EUR = 'LXS.DE/EUR'
    INSTRUMENT_GERMANY_MRK_DE_EUR = 'MRK.DE/EUR'
    INSTRUMENT_GERMANY_MTX_DE_EUR = 'MTX.DE/EUR'
    INSTRUMENT_GERMANY_MUV2_DE_EUR = 'MUV2.DE/EUR'
    INSTRUMENT_GERMANY_PAH3_DE_EUR = 'PAH3.DE/EUR'
    INSTRUMENT_GERMANY_PSM_DE_EUR = 'PSM.DE/EUR'
    INSTRUMENT_GERMANY_PUM_DE_EUR = 'PUM.DE/EUR'
    INSTRUMENT_GERMANY_RWE_DE_EUR = 'RWE.DE/EUR'
    INSTRUMENT_GERMANY_SAP_DE_EUR = 'SAP.DE/EUR'
    INSTRUMENT_GERMANY_SDF_DE_EUR = 'SDF.DE/EUR'
    INSTRUMENT_GERMANY_SIE_DE_EUR = 'SIE.DE/EUR'
    INSTRUMENT_GERMANY_SRT_DE_EUR = 'SRT.DE/EUR'
    INSTRUMENT_GERMANY_SY1_DE_EUR = 'SY1.DE/EUR'
    INSTRUMENT_GERMANY_TKA_DE_EUR = 'TKA.DE/EUR'
    INSTRUMENT_GERMANY_TUI1_DE_EUR = 'TUI1.DE/EUR'
    INSTRUMENT_GERMANY_VNA_DE_EUR = 'VNA.DE/EUR'
    INSTRUMENT_GERMANY_VOW3_DE_EUR = 'VOW3.DE/EUR'
    INSTRUMENT_HONG_KONG_0005_HK_HKD = '0005.HK/HKD'
    INSTRUMENT_HONG_KONG_0027_HK_HKD = '0027.HK/HKD'
    INSTRUMENT_HONG_KONG_0175_HK_HKD = '0175.HK/HKD'
    INSTRUMENT_HONG_KONG_0291_HK_HKD = '0291.HK/HKD'
    INSTRUMENT_HONG_KONG_0386_HK_HKD = '0386.HK/HKD'
    INSTRUMENT_HONG_KONG_0388_HK_HKD = '0388.HK/HKD'
    INSTRUMENT_HONG_KONG_0700_HK_HKD = '0700.HK/HKD'
    INSTRUMENT_HONG_KONG_0857_HK_HKD = '0857.HK/HKD'
    INSTRUMENT_HONG_KONG_0883_HK_HKD = '0883.HK/HKD'
    INSTRUMENT_HONG_KONG_0939_HK_HKD = '0939.HK/HKD'
    INSTRUMENT_HONG_KONG_0941_HK_HKD = '0941.HK/HKD'
    INSTRUMENT_HONG_KONG_0998_HK_HKD = '0998.HK/HKD'
    INSTRUMENT_HONG_KONG_1093_HK_HKD = '1093.HK/HKD'
    INSTRUMENT_HONG_KONG_1177_HK_HKD = '1177.HK/HKD'
    INSTRUMENT_HONG_KONG_1288_HK_HKD = '1288.HK/HKD'
    INSTRUMENT_HONG_KONG_1299_HK_HKD = '1299.HK/HKD'
    INSTRUMENT_HONG_KONG_1398_HK_HKD = '1398.HK/HKD'
    INSTRUMENT_HONG_KONG_1810_HK_HKD = '1810.HK/HKD'
    INSTRUMENT_HONG_KONG_1918_HK_HKD = '1918.HK/HKD'
    INSTRUMENT_HONG_KONG_2007_HK_HKD = '2007.HK/HKD'
    INSTRUMENT_HONG_KONG_2018_HK_HKD = '2018.HK/HKD'
    INSTRUMENT_HONG_KONG_2318_HK_HKD = '2318.HK/HKD'
    INSTRUMENT_HONG_KONG_2388_HK_HKD = '2388.HK/HKD'
    INSTRUMENT_HONG_KONG_2628_HK_HKD = '2628.HK/HKD'
    INSTRUMENT_HONG_KONG_3333_HK_HKD = '3333.HK/HKD'
    INSTRUMENT_HONG_KONG_3968_HK_HKD = '3968.HK/HKD'
    INSTRUMENT_HONG_KONG_3988_HK_HKD = '3988.HK/HKD'
    INSTRUMENT_IDX_AFRICA_SOA_IDX_ZAR = 'SOA.IDX/ZAR'
    INSTRUMENT_IDX_AMERICA_DOLLAR_IDX_USD = 'DOLLAR.IDX/USD'
    INSTRUMENT_IDX_AMERICA_E_D_J_IND = 'E_D&J-Ind'
    INSTRUMENT_IDX_AMERICA_E_NQ_100 = 'E_NQ-100'
    INSTRUMENT_IDX_AMERICA_E_SANDP_500 = 'E_SandP-500'
    INSTRUMENT_IDX_AMERICA_RUSSELL_IDX_USD = 'RUSSELL.IDX/USD'
    INSTRUMENT_IDX_AMERICA_USSC2000_IDX_USD = 'USSC2000.IDX/USD'
    INSTRUMENT_IDX_AMERICA_VOL_IDX_USD = 'VOL.IDX/USD'
    INSTRUMENT_IDX_ASIA_CHI_IDX_USD = 'CHI.IDX/USD'
    INSTRUMENT_IDX_ASIA_E_H_KONG = 'E_H-Kong'
    INSTRUMENT_IDX_ASIA_E_N225JAP = 'E_N225Jap'
    INSTRUMENT_IDX_ASIA_E_XJO_ASX = 'E_XJO-ASX'
    INSTRUMENT_IDX_ASIA_IND_IDX_USD = 'IND.IDX/USD'
    INSTRUMENT_IDX_ASIA_SGD_IDX_SGD = 'SGD.IDX/SGD'
    INSTRUMENT_IDX_EUROPE_E_CAAC_40 = 'E_CAAC-40'
    INSTRUMENT_IDX_EUROPE_E_DAAX = 'E_DAAX'
    INSTRUMENT_IDX_EUROPE_E_DJE50XX = 'E_DJE50XX'
    INSTRUMENT_IDX_EUROPE_E_FUTSEE_100 = 'E_Futsee-100'
    INSTRUMENT_IDX_EUROPE_E_IBC_MAC = 'E_IBC-MAC'
    INSTRUMENT_IDX_EUROPE_E_SWMI = 'E_SWMI'
    INSTRUMENT_IDX_EUROPE_ITA_IDX_EUR = 'ITA.IDX/EUR'
    INSTRUMENT_IDX_EUROPE_NLD_IDX_EUR = 'NLD.IDX/EUR'
    INSTRUMENT_IDX_EUROPE_PLN_IDX_PLN = 'PLN.IDX/PLN'
    INSTRUMENT_IDX_PRT_IDX_EUR = 'PRT.IDX/EUR'
    INSTRUMENT_IRELAND_BIRG_IE_EUR = 'BIRG.IE/EUR'
    INSTRUMENT_IRELAND_CRG_IE_EUR = 'CRG.IE/EUR'
    INSTRUMENT_IRELAND_KRX_IE_EUR = 'KRX.IE/EUR'
    INSTRUMENT_IRELAND_KRZ_IE_EUR = 'KRZ.IE/EUR'
    INSTRUMENT_IRELAND_RY4C_IE_EUR = 'RY4C.IE/EUR'
    INSTRUMENT_ITALY_A2A_IT_EUR = 'A2A.IT/EUR'
    INSTRUMENT_ITALY_AGL_IT_EUR = 'AGL.IT/EUR'
    INSTRUMENT_ITALY_AMP_IT_EUR = 'AMP.IT/EUR'
    INSTRUMENT_ITALY_ATL_IT_EUR = 'ATL.IT/EUR'
    INSTRUMENT_ITALY_AZM_IT_EUR = 'AZM.IT/EUR'
    INSTRUMENT_ITALY_BAMI_IT_EUR = 'BAMI.IT/EUR'
    INSTRUMENT_ITALY_BC_IT_EUR = 'BC.IT/EUR'
    INSTRUMENT_ITALY_BMPS_IT_EUR = 'BMPS.IT/EUR'
    INSTRUMENT_ITALY_BPE_IT_EUR = 'BPE.IT/EUR'
    INSTRUMENT_ITALY_BRE_IT_EUR = 'BRE.IT/EUR'
    INSTRUMENT_ITALY_BZU_IT_EUR = 'BZU.IT/EUR'
    INSTRUMENT_ITALY_CASS_IT_EUR = 'CASS.IT/EUR'
    INSTRUMENT_ITALY_CERV_IT_EUR = 'CERV.IT/EUR'
    INSTRUMENT_ITALY_CPR_IT_EUR = 'CPR.IT/EUR'
    INSTRUMENT_ITALY_CVAL_IT_EUR = 'CVAL.IT/EUR'
    INSTRUMENT_ITALY_DAN_IT_EUR = 'DAN.IT/EUR'
    INSTRUMENT_ITALY_DEA_IT_EUR = 'DEA.IT/EUR'
    INSTRUMENT_ITALY_DIA_IT_EUR = 'DIA.IT/EUR'
    INSTRUMENT_ITALY_ENEL_IT_EUR = 'ENEL.IT/EUR'
    INSTRUMENT_ITALY_ENI_IT_EUR = 'ENI.IT/EUR'
    INSTRUMENT_ITALY_ERG_IT_EUR = 'ERG.IT/EUR'
    INSTRUMENT_ITALY_FBK_IT_EUR = 'FBK.IT/EUR'
    INSTRUMENT_ITALY_FCA_IT_EUR = 'FCA.IT/EUR'
    INSTRUMENT_ITALY_G_IT_EUR = 'G.IT/EUR'
    INSTRUMENT_ITALY_IG_IT_EUR = 'IG.IT/EUR'
    INSTRUMENT_ITALY_INW_IT_EUR = 'INW.IT/EUR'
    INSTRUMENT_ITALY_ISP_IT_EUR = 'ISP.IT/EUR'
    INSTRUMENT_ITALY_JUVE_IT_EUR = 'JUVE.IT/EUR'
    INSTRUMENT_ITALY_LDO_IT_EUR = 'LDO.IT/EUR'
    INSTRUMENT_ITALY_MB_IT_EUR = 'MB.IT/EUR'
    INSTRUMENT_ITALY_MONC_IT_EUR = 'MONC.IT/EUR'
    INSTRUMENT_ITALY_MS_IT_EUR = 'MS.IT/EUR'
    INSTRUMENT_ITALY_PIA_IT_EUR = 'PIA.IT/EUR'
    INSTRUMENT_ITALY_PRY_IT_EUR = 'PRY.IT/EUR'
    INSTRUMENT_ITALY_RACE_IT_EUR = 'RACE.IT/EUR'
    INSTRUMENT_ITALY_REC_IT_EUR = 'REC.IT/EUR'
    INSTRUMENT_ITALY_SFER_IT_EUR = 'SFER.IT/EUR'
    INSTRUMENT_ITALY_SPM_IT_EUR = 'SPM.IT/EUR'
    INSTRUMENT_ITALY_SRG_IT_EUR = 'SRG.IT/EUR'
    INSTRUMENT_ITALY_SRS_IT_EUR = 'SRS.IT/EUR'
    INSTRUMENT_ITALY_STM_IT_EUR = 'STM.IT/EUR'
    INSTRUMENT_ITALY_TEN_IT_EUR = 'TEN.IT/EUR'
    INSTRUMENT_ITALY_TIS_IT_EUR = 'TIS.IT/EUR'
    INSTRUMENT_ITALY_TIT_IT_EUR = 'TIT.IT/EUR'
    INSTRUMENT_ITALY_TOD_IT_EUR = 'TOD.IT/EUR'
    INSTRUMENT_ITALY_TRN_IT_EUR = 'TRN.IT/EUR'
    INSTRUMENT_ITALY_UCG_IT_EUR = 'UCG.IT/EUR'
    INSTRUMENT_ITALY_US_IT_EUR = 'US.IT/EUR'
    INSTRUMENT_ITALY_WBD_IT_EUR = 'WBD.IT/EUR'
    INSTRUMENT_JAPAN_2502_JP_JPY = '2502.JP/JPY'
    INSTRUMENT_JAPAN_2503_JP_JPY = '2503.JP/JPY'

Sprawdzenie możliwości biblioteki Pandas TA

In [128]:
help(ta)

Help on package pandas_ta:

NAME
    pandas_ta

PACKAGE CONTENTS
    candles (package)
    core
    custom
    cycles (package)
    momentum (package)
    overlap (package)
    performance (package)
    statistics (package)
    trend (package)
    utils (package)
    volatility (package)
    volume (package)

SUBMODULES
    alphavantage
    data
    yahoofinance

FUNCTIONS
    localtime(...)
        localtime([seconds]) -> (tm_year,tm_mon,tm_mday,tm_hour,tm_min,
                                  tm_sec,tm_wday,tm_yday,tm_isdst)

        Convert seconds since the Epoch to a time tuple expressing local time.
        When 'seconds' is not passed in, convert the current time instead.

    mfloor = floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    mul(a, b, /)
        Same as a * b.

    npArray = array(...)
        array(object, dtype=None, *, copy=True, order='K', subok=False, ndmin=0,
              like=None)

        Create an array.

        Parameters
        ----------
        object : array_like
            An array, any object exposing the array interface, an object whose
            ``__array__`` method returns an array, or any (nested) sequence.
            If object is a scalar, a 0-dimensional array containing object is
            returned.
        dtype : data-type, optional
            The desired data-type for the array. If not given, NumPy will try to use
            a default ``dtype`` that can represent the values (by applying promotion
            rules when necessary.)
        copy : bool, optional
            If true (default), then the object is copied.  Otherwise, a copy will
            only be made if ``__array__`` returns a copy, if obj is a nested
            sequence, or if a copy is needed to satisfy any of the other
            requirements (``dtype``, ``order``, etc.).
        order : {'K', 'A', 'C', 'F'}, optional
            Specify the memory layout of the array. If object is not an array, the
            newly created array will be in C order (row major) unless 'F' is
            specified, in which case it will be in Fortran order (column major).
            If object is an array the following holds.

            ===== ========= ===================================================
            order  no copy                     copy=True
            ===== ========= ===================================================
            'K'   unchanged F & C order preserved, otherwise most similar order
            'A'   unchanged F order if input is F and not C, otherwise C order
            'C'   C order   C order
            'F'   F order   F order
            ===== ========= ===================================================

            When ``copy=False`` and a copy is made for other reasons, the result is
            the same as if ``copy=True``, with some exceptions for 'A', see the
            Notes section. The default order is 'K'.
        subok : bool, optional
            If True, then sub-classes will be passed-through, otherwise
            the returned array will be forced to be a base-class array (default).
        ndmin : int, optional
            Specifies the minimum number of dimensions that the resulting
            array should have.  Ones will be prepended to the shape as
            needed to meet this requirement.
        like : array_like, optional
            Reference object to allow the creation of arrays which are not
            NumPy arrays. If an array-like passed in as ``like`` supports
            the ``__array_function__`` protocol, the result will be defined
            by it. In this case, it ensures the creation of an array object
            compatible with that passed in via this argument.

            .. versionadded:: 1.20.0

        Returns
        -------
        out : ndarray
            An array object satisfying the specified requirements.

        See Also
        --------
        empty_like : Return an empty array with shape and type of input.
        ones_like : Return an array of ones with shape and type of input.
        zeros_like : Return an array of zeros with shape and type of input.
        full_like : Return a new array with shape of input filled with value.
        empty : Return a new uninitialized array.
        ones : Return a new array setting values to one.
        zeros : Return a new array setting values to zero.
        full : Return a new array of given shape filled with value.


        Notes
        -----
        When order is 'A' and ``object`` is an array in neither 'C' nor 'F' order,
        and a copy is forced by a change in dtype, then the order of the result is
        not necessarily 'C' as expected. This is likely a bug.

        Examples
        --------
        >>> np.array([1, 2, 3])
        array([1, 2, 3])

        Upcasting:

        >>> np.array([1, 2, 3.0])
        array([ 1.,  2.,  3.])

        More than one dimension:

        >>> np.array([[1, 2], [3, 4]])
        array([[1, 2],
               [3, 4]])

        Minimum dimensions 2:

        >>> np.array([1, 2, 3], ndmin=2)
        array([[1, 2, 3]])

        Type provided:

        >>> np.array([1, 2, 3], dtype=complex)
        array([ 1.+0.j,  2.+0.j,  3.+0.j])

        Data-type consisting of more than one element:

        >>> x = np.array([(1,2),(3,4)],dtype=[('a','<i4'),('b','<i4')])
        >>> x['a']
        array([1, 3])

        Creating an array from sub-classes:

        >>> np.array(np.mat('1 2; 3 4'))
        array([[1, 2],
               [3, 4]])

        >>> np.array(np.mat('1 2; 3 4'), subok=True)
        matrix([[1, 2],
                [3, 4]])

    perf_counter(...)
        perf_counter() -> float

        Performance counter for benchmarking.

    reduce(...)
        reduce(function, iterable[, initial]) -> value

        Apply a function of two arguments cumulatively to the items of a sequence
        or iterable, from left to right, so as to reduce the iterable to a single
        value.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
        ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
        of the iterable in the calculation, and serves as a default when the
        iterable is empty.

DATA
    ALL_PATTERNS = ['2crows', '3blackcrows', '3inside', '3linestrike', '3o...
    AllStrategy = Strategy(name='All', ta=None, description='All t...kowoe...
    CANGLE_AGG = {'close': 'last', 'high': 'max', 'low': 'min', 'open': 'f...
    CDL_PATTERN_NAMES = ['2crows', '3blackcrows', '3inside', '3linestrike'...
    Category = {'candles': ['cdl_pattern', 'cdl_z', 'ha'], 'cycles': ['ebs...
    CommonStrategy = Strategy(name='Common Price and Volume SMAs', ta...ko...
    EXCHANGE_TZ = {'ASX': 11, 'BMF': -2, 'DIFX': 4, 'FWB': 1, 'HKE': 8, 'J...
    Imports = {'alphaVantage-api': False, 'matplotlib': True, 'mplfinance'...
    List = typing.List
        A generic version of list.

    Optional = typing.Optional
        Optional[X] is equivalent to Union[X, None].

    RATE = {'DAYS_PER_MONTH': 21, 'MINUTES_PER_HOUR': 60, 'MONTHS_PER_YEAR...
    Tuple = typing.Tuple
        Deprecated alias to builtins.tuple.

        Tuple[X, Y] is the cross-product type of X and Y.

        Example: Tuple[T1, T2] is a tuple of two elements corresponding
        to type variables T1 and T2.  Tuple[int, float, str] is a tuple
        of an int, a float and a string.

        To specify a variable-length tuple of homogeneous type, use Tuple[T, ...].

    df = Empty DataFrame
    Columns: []
    Index: []
    here = WindowsPath('C:/Users/mt242/anaconda3/Lib/site-packages/pandas_...
    name = 'pandas_ta'
    npExp = <ufunc 'exp'>
        exp(x, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature, extobj])

        Calculate the exponential of all elements in the input array.

        Parameters
        ----------
        x : array_like
            Input values.
        out : ndarray, None, or tuple of ndarray and None, optional
            A location into which the result is stored. If provided, it must have
            a shape that the inputs broadcast to. If not provided or None,
            a freshly-allocated array is returned. A tuple (possible only as a
            keyword argument) must have length equal to the number of outputs.
        where : array_like, optional
            This condition is broadcast over the input. At locations where the
            condition is True, the `out` array will be set to the ufunc result.
            Elsewhere, the `out` array will retain its original value.
            Note that if an uninitialized `out` array is created via the default
            ``out=None``, locations within it where the condition is False will
            remain uninitialized.
        **kwargs
            For other keyword-only arguments, see the
            :ref:`ufunc docs <ufuncs.kwargs>`.

        Returns
        -------
        out : ndarray or scalar
            Output array, element-wise exponential of `x`.
            This is a scalar if `x` is a scalar.

        See Also
        --------
        expm1 : Calculate ``exp(x) - 1`` for all elements in the array.
        exp2  : Calculate ``2**x`` for all elements in the array.

        Notes
        -----
        The irrational number ``e`` is also known as Euler's number.  It is
        approximately 2.718281, and is the base of the natural logarithm,
        ``ln`` (this means that, if :math:`x = \ln y = \log_e y`,
        then :math:`e^x = y`. For real input, ``exp(x)`` is always positive.

        For complex arguments, ``x = a + ib``, we can write
        :math:`e^x = e^a e^{ib}`.  The first term, :math:`e^a`, is already
        known (it is the real argument, described above).  The second term,
        :math:`e^{ib}`, is :math:`\cos b + i \sin b`, a function with
        magnitude 1 and a periodic phase.

        References
        ----------
        .. [1] Wikipedia, "Exponential function",
               https://en.wikipedia.org/wiki/Exponential_function
        .. [2] M. Abramovitz and I. A. Stegun, "Handbook of Mathematical Functions
               with Formulas, Graphs, and Mathematical Tables," Dover, 1964, p. 69,
               https://personal.math.ubc.ca/~cbm/aands/page_69.htm

        Examples
        --------
        Plot the magnitude and phase of ``exp(x)`` in the complex plane:

        >>> import matplotlib.pyplot as plt

        >>> x = np.linspace(-2*np.pi, 2*np.pi, 100)
        >>> xx = x + 1j * x[:, np.newaxis] # a + ib over complex plane
        >>> out = np.exp(xx)

        >>> plt.subplot(121)
        >>> plt.imshow(np.abs(out),
        ...            extent=[-2*np.pi, 2*np.pi, -2*np.pi, 2*np.pi], cmap='gray')
        >>> plt.title('Magnitude of exp(x)')

        >>> plt.subplot(122)
        >>> plt.imshow(np.angle(out),
        ...            extent=[-2*np.pi, 2*np.pi, -2*np.pi, 2*np.pi], cmap='hsv')
        >>> plt.title('Phase (angle) of exp(x)')
        >>> plt.show()

    npFabs = <ufunc 'fabs'>
        fabs(x, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature, extobj])

        Compute the absolute values element-wise.

        This function returns the absolute values (positive magnitude) of the
        data in `x`. Complex values are not handled, use `absolute` to find the
        absolute values of complex data.

        Parameters
        ----------
        x : array_like
            The array of numbers for which the absolute values are required. If
            `x` is a scalar, the result `y` will also be a scalar.
        out : ndarray, None, or tuple of ndarray and None, optional
            A location into which the result is stored. If provided, it must have
            a shape that the inputs broadcast to. If not provided or None,
            a freshly-allocated array is returned. A tuple (possible only as a
            keyword argument) must have length equal to the number of outputs.
        where : array_like, optional
            This condition is broadcast over the input. At locations where the
            condition is True, the `out` array will be set to the ufunc result.
            Elsewhere, the `out` array will retain its original value.
            Note that if an uninitialized `out` array is created via the default
            ``out=None``, locations within it where the condition is False will
            remain uninitialized.
        **kwargs
            For other keyword-only arguments, see the
            :ref:`ufunc docs <ufuncs.kwargs>`.

        Returns
        -------
        y : ndarray or scalar
            The absolute values of `x`, the returned values are always floats.
            This is a scalar if `x` is a scalar.

        See Also
        --------
        absolute : Absolute values including `complex` types.

        Examples
        --------
        >>> np.fabs(-1)
        1.0
        >>> np.fabs([-1.2, 1.2])
        array([ 1.2,  1.2])

    npLog = <ufunc 'log'>
        log(x, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature, extobj])

        Natural logarithm, element-wise.

        The natural logarithm `log` is the inverse of the exponential function,
        so that `log(exp(x)) = x`. The natural logarithm is logarithm in base
        `e`.

        Parameters
        ----------
        x : array_like
            Input value.
        out : ndarray, None, or tuple of ndarray and None, optional
            A location into which the result is stored. If provided, it must have
            a shape that the inputs broadcast to. If not provided or None,
            a freshly-allocated array is returned. A tuple (possible only as a
            keyword argument) must have length equal to the number of outputs.
        where : array_like, optional
            This condition is broadcast over the input. At locations where the
            condition is True, the `out` array will be set to the ufunc result.
            Elsewhere, the `out` array will retain its original value.
            Note that if an uninitialized `out` array is created via the default
            ``out=None``, locations within it where the condition is False will
            remain uninitialized.
        **kwargs
            For other keyword-only arguments, see the
            :ref:`ufunc docs <ufuncs.kwargs>`.

        Returns
        -------
        y : ndarray
            The natural logarithm of `x`, element-wise.
            This is a scalar if `x` is a scalar.

        See Also
        --------
        log10, log2, log1p, emath.log

        Notes
        -----
        Logarithm is a multivalued function: for each `x` there is an infinite
        number of `z` such that `exp(z) = x`. The convention is to return the
        `z` whose imaginary part lies in `(-pi, pi]`.

        For real-valued input data types, `log` always returns real output. For
        each value that cannot be expressed as a real number or infinity, it
        yields ``nan`` and sets the `invalid` floating point error flag.

        For complex-valued input, `log` is a complex analytical function that
        has a branch cut `[-inf, 0]` and is continuous from above on it. `log`
        handles the floating-point negative zero as an infinitesimal negative
        number, conforming to the C99 standard.

        In the cases where the input has a negative real part and a very small
        negative complex part (approaching 0), the result is so close to `-pi`
        that it evaluates to exactly `-pi`.

        References
        ----------
        .. [1] M. Abramowitz and I.A. Stegun, "Handbook of Mathematical Functions",
               10th printing, 1964, pp. 67.
               https://personal.math.ubc.ca/~cbm/aands/page_67.htm
        .. [2] Wikipedia, "Logarithm". https://en.wikipedia.org/wiki/Logarithm

        Examples
        --------
        >>> np.log([1, np.e, np.e**2, 0])
        array([  0.,   1.,   2., -Inf])

    npLog10 = <ufunc 'log10'>
        log10(x, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature, extobj])

        Return the base 10 logarithm of the input array, element-wise.

        Parameters
        ----------
        x : array_like
            Input values.
        out : ndarray, None, or tuple of ndarray and None, optional
            A location into which the result is stored. If provided, it must have
            a shape that the inputs broadcast to. If not provided or None,
            a freshly-allocated array is returned. A tuple (possible only as a
            keyword argument) must have length equal to the number of outputs.
        where : array_like, optional
            This condition is broadcast over the input. At locations where the
            condition is True, the `out` array will be set to the ufunc result.
            Elsewhere, the `out` array will retain its original value.
            Note that if an uninitialized `out` array is created via the default
            ``out=None``, locations within it where the condition is False will
            remain uninitialized.
        **kwargs
            For other keyword-only arguments, see the
            :ref:`ufunc docs <ufuncs.kwargs>`.

        Returns
        -------
        y : ndarray
            The logarithm to the base 10 of `x`, element-wise. NaNs are
            returned where x is negative.
            This is a scalar if `x` is a scalar.

        See Also
        --------
        emath.log10

        Notes
        -----
        Logarithm is a multivalued function: for each `x` there is an infinite
        number of `z` such that `10**z = x`. The convention is to return the
        `z` whose imaginary part lies in `(-pi, pi]`.

        For real-valued input data types, `log10` always returns real output.
        For each value that cannot be expressed as a real number or infinity,
        it yields ``nan`` and sets the `invalid` floating point error flag.

        For complex-valued input, `log10` is a complex analytical function that
        has a branch cut `[-inf, 0]` and is continuous from above on it.
        `log10` handles the floating-point negative zero as an infinitesimal
        negative number, conforming to the C99 standard.

        In the cases where the input has a negative real part and a very small
        negative complex part (approaching 0), the result is so close to `-pi`
        that it evaluates to exactly `-pi`.

        References
        ----------
        .. [1] M. Abramowitz and I.A. Stegun, "Handbook of Mathematical Functions",
               10th printing, 1964, pp. 67.
               https://personal.math.ubc.ca/~cbm/aands/page_67.htm
        .. [2] Wikipedia, "Logarithm". https://en.wikipedia.org/wiki/Logarithm

        Examples
        --------
        >>> np.log10([1e-15, -3.])
        array([-15.,  nan])

    npNaN = nan
    npSqrt = <ufunc 'sqrt'>
        sqrt(x, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature, extobj])

        Return the non-negative square-root of an array, element-wise.

        Parameters
        ----------
        x : array_like
            The values whose square-roots are required.
        out : ndarray, None, or tuple of ndarray and None, optional
            A location into which the result is stored. If provided, it must have
            a shape that the inputs broadcast to. If not provided or None,
            a freshly-allocated array is returned. A tuple (possible only as a
            keyword argument) must have length equal to the number of outputs.
        where : array_like, optional
            This condition is broadcast over the input. At locations where the
            condition is True, the `out` array will be set to the ufunc result.

Sprawdzenie jakie wskaźniki i funkcje są dostępne w bibliotece Pandas-TA

In [129]:
df = pd.DataFrame()
lista_wskaźników = [metoda for metoda in dir(df.ta) if not metoda.startswith('_')]

print(f"Znaleziono {len(lista_wskaźników)} wskaźników i funkcji.")
print(lista_wskaźników)

Znaleziono 157 wskaźników i funkcji.
['aberration', 'above', 'above_value', 'accbands', 'ad', 'adjusted', 'adosc', 'adx', 'alma', 'amat', 'ao', 'aobv', 'apo', 'aroon', 'atr', 'bbands', 'below', 'below_value', 'bias', 'bop', 'brar', 'categories', 'cci', 'cdl_pattern', 'cdl_z', 'cfo', 'cg', 'chop', 'cksp', 'cmf', 'cmo', 'constants', 'coppock', 'cores', 'cross', 'cross_value', 'cti', 'datetime_ordered', 'decay', 'decreasing', 'dema', 'dm', 'donchian', 'dpo', 'ebsw', 'efi', 'ema', 'entropy', 'eom', 'er', 'eri', 'exchange', 'fisher', 'fwma', 'ha', 'hilo', 'hl2', 'hlc3', 'hma', 'hwc', 'hwma', 'ichimoku', 'increasing', 'indicators', 'inertia', 'jma', 'kama', 'kc', 'kdj', 'kst', 'kurtosis', 'kvo', 'last_run', 'linreg', 'log_return', 'long_run', 'macd', 'mad', 'massi', 'mcgd', 'median', 'mfi', 'midpoint', 'midprice', 'mom', 'natr', 'nvi', 'obv', 'ohlc4', 'pdist', 'percent_return', 'pgo', 'ppo', 'psar', 'psl', 'pvi', 'pvo', 'pvol', 'pvr', 'pvt', 'pwma', 'qqe', 'qstick', 'quantile', 'reverse', 'rma', 'roc', 'rsi', 'rsx', 'rvgi', 'rvi', 'short_run', 'sinwma', 'skew', 'slope', 'sma', 'smi', 'squeeze', 'squeeze_pro', 'ssf', 'stc', 'stdev', 'stoch', 'stochrsi', 'strategy', 'supertrend', 'swma', 't3', 'td_seq', 'tema', 'thermo', 'ticker', 'time_range', 'to_utc', 'tos_stdevall', 'trima', 'trix', 'true_range', 'tsi', 'tsignals', 'ttm_trend', 'ui', 'uo', 'variance', 'version', 'vhf', 'vidya', 'vortex', 'vp', 'vwap', 'vwma', 'wcp', 'willr', 'wma', 'xsignals', 'zlma', 'zscore']

### Definicja paramertów dla dla funkcji fetch() z biblioteki dukascopy_python

In [130]:
instrument = 'EUR/USD'
interval = '1DAY'
offer_side = 'B' 
start_date = datetime(2000, 1, 1)
end_date = datetime.today()

### Pobranie danych do Pandas DataFrame

In [131]:
df = dcp.fetch(instrument, interval, offer_side, start_date, end_date)

INFO:DUKASCRIPT:current timestamp :2025-08-01T02:00:00

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7152 entries, 2003-05-04 00:00:00+00:00 to 2025-08-01 00:00:00+00:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    7152 non-null   float64
 1   high    7152 non-null   float64
 2   low     7152 non-null   float64
 3   close   7152 non-null   float64
 4   volume  7152 non-null   float64
dtypes: float64(5)
memory usage: 335.2 KB

Zbiór jest kompletny, zgodnie z oczekiwaniami zawiera dane do dnia poprzedzającego dzień uruchomienia skryptu.
Pora zatem na rozbudowanie zbioru i policzenie interesujących nas statystyk, wskaźników i miar.

Wskaźniki trendu

1. adx (Average Directional Index)
2. amat (Archer Moving Average Trend)
3. aroon (Aroon Indicator)
4. cti (Correlation Trend Indicator)
5. dm (Directional Movement)
6. ebsw (Even Better Sine Wave)
7. er (Efficiency Ratio)
8. ichimoku (Ichimoku Kinko Hyo)
9. linreg (Linear Regression)
10. psar (Parabolic Stop and Reverse)
11. slope (Slope)
12. supertrend (Supertrend)
13. td_seq (TD Sequential)
14. ttm_trend (TTM Trend)
15. vhf (Vertical Horizontal Filter)
16. vortex (Vortex Indicator)

In [133]:
# Average Directional Index, ustawienia standardowe
# Default Inputs: length=14, lensig=lenght, scalar=100, mamode='rma', drift=1, offset=0 <- parametry do modyfikacji
df.ta.adx(append=True)

                              ADX_14     DMP_14     DMN_14
timestamp
2003-05-04 00:00:00+00:00        NaN        NaN        NaN
2003-05-05 00:00:00+00:00        NaN        NaN        NaN
2003-05-06 00:00:00+00:00        NaN        NaN        NaN
2003-05-07 00:00:00+00:00        NaN        NaN        NaN
2003-05-08 00:00:00+00:00        NaN        NaN        NaN
...                              ...        ...        ...
2025-07-28 00:00:00+00:00  22.819567  20.076440  27.971068
2025-07-29 00:00:00+00:00  23.094972  18.568266  32.078387
2025-07-30 00:00:00+00:00  24.348391  15.824123  37.494199
2025-07-31 00:00:00+00:00  25.512280  15.059176  35.681707
2025-08-01 00:00:00+00:00  24.550656  23.434714  29.856006

[7152 rows x 3 columns]

In [134]:
# Archer Moving Average Trend, ustawienia standardowe
# Default Inputs: fast=8, slow=21, lookback=2, mamode='ema', offset=0 <- parametry do modyfikacji
df.ta.amat(append=True)

                           AMATe_LR_8_21_2  AMATe_SR_8_21_2
timestamp
2003-05-04 00:00:00+00:00                0                0
2003-05-05 00:00:00+00:00                0                0
2003-05-06 00:00:00+00:00                0                0
2003-05-07 00:00:00+00:00                0                0
2003-05-08 00:00:00+00:00                0                0
...                                    ...              ...
2025-07-28 00:00:00+00:00                0                1
2025-07-29 00:00:00+00:00                0                1
2025-07-30 00:00:00+00:00                0                1
2025-07-31 00:00:00+00:00                0                1
2025-08-01 00:00:00+00:00                0                1

[7152 rows x 2 columns]

In [135]:
# Aroon Indicator, ustawienia standardowe
# Default Inputs: length=14, scalar=100, talib=True, offset=0 <- parametry do modyfikacji
df.ta.aroon(append=True)

                            AROOND_14  AROONU_14  AROONOSC_14
timestamp
2003-05-04 00:00:00+00:00         NaN        NaN          NaN
2003-05-05 00:00:00+00:00         NaN        NaN          NaN
2003-05-06 00:00:00+00:00         NaN        NaN          NaN
2003-05-07 00:00:00+00:00         NaN        NaN          NaN
2003-05-08 00:00:00+00:00         NaN        NaN          NaN
...                               ...        ...          ...
2025-07-28 00:00:00+00:00   35.714286  78.571429    42.857143
2025-07-29 00:00:00+00:00  100.000000  71.428571   -28.571429
2025-07-30 00:00:00+00:00  100.000000  64.285714   -35.714286
2025-07-31 00:00:00+00:00   92.857143  57.142857   -35.714286
2025-08-01 00:00:00+00:00  100.000000  50.000000   -50.000000

[7152 rows x 3 columns]

In [136]:
# Correlation Trend Indicator, ustawienia standardowe
# Default Inputs: length=12, offset=0 <- parametry do modyfikacji
df.ta.cti(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00    0.547996
2025-07-29 00:00:00+00:00    0.101664
2025-07-30 00:00:00+00:00   -0.319069
2025-07-31 00:00:00+00:00   -0.587382
2025-08-01 00:00:00+00:00   -0.675145
Name: CTI_12, Length: 7152, dtype: float64

In [137]:
# Directional Movement, ustawienia standardowe
# Default Inputs: length=14, mamode='rma', talib=True, drift=1, offset=0 <- parametry do modyfikacji
df.ta.dm(append=True)

                             DMP_14    DMN_14
timestamp
2003-05-04 00:00:00+00:00       NaN       NaN
2003-05-05 00:00:00+00:00       NaN       NaN
2003-05-06 00:00:00+00:00       NaN       NaN
2003-05-07 00:00:00+00:00       NaN       NaN
2003-05-08 00:00:00+00:00       NaN       NaN
...                             ...       ...
2025-07-28 00:00:00+00:00  0.001523  0.002122
2025-07-29 00:00:00+00:00  0.001414  0.002443
2025-07-30 00:00:00+00:00  0.001313  0.003112
2025-07-31 00:00:00+00:00  0.001219  0.002889
2025-08-01 00:00:00+00:00  0.002106  0.002683

[7152 rows x 2 columns]

In [138]:
# Even Better Sine Wave, ustawienia standardowe
# Default Inputs: length=40, bars=10, offset=0 <- parametry do modyfikacji
df.ta.ebsw(append=True)

C:\Users\mt242\AppData\Local\Temp\ipykernel_43464\965367681.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.ta.ebsw(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00    0.156943
2025-07-29 00:00:00+00:00   -0.612977
2025-07-30 00:00:00+00:00   -0.918954
2025-07-31 00:00:00+00:00   -0.984813
2025-08-01 00:00:00+00:00   -0.939068
Name: EBSW_40_10, Length: 7152, dtype: float64

In [139]:
# Efficiency Ratio, ustawienia standardowe
# Default Inputs: length=10, drift=1, offset=0 <- parametry do modyfikacji
df.ta.er(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00    0.100723
2025-07-29 00:00:00+00:00    0.156083
2025-07-30 00:00:00+00:00    0.364168
2025-07-31 00:00:00+00:00    0.394043
2025-08-01 00:00:00+00:00    0.178887
Name: ER_10, Length: 7152, dtype: float64

In [140]:
# Ichimoku Kinko Hyo, ustawienia standardowe
# Default Inputs: tenkan=9, kijun=26, senkou=52, include_chikou=True, offset=0 <- parametry do modyfikacji
df.ta.ichimoku(append=True)

(                              ISA_9    ISB_26     ITS_9    IKS_26   ICS_26
 timestamp
 2003-05-04 00:00:00+00:00       NaN       NaN       NaN       NaN  1.17337
 2003-05-05 00:00:00+00:00       NaN       NaN       NaN       NaN  1.16444
 2003-05-06 00:00:00+00:00       NaN       NaN       NaN       NaN  1.18397
 2003-05-07 00:00:00+00:00       NaN       NaN       NaN       NaN  1.16973
 2003-05-08 00:00:00+00:00       NaN       NaN       NaN       NaN  1.16989
 ...                             ...       ...       ...       ...      ...
 2025-07-28 00:00:00+00:00  1.154422  1.140950  1.168685  1.169320      NaN
 2025-07-29 00:00:00+00:00  1.156655  1.140950  1.165375  1.167430      NaN
 2025-07-30 00:00:00+00:00  1.159455  1.142790  1.159475  1.161530      NaN
 2025-07-31 00:00:00+00:00  1.161633  1.144745  1.159475  1.160540      NaN
 2025-08-01 00:00:00+00:00  1.161742  1.144745  1.159010  1.160075      NaN

 [7152 rows x 5 columns],
                               ISA_9    ISB_26
 2025-08-04 00:00:00+00:00  1.164905  1.144745
 2025-08-05 00:00:00+00:00  1.165522  1.144745
 2025-08-06 00:00:00+00:00  1.167460  1.144745
 2025-08-07 00:00:00+00:00  1.167905  1.144745
 2025-08-08 00:00:00+00:00  1.167875  1.144745
 2025-08-11 00:00:00+00:00  1.167875  1.144745
 2025-08-12 00:00:00+00:00  1.168178  1.144745
 2025-08-13 00:00:00+00:00  1.168705  1.146230
 2025-08-14 00:00:00+00:00  1.168675  1.148030
 2025-08-15 00:00:00+00:00  1.168003  1.148030
 2025-08-18 00:00:00+00:00  1.166467  1.148030
 2025-08-19 00:00:00+00:00  1.165707  1.150045
 2025-08-20 00:00:00+00:00  1.164937  1.150095
 2025-08-21 00:00:00+00:00  1.164547  1.152005
 2025-08-22 00:00:00+00:00  1.164728  1.152005
 2025-08-25 00:00:00+00:00  1.164022  1.152005
 2025-08-26 00:00:00+00:00  1.165010  1.152005
 2025-08-27 00:00:00+00:00  1.168047  1.152005
 2025-08-28 00:00:00+00:00  1.168292  1.152005
 2025-08-29 00:00:00+00:00  1.168292  1.152005
 2025-09-01 00:00:00+00:00  1.168292  1.152005
 2025-09-02 00:00:00+00:00  1.169002  1.152640
 2025-09-03 00:00:00+00:00  1.166403  1.157105
 2025-09-04 00:00:00+00:00  1.160502  1.158665
 2025-09-05 00:00:00+00:00  1.160008  1.159110
 2025-09-08 00:00:00+00:00  1.159543  1.159330)

In [141]:
# Linear Regression, ustawienia standardowe
# Default Inputs: length=10, offset=0 <- parametry do modyfikacji
df.ta.linreg(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00    1.171663
2025-07-29 00:00:00+00:00    1.168764
2025-07-30 00:00:00+00:00    1.163186
2025-07-31 00:00:00+00:00    1.157406
2025-08-01 00:00:00+00:00    1.156071
Name: LR_14, Length: 7152, dtype: float64

In [142]:
# Parabolic Stop and Reverse, ustawienia standardowe
# Default Inputs: af0=0.02, af=0.02, max_af=0.2, offset=0 <- parametry do modyfikacji
df.ta.psar(append=True)

,PSARl_0.02_0.2,PSARs_0.02_0.2,PSARaf_0.02_0.2,PSARr_0.02_0.2
timestamp,,,,
2003-05-04 00:00:00+00:00,NaN,NaN,0.02,0
2003-05-05 00:00:00+00:00,NaN,1.130090,0.02,1
2003-05-06 00:00:00+00:00,1.120140,NaN,0.02,1
2003-05-07 00:00:00+00:00,1.120140,NaN,0.02,0
2003-05-08 00:00:00+00:00,1.120638,NaN,0.04,0
...,...,...,...,...
2025-07-28 00:00:00+00:00,NaN,1.178870,0.02,1
2025-07-29 00:00:00+00:00,NaN,1.178463,0.04,0
2025-07-30 00:00:00+00:00,NaN,1.177399,0.06,0
2025-07-31 00:00:00+00:00,NaN,1.175160,0.06,0
2025-08-01 00:00:00+00:00,NaN,1.173055,0.08,0

In [143]:
# Slope, ustawienia standardowe
# Default Inputs: length=1, as_angle=False, to_degrees=False, vertical=None, offset=0 <- parametry do modyfikacji
df.ta.slope(append=True)

timestamp
2003-05-04 00:00:00+00:00        NaN
2003-05-05 00:00:00+00:00    0.00755
2003-05-06 00:00:00+00:00    0.01310
2003-05-07 00:00:00+00:00   -0.00740
2003-05-08 00:00:00+00:00    0.01326
                              ...
2025-07-28 00:00:00+00:00   -0.01591
2025-07-29 00:00:00+00:00   -0.00457
2025-07-30 00:00:00+00:00   -0.01228
2025-07-31 00:00:00+00:00   -0.00061
2025-08-01 00:00:00+00:00    0.01613
Name: SLOPE_1, Length: 7152, dtype: float64

In [144]:
# Supertrend, ustawienia standardowe
# Default Inputs: length=7, multiplier=3.0, offset=0 <- parametry do modyfikacji
df.ta.supertrend(append=True)

,SUPERT_7_3.0,SUPERTd_7_3.0,SUPERTl_7_3.0,SUPERTs_7_3.0
timestamp,,,,
2003-05-04 00:00:00+00:00,0.000000,1,NaN,NaN
2003-05-05 00:00:00+00:00,NaN,1,NaN,NaN
2003-05-06 00:00:00+00:00,NaN,1,NaN,NaN
2003-05-07 00:00:00+00:00,NaN,1,NaN,NaN
2003-05-08 00:00:00+00:00,NaN,1,NaN,NaN
...,...,...,...,...
2025-07-28 00:00:00+00:00,1.159619,1,1.159619,NaN
2025-07-29 00:00:00+00:00,1.179974,-1,NaN,1.179974
2025-07-30 00:00:00+00:00,1.176671,-1,NaN,1.176671
2025-07-31 00:00:00+00:00,1.169674,-1,NaN,1.169674
2025-08-01 00:00:00+00:00,1.169674,-1,NaN,1.169674

In [145]:
# TD Sequential, ustawienia standardowe
# Default Inputs: asint=False, offset=0 <- parametry do modyfikacji
df.ta.td_seq(append=True)

      TD_SEQ_UP  TD_SEQ_DN
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
7147        NaN        NaN
7148        NaN        NaN
7149        NaN        NaN
7150        NaN        NaN
7151        NaN        NaN

[7152 rows x 2 columns]

In [146]:
# TTM Trend, ustawienia standardowe
# Default Inputs: length=6, offset=0 <- parametry do modyfikacji
df.ta.ttm_trend(append=True)

                           TTM_TRND_6
timestamp
2003-05-04 00:00:00+00:00          -1
2003-05-05 00:00:00+00:00          -1
2003-05-06 00:00:00+00:00          -1
2003-05-07 00:00:00+00:00          -1
2003-05-08 00:00:00+00:00          -1
...                               ...
2025-07-28 00:00:00+00:00          -1
2025-07-29 00:00:00+00:00          -1
2025-07-30 00:00:00+00:00          -1
2025-07-31 00:00:00+00:00          -1
2025-08-01 00:00:00+00:00           1

[7152 rows x 1 columns]

In [147]:
# Vertical Horizontal Filter, ustawienia standardowe
# Default Inputs: length=28, drift=1, offset=0 <- parametry do modyfikacji
df.ta.vhf(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00    0.265252
2025-07-29 00:00:00+00:00    0.309263
2025-07-30 00:00:00+00:00    0.409022
2025-07-31 00:00:00+00:00    0.417447
2025-08-01 00:00:00+00:00    0.375969
Name: VHF_28, Length: 7152, dtype: float64

In [148]:
# Vortex Indicator, ustawienia standardowe
# Default Inputs: length=14, drift=1, offset=0 <- parametry do modyfikacji
df.ta.vortex(append=True)

                            VTXP_14   VTXM_14
timestamp
2003-05-04 00:00:00+00:00       NaN       NaN
2003-05-05 00:00:00+00:00       NaN       NaN
2003-05-06 00:00:00+00:00       NaN       NaN
2003-05-07 00:00:00+00:00       NaN       NaN
2003-05-08 00:00:00+00:00       NaN       NaN
...                             ...       ...
2025-07-28 00:00:00+00:00  0.912482  0.934432
2025-07-29 00:00:00+00:00  0.861477  1.065235
2025-07-30 00:00:00+00:00  0.786592  1.090566
2025-07-31 00:00:00+00:00  0.833903  1.182757
2025-08-01 00:00:00+00:00  0.853007  1.089655

[7152 rows x 2 columns]

Oscylatory i wskaźniki pędu (momentum)

1. ao (Awesome Oscillator)
2. apo (Absolute Price Oscillator)
3. bias (Bias)
4. bop (Balance of Power)
5. brar (AR/BR Ratio)
6. cci (Commodity Channel Index)
7. cfo (Chande Forecast Oscillator)
8. cg (Center of Gravity)
9. cmo (Chande Momentum Oscillator)
10. coppock (Coppock Curve) <- oscylator miesięczny, trzeba dostosować parametry: 14 -> 14*21=294, 11 -> 11*21=231, 10 -> 10*21=210, 
Default Inputs: length=10, fast=11, slow=14
11. dpo (Detrended Price Oscillator)
12. eri (Elder Ray Index)
13. fisher (Fisher Transform)
14. inertia (Inertia)
15. kdj (KDJ Indicator)
16. kst (KST Oscillator)
17. macd (Moving Average Convergence Divergence)
18. mom (Momentum)
19. pgo (Pretty Good Oscillator)
20. ppo (Percentage Price Oscillator)
21. psl (Psychological Line)
22. qqe (Quantitative Qualitative Estimation)
23. qstick (QStick)
24. roc (Rate of Change)
25. rsi (Relative Strength Index)
26. rsx (Relative Strength Xtra)
27. rvgi (Relative Vigor Index)
28. smi (Stochastic Momentum Index)
29. stc (Schaff Trend Cycle)
30. stoch (Stochastic Oscillator)
31. stochrsi (Stochastic RSI)
32. thermo (Thermometer)
33. trix (Trix)
34. tsi (True Strength Index)
35. uo (Ultimate Oscillator)
36. willr (Williams' %R)

Wskaźniki zmienności i kanały

1. aberration (Aberration)
2. accbands (Acceleration Bands)
3. atr (Average True Range)
4. bbands (Bollinger Bands)
5. chop (Choppiness Index)
6. cksp (Chande Kroll Stop)
7. donchian (Donchian Channels)
8. entropy (Information Entropy)
9. hilo (High-Low Channels)
10. kc (Keltner Channels)
11. massi (Mass Index)
12. natr (Normalized Average True Range)
13. rvi (Relative Volatility Index)
14. squeeze (TTM Squeeze)
15. squeeze_pro (TTM Squeeze Pro)
16. tos_stdevall (thinkorswim Standard Deviation All)
17. true_range (True Range)
18. ui (Ulcer Index)

In [149]:
# Aberration, ustawienia standardowe
# Default Inputs: length=5, atr_length=15, offset=0 <- parametry do modyfikacji
df.ta.aberration(append=True)

,ABER_ZG_5_15,ABER_SG_5_15,ABER_XG_5_15,ABER_ATR_5_15
timestamp,,,,
2003-05-04 00:00:00+00:00,NaN,NaN,NaN,NaN
2003-05-05 00:00:00+00:00,NaN,NaN,NaN,NaN
2003-05-06 00:00:00+00:00,NaN,NaN,NaN,NaN
2003-05-07 00:00:00+00:00,NaN,NaN,NaN,NaN
2003-05-08 00:00:00+00:00,1.133375,NaN,NaN,NaN
...,...,...,...,...
2025-07-28 00:00:00+00:00,1.173106,1.180681,1.165531,0.007575
2025-07-29 00:00:00+00:00,1.169141,1.176745,1.161537,0.007604
2025-07-30 00:00:00+00:00,1.163325,1.171566,1.155083,0.008242
2025-07-31 00:00:00+00:00,1.157223,1.165281,1.149166,0.008058
2025-08-01 00:00:00+00:00,1.152535,1.161424,1.143645,0.008890

In [150]:
# Acceleration Bands, ustawienia standardowe
# Default Inputs: length=10, c=4, mamode='sma', drift=1, offset=0 <- parametry do modyfikacji
df.ta.accbands(append=True)

                           ACCBL_20  ACCBM_20  ACCBU_20
timestamp
2003-05-04 00:00:00+00:00       NaN       NaN       NaN
2003-05-05 00:00:00+00:00       NaN       NaN       NaN
2003-05-06 00:00:00+00:00       NaN       NaN       NaN
2003-05-07 00:00:00+00:00       NaN       NaN       NaN
2003-05-08 00:00:00+00:00       NaN       NaN       NaN
...                             ...       ...       ...
2025-07-28 00:00:00+00:00  1.151726  1.169352  1.187469
2025-07-29 00:00:00+00:00  1.149749  1.168205  1.187262
2025-07-30 00:00:00+00:00  1.147643  1.166663  1.186866
2025-07-31 00:00:00+00:00  1.146535  1.165154  1.185065
2025-08-01 00:00:00+00:00  1.143510  1.164380  1.185922

[7152 rows x 3 columns]

In [151]:
# Average True Range, ustawienia standardowe
# Default Inputs: length=14, mamode='rma', talib=True, drift=1, offset=0 <- parametry do modyfikacji
df.ta.atr(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00    0.007586
2025-07-29 00:00:00+00:00    0.007616
2025-07-30 00:00:00+00:00    0.008299
2025-07-31 00:00:00+00:00    0.008097
2025-08-01 00:00:00+00:00    0.008986
Name: ATRr_14, Length: 7152, dtype: float64

In [152]:
# Bollinger Bands, ustawienia standardowe
# Default Inputs: length=5, std=2, ddof=0, mamode='sma', talib=True, offset=0 <- parametry do modyfikacji
df.ta.bbands(append=True)

,BBL_5_2.0,BBM_5_2.0,BBU_5_2.0,BBB_5_2.0,BBP_5_2.0
timestamp,,,,,
2003-05-04 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2003-05-05 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2003-05-06 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2003-05-07 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2003-05-08 00:00:00+00:00,1.116562,1.135282,1.154002,3.297886,0.845029
...,...,...,...,...,...
2025-07-28 00:00:00+00:00,1.159452,1.172382,1.185312,2.205717,0.006872
2025-07-29 00:00:00+00:00,1.150370,1.167928,1.185486,3.006677,0.133555
2025-07-30 00:00:00+00:00,1.136936,1.161394,1.185852,4.211789,0.119466
2025-07-31 00:00:00+00:00,1.130423,1.155036,1.179649,4.261896,0.238636
2025-08-01 00:00:00+00:00,1.136408,1.151588,1.166768,2.636445,0.721073

In [153]:
# Choppiness Index, ustawienia standardowe
# Default Inputs: length=14, atr_length=1, ln=False, scalar=100, drift=1, offset=0 <- parametry do modyfikacji
df.ta.chop(append=True)

timestamp
2003-05-04 00:00:00+00:00          NaN
2003-05-05 00:00:00+00:00          NaN
2003-05-06 00:00:00+00:00          NaN
2003-05-07 00:00:00+00:00          NaN
2003-05-08 00:00:00+00:00          NaN
                               ...
2025-07-28 00:00:00+00:00    57.606553
2025-07-29 00:00:00+00:00    53.837323
2025-07-30 00:00:00+00:00    44.203085
2025-07-31 00:00:00+00:00    42.808689
2025-08-01 00:00:00+00:00    43.350934
Name: CHOP_14_1_100, Length: 7152, dtype: float64

In [154]:
# Chande Kroll Stop, ustawienia standardowe
# Default Inputs: p=10, x=1, q=9, tvmode=True, offset=0 <- parametry do modyfikacji
df.ta.cksp(append=True)

                           CKSPl_10_3_20  CKSPs_10_3_20
timestamp
2003-05-04 00:00:00+00:00            NaN            NaN
2003-05-05 00:00:00+00:00            NaN            NaN
2003-05-06 00:00:00+00:00            NaN            NaN
2003-05-07 00:00:00+00:00            NaN            NaN
2003-05-08 00:00:00+00:00            NaN            NaN
...                                  ...            ...
2025-07-28 00:00:00+00:00       1.163253       1.175247
2025-07-29 00:00:00+00:00       1.162446       1.175143
2025-07-30 00:00:00+00:00       1.162446       1.166168
2025-07-31 00:00:00+00:00       1.162446       1.165203
2025-08-01 00:00:00+00:00       1.162446       1.165203

[7152 rows x 2 columns]

In [155]:
# Donchian Channels, ustawienia standardowe
# Default Inputs: lower_length=20, upper_length=20, offset=0 <- parametry do modyfikacji
df.ta.donchian(append=True)

                           DCL_20_20  DCM_20_20  DCU_20_20
timestamp
2003-05-04 00:00:00+00:00        NaN        NaN        NaN
2003-05-05 00:00:00+00:00        NaN        NaN        NaN
2003-05-06 00:00:00+00:00        NaN        NaN        NaN
2003-05-07 00:00:00+00:00        NaN        NaN        NaN
2003-05-08 00:00:00+00:00        NaN        NaN        NaN
...                              ...        ...        ...
2025-07-28 00:00:00+00:00    1.15566   1.167335    1.17901
2025-07-29 00:00:00+00:00    1.15188   1.165445    1.17901
2025-07-30 00:00:00+00:00    1.14008   1.159475    1.17887
2025-07-31 00:00:00+00:00    1.14008   1.159475    1.17887
2025-08-01 00:00:00+00:00    1.13915   1.159010    1.17887

[7152 rows x 3 columns]

In [156]:
# Information Entropy, ustawienia standardowe
# Default Inputs: length=10, base=2, offset=0 <- parametry do modyfikacji
df.ta.entropy(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00    3.325034
2025-07-29 00:00:00+00:00    3.323890
2025-07-30 00:00:00+00:00    3.320776
2025-07-31 00:00:00+00:00    3.317604
2025-08-01 00:00:00+00:00    3.316120
Name: ENTP_10, Length: 7152, dtype: float64

In [157]:
# High-Low Channels, ustawienia standardowe
# Default Inputs: high_length=13, low_length=21, mamode='sma', offset=0 <- parametry do modyfikacji
df.ta.hilo(append=True)

                           HILO_13_21  HILOl_13_21  HILOs_13_21
timestamp
2003-05-04 00:00:00+00:00         NaN          NaN          NaN
2003-05-05 00:00:00+00:00         NaN          NaN          NaN
2003-05-06 00:00:00+00:00         NaN          NaN          NaN
2003-05-07 00:00:00+00:00         NaN          NaN          NaN
2003-05-08 00:00:00+00:00         NaN          NaN          NaN
...                               ...          ...          ...
2025-07-28 00:00:00+00:00    1.172289          NaN     1.172289
2025-07-29 00:00:00+00:00    1.171528          NaN     1.171528
2025-07-30 00:00:00+00:00    1.170605          NaN     1.170605
2025-07-31 00:00:00+00:00    1.168601          NaN     1.168601
2025-08-01 00:00:00+00:00    1.168299          NaN     1.168299

[7152 rows x 3 columns]

In [158]:
# Keltner Channels, ustawienia standardowe
# Default Inputs: length=20, scalar=2, mamode='ema', offset=0 <- parametry do modyfikacji
df.ta.kc(append=True)

                           KCLe_20_2  KCBe_20_2  KCUe_20_2
timestamp
2003-05-04 00:00:00+00:00        NaN        NaN        NaN
2003-05-05 00:00:00+00:00        NaN        NaN        NaN
2003-05-06 00:00:00+00:00        NaN        NaN        NaN
2003-05-07 00:00:00+00:00        NaN        NaN        NaN
2003-05-08 00:00:00+00:00        NaN        NaN        NaN
...                              ...        ...        ...
2025-07-28 00:00:00+00:00   1.153341   1.168734   1.184128
2025-07-29 00:00:00+00:00   1.151979   1.167432   1.182885
2025-07-30 00:00:00+00:00   1.147832   1.165084   1.182336
2025-07-31 00:00:00+00:00   1.146249   1.162902   1.179555
2025-08-01 00:00:00+00:00   1.143484   1.162464   1.181443

[7152 rows x 3 columns]

In [159]:
# Mass Index, ustawienia standardowe
# Default Inputs: fast=9, slow=25, offset=0 <- parametry do modyfikacji
df.ta.massi(append=True)

timestamp
2003-05-04 00:00:00+00:00          NaN
2003-05-05 00:00:00+00:00          NaN
2003-05-06 00:00:00+00:00          NaN
2003-05-07 00:00:00+00:00          NaN
2003-05-08 00:00:00+00:00          NaN
                               ...
2025-07-28 00:00:00+00:00    24.544247
2025-07-29 00:00:00+00:00    24.753080
2025-07-30 00:00:00+00:00    25.100503
2025-07-31 00:00:00+00:00    25.298507
2025-08-01 00:00:00+00:00    25.605867
Name: MASSI_9_25, Length: 7152, dtype: float64

In [160]:
# Normalized Average True Range, ustawienia standardowe
# Default Inputs: length=20, scalar=100, mamode='ema', talib=True, drift=1, offset=0 <- parametry do modyfikacji
df.ta.natr(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00    0.686464
2025-07-29 00:00:00+00:00    0.689752
2025-07-30 00:00:00+00:00    0.804539
2025-07-31 00:00:00+00:00    0.761611
2025-08-01 00:00:00+00:00    0.887310
Name: NATR_14, Length: 7152, dtype: float64

In [161]:
# Relative Volatility Index, ustawienia standardowe
# Default Inputs: length=14, scalar=100, refined=False, thirds=False, mamode='ema', drift=1, offset=0 <- parametry do modyfikacji
df.ta.rvi(append=True)

timestamp
2003-05-04 00:00:00+00:00          NaN
2003-05-05 00:00:00+00:00          NaN
2003-05-06 00:00:00+00:00          NaN
2003-05-07 00:00:00+00:00          NaN
2003-05-08 00:00:00+00:00          NaN
                               ...
2025-07-28 00:00:00+00:00    49.893494
2025-07-29 00:00:00+00:00    41.993566
2025-07-30 00:00:00+00:00    33.707001
2025-07-31 00:00:00+00:00    26.550435
2025-08-01 00:00:00+00:00    41.104084
Name: RVI_14, Length: 7152, dtype: float64

In [162]:
# TTM Squeeze, ustawienia standardowe
# Default Inputs: bb_length=20, bb_std=2, kc_length=20, kc_scalar=1.5, mom_length=12, mom_smooth=6, use_tr=True, mamode='sma', offset=0 <- parametry do modyfikacji
df.ta.squeeze(append=True)

                           SQZ_20_2.0_20_1.5  SQZ_ON  SQZ_OFF  SQZ_NO
timestamp
2003-05-04 00:00:00+00:00                NaN       0        0       1
2003-05-05 00:00:00+00:00                NaN       0        0       1
2003-05-06 00:00:00+00:00                NaN       0        0       1
2003-05-07 00:00:00+00:00                NaN       0        0       1
2003-05-08 00:00:00+00:00                NaN       0        0       1
...                                      ...     ...      ...     ...
2025-07-28 00:00:00+00:00           0.002693       0        1       0
2025-07-29 00:00:00+00:00           0.001512       0        1       0
2025-07-30 00:00:00+00:00          -0.002538       0        1       0
2025-07-31 00:00:00+00:00          -0.006638       0        1       0
2025-08-01 00:00:00+00:00          -0.008173       0        1       0

[7152 rows x 4 columns]

In [163]:
# TTM Squeeze Pro, ustawienia standardowe
# Default Inputs: bb_length=20, bb_std=2, kc_length=20, kc_scalar_wide=2, kc_scalar_normal=1.5, kc_scalar_narrow=1, mom_length=12, mom_smooth=6, use_tr=True, mamode='sma', offset=0 <- parametry do modyfikacji
df.ta.squeeze_pro(append=True)

,SQZPRO_20_2.0_20_2_1.5_1,SQZPRO_ON_WIDE,SQZPRO_ON_NORMAL,SQZPRO_ON_NARROW,SQZPRO_OFF,SQZPRO_NO
timestamp,,,,,,
2003-05-04 00:00:00+00:00,NaN,0,0,0,0,1
2003-05-05 00:00:00+00:00,NaN,0,0,0,0,1
2003-05-06 00:00:00+00:00,NaN,0,0,0,0,1
2003-05-07 00:00:00+00:00,NaN,0,0,0,0,1
2003-05-08 00:00:00+00:00,NaN,0,0,0,0,1
...,...,...,...,...,...,...
2025-07-28 00:00:00+00:00,0.002693,1,0,0,0,0
2025-07-29 00:00:00+00:00,0.001512,1,0,0,0,0
2025-07-30 00:00:00+00:00,-0.002538,0,0,0,1,0
2025-07-31 00:00:00+00:00,-0.006638,0,0,0,1,0
2025-08-01 00:00:00+00:00,-0.008173,0,0,0,1,0

In [164]:
# Think or Swim Standard Deviation All, ustawienia standardowe
# Default Inputs: length=None (means All), stds=[1,2,3], ddof=1, offset=0 <- parametry do modyfikacji
df.ta.tos_stdevall(append=True)

,TOS_STDEVALL_LR,TOS_STDEVALL_L_1,TOS_STDEVALL_U_1,TOS_STDEVALL_L_2,TOS_STDEVALL_U_2,TOS_STDEVALL_L_3,TOS_STDEVALL_U_3
timestamp,,,,,,,
2003-05-04 00:00:00+00:00,1.369040,1.241146,1.496935,1.113252,1.624829,0.985357,1.752723
2003-05-05 00:00:00+00:00,1.369001,1.241106,1.496895,1.113212,1.624789,0.985318,1.752684
2003-05-06 00:00:00+00:00,1.368961,1.241067,1.496856,1.113173,1.624750,0.985278,1.752644
2003-05-07 00:00:00+00:00,1.368922,1.241027,1.496816,1.113133,1.624710,0.985239,1.752605
2003-05-08 00:00:00+00:00,1.368882,1.240988,1.496777,1.113094,1.624671,0.985199,1.752565
...,...,...,...,...,...,...,...
2025-07-28 00:00:00+00:00,1.086748,0.958854,1.214642,0.830959,1.342537,0.703065,1.470431
2025-07-29 00:00:00+00:00,1.086708,0.958814,1.214603,0.830920,1.342497,0.703026,1.470391
2025-07-30 00:00:00+00:00,1.086669,0.958775,1.214563,0.830880,1.342458,0.702986,1.470352
2025-07-31 00:00:00+00:00,1.086629,0.958735,1.214524,0.830841,1.342418,0.702947,1.470312
2025-08-01 00:00:00+00:00,1.086590,0.958696,1.214484,0.830801,1.342379,0.702907,1.470273

In [165]:
# True Range, ustawienia standardowe
# Default Inputs: talib=True, drift=1, offset=0 <- parametry do modyfikacji
df.ta.true_range(append=True)

timestamp
2003-05-04 00:00:00+00:00        NaN
2003-05-05 00:00:00+00:00    0.00995
2003-05-06 00:00:00+00:00    0.01783
2003-05-07 00:00:00+00:00    0.01058
2003-05-08 00:00:00+00:00    0.02071
                              ...
2025-07-28 00:00:00+00:00    0.01850
2025-07-29 00:00:00+00:00    0.00801
2025-07-30 00:00:00+00:00    0.01717
2025-07-31 00:00:00+00:00    0.00548
2025-08-01 00:00:00+00:00    0.02054
Name: TRUERANGE_1, Length: 7152, dtype: float64

In [166]:
# Ulcer Index, ustawienia standardowe
# Default Inputs: length=14, scalar=100, offset=0 <- parametry do modyfikacji
df.ta.ui(append=True)

timestamp
2003-05-04 00:00:00+00:00         NaN
2003-05-05 00:00:00+00:00         NaN
2003-05-06 00:00:00+00:00         NaN
2003-05-07 00:00:00+00:00         NaN
2003-05-08 00:00:00+00:00         NaN
                               ...
2025-07-28 00:00:00+00:00    1.074635
2025-07-29 00:00:00+00:00    1.154609
2025-07-30 00:00:00+00:00    1.359337
2025-07-31 00:00:00+00:00    1.511260
2025-08-01 00:00:00+00:00    1.524112
Name: UI_14, Length: 7152, dtype: float64

In [167]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7152 entries, 2003-05-04 00:00:00+00:00 to 2025-08-01 00:00:00+00:00
Data columns (total 85 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   open                      7152 non-null   float64
 1   high                      7152 non-null   float64
 2   low                       7152 non-null   float64
 3   close                     7152 non-null   float64
 4   volume                    7152 non-null   float64
 5   ADX_14                    7125 non-null   float64
 6   DMP_14                    7138 non-null   float64
 7   DMN_14                    7138 non-null   float64
 8   AMATe_LR_8_21_2           7152 non-null   int32
 9   AMATe_SR_8_21_2           7152 non-null   int32
 10  AROOND_14                 7138 non-null   float64
 11  AROONU_14                 7138 non-null   float64
 12  AROONOSC_14               7138 non-null   float64
 13  CTI_12                    7141 non-null   float64
 14  EBSW_40_10                7113 non-null   float64
 15  ER_10                     7142 non-null   float64
 16  ISA_9                     7101 non-null   float64
 17  ISB_26                    7075 non-null   float64
 18  ITS_9                     7144 non-null   float64
 19  IKS_26                    7127 non-null   float64
 20  ICS_26                    7126 non-null   float64
 21  LR_14                     7139 non-null   float64
 22  PSARl_0.02_0.2            3652 non-null   float64
 23  PSARs_0.02_0.2            3499 non-null   float64
 24  PSARaf_0.02_0.2           7152 non-null   float64
 25  PSARr_0.02_0.2            7152 non-null   int64
 26  SLOPE_1                   7151 non-null   float64
 27  SUPERT_7_3.0              7146 non-null   float64
 28  SUPERTd_7_3.0             7152 non-null   int64
 29  SUPERTl_7_3.0             3463 non-null   float64
 30  SUPERTs_7_3.0             3682 non-null   float64
 31  TD_SEQ_UP                 0 non-null      float64
 32  TD_SEQ_DN                 0 non-null      float64
 33  TTM_TRND_6                7152 non-null   int32
 34  VHF_28                    7124 non-null   float64
 35  VTXP_14                   7138 non-null   float64
 36  VTXM_14                   7138 non-null   float64
 37  ABER_ZG_5_15              7148 non-null   float64
 38  ABER_SG_5_15              7137 non-null   float64
 39  ABER_XG_5_15              7137 non-null   float64
 40  ABER_ATR_5_15             7137 non-null   float64
 41  ACCBL_20                  7133 non-null   float64
 42  ACCBM_20                  7133 non-null   float64
 43  ACCBU_20                  7133 non-null   float64
 44  ATRr_14                   7138 non-null   float64
 45  BBL_5_2.0                 7148 non-null   float64
 46  BBM_5_2.0                 7148 non-null   float64
 47  BBU_5_2.0                 7148 non-null   float64
 48  BBB_5_2.0                 7148 non-null   float64
 49  BBP_5_2.0                 7148 non-null   float64
 50  CHOP_14_1_100             7138 non-null   float64
 51  CKSPl_10_3_20             7123 non-null   float64
 52  CKSPs_10_3_20             7123 non-null   float64
 53  DCL_20_20                 7133 non-null   float64
 54  DCM_20_20                 7133 non-null   float64
 55  DCU_20_20                 7133 non-null   float64
 56  ENTP_10                   7134 non-null   float64
 57  HILO_13_21                7132 non-null   float64
 58  HILOl_13_21               4327 non-null   float64
 59  HILOs_13_21               4408 non-null   float64
 60  KCLe_20_2                 7133 non-null   float64
 61  KCBe_20_2                 7133 non-null   float64
 62  KCUe_20_2                 7133 non-null   float64
 63  MASSI_9_25                7120 non-null   float64
 64  NATR_14                   7139 non-null   float64
 65  RVI_14                    7139 non-null   float64
 66  SQZ_20_2.0_20_1.5         7135 non-null   float64
 67  SQZ_ON                    7152 non-null   int32
 68  SQZ_OFF                   7152 non-null   int32
 69  SQZ_NO                    7152 non-null   int32
 70  SQZPRO_20_2.0_20_2_1.5_1  7135 non-null   float64
 71  SQZPRO_ON_WIDE            7152 non-null   int32
 72  SQZPRO_ON_NORMAL          7152 non-null   int32
 73  SQZPRO_ON_NARROW          7152 non-null   int32
 74  SQZPRO_OFF                7152 non-null   int32
 75  SQZPRO_NO                 7152 non-null   int32
 76  TOS_STDEVALL_LR           7152 non-null   float64
 77  TOS_STDEVALL_L_1          7152 non-null   float64
 78  TOS_STDEVALL_U_1          7152 non-null   float64
 79  TOS_STDEVALL_L_2          7152 non-null   float64
 80  TOS_STDEVALL_U_2          7152 non-null   float64
 81  TOS_STDEVALL_L_3          7152 non-null   float64
 82  TOS_STDEVALL_U_3          7152 non-null   float64
 83  TRUERANGE_1               7151 non-null   float64
 84  UI_14                     7126 non-null   float64
dtypes: float64(72), int32(11), int64(2)
memory usage: 4.4 MB

Wskaźniki wolumenu

1. ad (Accumulation/Distribution Line)
2. adosc (Chaikin Oscillator)
3. aobv (Adaptive On-Balance Volume)
4. cmf (Chaikin Money Flow)
5. efi (Elder's Force Index)
6. eom (Ease of Movement)
7. kvo (Klinger Volume Oscillator)
8. mfi (Money Flow Index)
9. nvi (Negative Volume Index)
10. obv (On-Balance Volume)
11. pvi (Positive Volume Index)
12. pvo (Percentage Volume Oscillator)
13. pvol (Price-Volume)
14. pvr (Price-Volume Rank)
15. pvt (Price and Volume Trend)
16. vp (Volume Profile)
17. vwap (Volume-Weighted Average Price)
18. vwma (Volume-Weighted Moving Average)

Funkcje rozpoznające formacje świecowe

cdl_pattern (Candlestick Pattern)

cdl_z (Candlestick Z-Score)

Średnie Kroczące, filtry i funkcje wygładzające średnie

alma (Arnaud Legoux Moving Average)

dema (Double Exponential Moving Average)

ema (Exponential Moving Average)

fwma (Fibonacci's Weighted Moving Average)

hma (Hull Moving Average)

hwma (Holt-Winters Moving Average)

jma (Jurik Moving Average)

kama (Kaufman's Adaptive Moving Average)

mcgd (McGinley Dynamic)

pwma (Pascal's Weighted Moving Average)

rma (Running Moving Average)

sinwma (Sine Weighted Moving Average)

sma (Simple Moving Average)

ssf (Ehlers Super Smoother Filter)

swma (Symmetric Weighted Moving Average)

t3 (T3 Moving Average)

tema (Triple Exponential Moving Average)

trima (Triangular Moving Average)

vidya (Variable Index Dynamic Average)

wma (Weighted Moving Average)

zlma (Zero Lag Moving Average)

Miary statystyczne i pomocnicze

decay (Decay)

hwc / wcp (Heavily Weighted Close / Weighted Close Price)

hl2 (High-Low 2)

hlc3 (High-Low-Close 3)

kurtosis (Kurtoza)

log_return (Logarithmic Return)

mad (Mean Absolute Deviation)

median (Mediana)

midpoint (Midpoint)

midprice (Midprice)

ohlc4 (Open-High-Low-Close 4)

pdist (Price Distance)

percent_return (Percent Return)

quantile (Kwantyl)

skew (Skośność)

stdev (Standard Deviation)

variance (Wariancja)

zscore (Z-Score)